[2018-11-25 09:32] andrjohns commented on #989
Excellent, I'll work through some of these in my spare time. I'll leave the sparse stuff for now since I'd have to get more familiar with the implementation, but I'll call dibs on:

- cumulative_sum
- diag_pre_multiply
- diag_post_multiply

[2018-11-26 00:33] bbbales2 commented on #989
Cool! I know it's probably a bit annoying, but you should build in little performance tests to convince yourself that adj_jac_apply is actually speeding things up. It's unfortunately fairly easy to write code that will be less efficient operation-wise than regular ol' autodiff :D.

[2018-11-26 00:35] bbbales2 commented on #989
I don't think the performance tests need to be part of the pull, btw. You can just report your results here and maybe share the basic code with gists with the reviewer or whatnot. Just double check cause the plain ol' autodiff is pretty quick even if it is pointer-chasing like crazy.

[2018-11-26 16:49] syclik commented on #1068
@wds15, is this an easy fix?

[2018-11-27 02:30] andrjohns commented on #989
That's a good idea, will do. I've got some questions about how to implement adj_jac_apply, but I'll put them on discourse when I get stuck

[2018-11-27 14:43] wds15 commented on #1068
maybe... not sure... need to check

[2018-11-27 14:45] syclik commented on #1068
Thanks. I’ve seen the code a while ago, but I’m not really familiar with it. It’ll take me a little bit just to find where this is. Hopefully you can just leave some notes behind if it’s a longer fix.

[2018-11-27 19:44] wds15 commented on #1068
I think it's fixed... very weird!

[2018-11-28 03:17] bob-carpenter commented on #989
OK---just make sure to put it in the developers category.  I don't have time to read the user sections any more, but am still following the developers parts!

[2018-11-28 07:19] wds15 commented on #1068
fix was merged in #1070

[2018-11-28 07:19] #1068 closed

[2018-12-01 17:02] wds15 opened #1071 "allow time in integrate_ode calls to be autodiff variables"
## Description
The integrate functions currently do now allow to have the initial time or the time vector to be varying. However, in some applications in can be useful to allow the observation time to be varying.

## Example

Right now the initial time and the time vector passed to the integrate_ode function must be data (double) and it would be good to relax this.

## Expected Output

Same output

[2018-12-04 16:32] syclik opened #1073 "matrix_exp_multiply seg faults"
## Description

`matrix_exp_multiply`, as written, currently seg faults.

## Example

This test current seg faults on my machine. I think it may be memory dependent, but not certain.
[code]

## Expected Output
Not seg fault. Return the same result as doing the actions separately.

## Additional Information
Thank you, @rok-cesnovar, for pushing the Windows tests to the point where we were able to f

[2018-12-04 19:30] bob-carpenter commented on #1073
This can't be the permanent test because (a) tests shouldn't write to standard out, and (b) should succeed when the code works.  For (b), I don't see a way this test could succeed---if it doesn't segfault, it hits the FAIL() macro.

[2018-12-04 19:31] syclik commented on #1073
See the updated branch. I put that original test in there to demonstrate the seg fault. It's been updated already.

[2018-12-04 20:15] syclik commented on #1073
@rok-cesnovar, I just verified that this patch gets us past the `matrix_exp_multiply` problem in Windows. Thank you for helping with that PR... it's been a lot of help. (even though it's been slow; I didn't expect we'd run into a seg fault issue that is trapped by Windows and not Mac or Linux.)

[2018-12-04 20:58] rok-cesnovar commented on #1073
No problem, glad too help. Besides this, all the remaining Windows issue were fixed so I think we are clear! Great stuff!

[2018-12-04 22:04] syclik opened #1075 "Bug in map_rect_concurrent(); depends on number of threads and number of shards"
## Description
This is the bug that's causing stan-dev/stan#2708.

This bug occurs when threading is turned on and the number of threads is some function of the number of shards.

It occurs in the [`map_rect_concurrent()`](https://github.com/stan-dev/math/blob/develop/stan/math/prim/mat/functor/map_rect_concurrent.hpp#L71) function and this function returns an Eigen vector that is short one elemen

[2018-12-04 23:02] syclik opened #1076 ""numeric overflow" error for models with von Mises distributions and large kappa values"
_From @a-hurst on December 4, 2018 22:59_

#### Summary:
Attempting to run a model that uses the von_mises_lpdf() function will cause the sampler to error out immediately if kappa values are too large (~10 or larger).

#### Description:
When trying to run a model that uses a von Mises distribution via the von_mises_lpdf() function, the sampler crashes immediately with an error about a boost functi

[2018-12-04 23:02] syclik commented on #1076
@a-hurst, thank you very much for reporting. I'm going to move it to the Math library because that's where it'll need to be fixed.

There's going to be a little noise on this issue (the issue mover will close this automatically and I want to reopen it). I'd like the issue to remain open here until we can verify that it's been fixed properly.

[2018-12-04 23:37] syclik commented on #1071
@wds15: I just renamed the issue. Is the title still descriptive? It used to be "allow time as varying in integrate_ode calls"

[2018-12-04 23:47] syclik opened #1077 "Jenkins: convert compiler warnings to errors"
## Description
Ideally, the Math library would not emit compiler warnings. We can have the compilers do this work for us by having Jenkins fail on warnings.

@seantalts made some progress with PR #891. For whatever reason, that wasn't able to stay up-to-date with develop, so we'll try to fix it this time around. (It might have been with the clang autoformat changing around.)

## Expected Output
An

[2018-12-05 17:17] wds15 commented on #1071
Sure...title is better like this. Btw, this feature is important to get lag times in pk models going.

[2018-12-05 17:51] yizhang-cae commented on #1073
Sorry for being late on this. Is the failure compiler/platform dependent? Because on my mac
[code]

[2018-12-05 17:59] #771 closed

[2018-12-05 19:51] syclik commented on #1073
The PR already has a fix on it. Can you reproduce it if you only include
the first commit in the PR?

And it's memory dependent, so running multiple times may result in it
working or not.

On Wed, Dec 5, 2018 at 12:51 PM Yi Zhang <notifications@github.com> wrote:

[2018-12-05 21:56] ahartikainen commented on #1075
Are these correct

    const int num_big_threads
        = (num_jobs - num_jobs_per_thread) % (num_threads - 1);

and

    for (int i = 1, job_start = num_jobs_per_thread, job_size = 0;
                i < num_threads; ++i, job_start += job_size) {
         job_size = i >= first_big_thread ? num_jobs_per_thread + 1
                                       : num_jobs_per_thread;
        futures.empla

[2018-12-06 11:33] ahartikainen commented on #1075
Actually

    const int num_big_threads
    = num_jobs - num_jobs_per_thread * num_threads;

This is same as

    const int num_big_threads
    = num_jobs % num_threads;

[2018-12-06 15:56] sakrejda commented on #1075
@ahartikainen I reviewed this code for @wds15 when it was merged and I even remember going back and forth about how to code it.. if this is the bug no idea how it made it in there!  I recall the motivation was that the main thread should have fewer jobs than the rest of the threads (?) but I haven't reproduced your suggestion about the error yet.  I'll try to look at it tonight.

[2018-12-06 19:17] syclik commented on #1073
@yizhang-cae: to be more specific, can you check out this commit and see if it fails? 1784c1ce87e3d7982600885932d2cc04e283971c. That's the first one that includes the test (and leaves the code alone).

[2018-12-06 19:56] yizhang-cae commented on #1073
You're right. I can reproduce the failure. I'm looking for the cause.

[2018-12-06 19:59] syclik commented on #1073
Thanks. I've searched for it for a while and I don't know... if this PR
looks ok, can we merge it first so we can keep moving forward with fixing
things for Windows? (You should be able to revert the merge that removes
everything to start from there in one step.)

On Thu, Dec 6, 2018 at 2:57 PM Yi Zhang <notifications@github.com> wrote:

[2018-12-06 20:07] syclik commented on #1071
Just to be clear, this would allow either the initial time or the times or both to be autodiff variables? Are there specialization for each of those cases? (So are we looking at 4 different implementations?)

[2018-12-07 05:01] syclik opened #1078 "Jenkins: turn test-math-dependencies warnings into PR failures."
## Description

`test-math-dependencies` should be turned back on. Currently, we have 5 warnings. We'll need to squash those warnings too as we fix this.

## Expected Output

Any warnings here should fail the build.

## Current Math Version
v2.18.0

[2018-12-07 09:46] ahartikainen commented on #1075
I tested this with the stan example ( https://github.com/stan-dev/stan/issues/2708 ) and after making the change to

    const int num_big_threads = num_jobs % num_threads;

there are no errors anymore.

[2018-12-07 12:50] wds15 commented on #1075
Thanks to everyone looking into this! We should check the mpi variant as well, just to make sure. I don’t Have time right now to work on this. Should someone file a pr Before i get to it, then I am happy to review.

[2018-12-07 13:06] sakrejda commented on #1075
I have a fix just making tests, I'll do a pr.

[2018-12-07 14:22] bob-carpenter commented on #1075
Can you close Stan issue 2708 if this is the fix for it?  Or does it need another fix in the stan-dev/stan repo?

[2018-12-07 14:39] bob-carpenter commented on #1075
Is there going to be a PR for Stan with appropriate tests that fail now and succeed after the fix?  If not, I'd close it.  But it's up to you either way.

[2018-12-07 14:42] syclik commented on #1075
I wasn't thinking about that, but I think that's the right thing to do. I
believe we already have tests for threading at the Stan level. If not, we
should have some.

So, yes, let's keep the issue on Stan open. I can think about what tests to
add there so we verify that this is fixed (and won't be broken again for
the exact same reason).

On Fri, Dec 7, 2018 at 9:39 AM Bob Carpenter <notifications

[2018-12-07 18:49] yizhang-cae commented on #1073
I've added a branch https://github.com/yizhang-cae/math/tree/matrix_multiply_seg_fault
to show that seg fault can be introduced to `multiply` function if two lines are added. In that branch run
[code]
will produce a seg fault.

[2018-12-07 19:11] syclik commented on #1073
Cool. Thanks for creating that. Maybe it's the creation of an
Eigen::Matrix<var, -1, -1> inside the vari implementation that does it?
Instead of using random inside, does it also happen if you just set the
first value to 0.0?

On Fri, Dec 7, 2018 at 1:50 PM Yi Zhang <notifications@github.com> wrote:

[2018-12-07 19:20] yizhang-cae commented on #1073
That's my suspicion, and it won't fail if it's
[code]
so it's might be related to the assignment.

[2018-12-07 22:17] bob-carpenter commented on #1073
There shouldn't be any instances of var being created within a vari class.  The var are just pimpl wrappers of vari.

Nor should there be any Matrix member variables because their destructors won't get called.

Is there a line of code you are looking at?itHub, or mute the thread.

[2018-12-10 15:05] syclik commented on #1073
It took me a little while to understand Bob's message, but that's
absolutely correct. There shouldn't be var instances created within a vari
class.

I don't understand the part about the Matrix member variables. The Matrix's
destructor should get called, right? But not the vars within the Matrix?

@bob_carpenter: this example is not realistic. Yi added some unsafe code to
a safe implementation of

[2018-12-10 16:49] bob-carpenter commented on #1073
That int& should just be an int and you don't need const on primitive args (doesn't change the external api).

Eigen's Matrix is an RAII type, so the destructor gets called when it goes out of scope.  But that won't happen if the Matrix is a member variable of a vari.  Then you have to put it on a special stack to call its destructor explicitly.  That is, vari is designed to work without its destr

[2018-12-11 03:39] a-hurst commented on #1076
So I did a bit of digging into this today to see if I could find anything helpful. Here's what I learned:

- The bug isn't macOS specific: it happens with RStan on Ubuntu 16.04 LTS as well.
- The bug only happens sometimes: if I try and run the sampling function a couple times, sometimes it'll work and the chain will start and proceed just fine. I tried running the model with 10 chains, and only 8

[2018-12-11 16:26] bob-carpenter commented on #1076
Thanks a lot for sharing what you found.  I'm sure it'll help in debugging this.

In some cases, we just can't get the stability we need and have reverted to things like normal approximations.  So we can branch on segments of the input domain if necessary.

[2018-12-13 01:24] bgoodri opened #1081 "Upgrade to Boost 1.69.0"
## Description

Math should use Boost 1.69.0 because

https://github.com/boostorg/math/issues/134

fixes a build error with `integrate_1d` on Solaris.

## Example

Try to use `integrate_1d` on Solaris

## Expected Output

A value of the integral

## Additional Information

None

## Current Math Version
v2.18.0

[2018-12-13 22:18] peterwicksstringfield commented on #1040
I have implementations and tests for four of the RNGs requested. But I would like a second perspective on a few things before preceding further.

The changes are here:
https://github.com/peterwicksstringfield/math/commit/adb72255083a25aa295d02a9a4c927f1f75458cd

I think I can turn that changeset into a pull-request somehow if that would make it easier to view. Not sure how.

Tests can be run like

[2018-12-14 21:54] peterwicksstringfield commented on #1040
PR submitted. (What I did was I forked the stan/math repo and pushed my changes to a branch on the fork. github has no problem making a PR across forks.)

The automated testing process appears to have stopped with the clang auto format. At least you can see the code now though.

1. I've revised the naming of the chi-squared helpers.

2. Waiting for policy decision.

3. Cool.

4. I split the tests.

[2018-12-15 15:38] bob-carpenter commented on #1040
Thanks.  That all sounds good and I pinged @syclik about policy on semi-definiteness.  @bgoodri might weigh on on that one, too.

[2018-12-16 16:18] wds15 opened #1084 "Make optional use of parallel C++17 algorithms in map_rect_concurrent"
## Description

The C++17 standard brings parallel versions of most algorithms, including `for_each`. While most compilers do not yet support this standard out of the box, the Intel Parallel STL provides a free and portable implementation of this standard. The Intel Parallel STL will be used as the foundation for the parallel C++17 implementation in forthcoming gcc 9.0. The advantages of using thi

[2018-12-16 18:06] bob-carpenter commented on #1084
How does this interact with GPU, MPI, and existing multi-threading?  It's only helpful to keep parallelizing until all the cores are engaged.  So I think anyting like this would need to be controllable.

@syclik is the one coordinating decisions like this in the math lib, but this also crosses into language issues that @seantalts is in charge of.

[2018-12-17 03:36] syclik commented on #1084
@wds15: I agree with Bob. Before considering the PR, you'll need to break down how this interacts with GPU, MPI, and multi-threading. And we should update the top-level comment as we gain more knowledge about whether this will work.

I would really like the issues to have a clear specification of what happens. It helps with the releases and allows for the implementer to figure out how to get it do

[2018-12-17 14:42] bob-carpenter commented on #1084
I think the answer here may be as simple as using the system thread pool.  That is, it'll just be thread contention, nothing special.  I think we still need to call that out, as it's a serious issue for efficiency tuning.

[2018-12-17 15:02] syclik commented on #1040
@peterwicksstringfield, thanks for the PR. I just needed a couple days to think about it. My preference is for the random number generators to match the probability distribution functions and the cumulative distribution functions. As far as I know, that's our current behavior across all of our lp{d,m}f / rngs now. (I'll just use rng and lpdf to to keep things short.)

There are two motivations for

[2018-12-17 15:03] syclik commented on #1040
@peterwicksstringfield and @bob-carpenter, I'll post back when I put this up on the wiki.

[2018-12-17 15:58] wds15 commented on #1084
@bob-carpenter ... not sure how you mean that. So far we rely in terms of threading on very high-level building blocks as we are bound to use a portable thread facility.

However, my benchmarks do show that when using threads, then one should really use a so-called scalable memory allocator (at least under MacOS). Otherwise the performance is degraded due to memory allocation bottlenecks - the are

[2018-12-17 20:21] seantalts opened #1087 "[Windows] Makefile dependencies don't seem to be working quite right?"
## Description
It looks from [the test runs](http://d1m1s1b1.stat.columbia.edu:8080/blue/organizations/jenkins/Math%20Pipeline/detail/develop/198/pipeline/88) like, on Windows, the makefiles only suffice to keep one or two files from being remade when make is called twice in a row. This calling of make twice in a row happens during a typical test run nowadays because we added a `--make-only` flag

[2018-12-18 02:36] SteveBronder commented on #1084
OpenCL is thread-safe by default so nothing bad would happen. Though we currently use a sequential execution policy on the GPU so if each thread calls the GPU then those threads would still go off sequentially when they hit the GPU code.

After the Cholesky PR I'd like to sit down and see how much of a speedup we would receive from using an out of sequence policy while turning on MPI/threading

[2018-12-18 07:18] peterwicksstringfield commented on #1040
No particular reason for the rng to be different than the lpdf here. I have changed gaussian_dlm_obs_rng to throw domain_errors in response to positive semi-definite C0s, just like gaussian_dlm_obs_lpdf.

I have not pushed that change to the PR yet. And there are a couple other changes, and some error handling I need to clean up. And since it seems like I'm on the right track, I plan to do the oth

[2018-12-18 15:06] syclik commented on #1087
@seantalts, yeah, it's definitely a bug.

Here's what I'm doing to isolate and reproduce it:
[code]

On multiple runs, that should just run without needing to rebuild. I'll take a look... it might be as simple as a typo somewhere in the latest pull request.

Here's what it looks like on Mac:
[code]

[2018-12-18 15:10] syclik commented on #1087
And... I found out why it's not working: the dependency file generates this:
[code]
but it should really be generating something like this:
[code]

It doesn't know how to resolve `gtest/gtest.h` so it thinks it has to rebuild everything.

[2018-12-18 15:47] bob-carpenter commented on #1040
Thanks for the status report---it's really helpful.

I'd suggest working depth first to get a couple functions fully
through review.

It's easier on the reviewers and less rewriting for you if basic
structure needs to change.

[2018-12-18 19:52] #1087 closed

[2018-12-19 03:09] peterwicksstringfield commented on #1040
The pull request with the first four RNGs is now ready for review.

https://github.com/stan-dev/math/pull/1083

[2018-12-23 04:42] andrjohns opened #1091 "Make more efficient use of Eigen's matrix functions in prim/mat"
## Description
Several functions in prim/mat rely on looping and/or temporary variables. This can be avoided using Eigen's functions.

This could see speed-ups through Eigen's SIMD vectorisation and lazy evaluation

## Example

For example, the current ```/prim/mat/fun/add.hpp```:
[code]
Can be replaced with:
[code]

## Additional Information
Any additional information goes here.

## Current Math

[2018-12-24 19:37] #1075 closed

[2018-12-27 19:08] SteveBronder opened #1094 "Cleanup and Breakup Rev Cholesky Code"
## Description

In the cholesky rev file below we currently have 2 different evaluation methods (`cholesky_block` and `cholesky_scalar`). With the gpu code coming in as well I'd like to clean these up by moving the block and scalar classes to their own files. We will do the same thing for the gpu code as well.

https://github.com/stan-dev/math/blob/develop/stan/math/rev/mat/fun/cholesky_decompose.

[2018-12-28 15:12] seantalts commented on #1094
Why do you want them to be in their own files?

[2018-12-28 17:08] SteveBronder commented on #1094
Ah ic my bad, I assumed breaking them up into more files would be more accessible. As I put the gpu code in it seemed like there was a lot going on, but if your past experience makes you think that is too much then we can not do this

[2018-12-28 17:08] #1094 closed

[2018-12-31 16:06] yizhang-cae commented on #931
@syclik I'd like to have it merged into Torsten first so I'm closing it for the moment.

[2018-12-31 16:06] #931 closed

[2019-01-04 17:53] bob-carpenter commented on #417
Thanks.  I don't understand what it's doing, though, and the Wikipedia article for the Tweedie distribution wasn't in the usual form of parameters and density.  Is there a way this would correspond to a function like

tweedie_lpdf(y | ...)

in Stan?  And should the bound M on the approximation be problem dependent?  It
only makes sense if it's reasonably near lambda here.

[2019-01-05 12:56] wds15 opened #1097 "Upgrade Sundials to version 4.0.1"
## Description
Sundials is a full major version ahead and we should upgrade.

## Example
No change for Stan.

## Expected Output
Nothing should change for Stan.

#### Current Version:
v2.18.1

[2019-01-05 17:54] a-hurst commented on #1076
@bob-carpenter @syclik  Is there anything else I can do to help with this, whilst not being confident enough in my C or advanced math to try my hand at a fix myself?

I'm in a bit of a strange dilemma: The Stan code I posted above apparently ran without issue ~2 years ago with rStan 2.15 on a rented Amazon Linux VM (a colleague did the analysis for me), and I wrote up a whole paper based on the fi

[2019-01-05 21:40] bbbales2 commented on #1076
It sounds like the initial conditions are making it difficult to compute the log densities. It's totally possible that these numeric difficulties don't really exist where your posterior mass is and it's just an artifact of the random initialization.

You might be able to get away from these crazy initial values by just making the random initializations smaller. Check the "init_r" argument to stan

[2019-01-06 04:10] a-hurst commented on #1076
@bbbales2 @bob-carpenter thank you both for your helpful replies, it sounds extremely likely that this is a problem with the initial parameter values sometimes starting too high or low. Looking at the posterior object it looks like the default init radius of 2 was used for the successful run, but I'm going to try extracting the random seed and init values from it and seeing if the model runs now w

[2019-01-07 16:42] syclik commented on #1076
I think I've seen something similar and it's been fixed post v2.18, but we should verify.

I think what's going on is that certain exceptions aren't caught and it isn't caught, which ends up completely stopping the sampler from running. Instead, it should be caught and treated as a rejection.

(With this particular issue, this might be have not been a problem with the version of Boost we used in 2

[2019-01-08 22:20] peterwicksstringfield opened #1100 "Missing bounds checks in some lpdfs"
## Description

multi_normal_lpdf, multi_normal_cholesky_lpd, multi_normal_prec_lpdf, and multi_student_t_lpdf do not do proper error checking, causing segfaults.

Fix in PR once I have a bug number to reference.

## Example
This crashes R:

[code]

[code]

## Expected Output
These functions should throw invalid_argument exceptions instead of causing segmentation faults.

#### Current Version:
rst

[2019-01-08 22:32] peterwicksstringfield commented on #1100
PR #1101

[2019-01-09 19:17] a-hurst commented on #1076
If this is the case, should I try installing the latest Stan/RStan from the develop branch on GitHub and see if the bug still occurs?

[2019-01-09 21:43] a-hurst commented on #1076
Okay, after some reading up, I understand now that the 'develop' branch of RStan != the' develop' branch of Stan, and that I would need to use CmdStan somehow if I wanted to try out the bleeding edge version. Given that I don't really understand how CmdStan works well enough to test out the model this way, I'm going to leave it for now.

Also, I just tried the suggestion of setting init_r to 1 and

[2019-01-10 16:46] bbbales2 commented on #1076
Shouldn't matter, but this is a function of your problem. Did changing this affect your conclusions at all? If it didn't, rock n' roll. bessel functions n' such can be very finicky, so it's not surprising one might blow up if it gets a weird input. Since you're not seeing this problem after warmup, no need to worry. All sorts of weird things are going on in warmup which is why we don't use those s

[2019-01-10 16:52] bob-carpenter commented on #1076
Arbitrary, but motivated by wanting to have roughly unit
scale variation in the parameter inits assuming we'd have
parameters on the unit scale and want diffuse inits to
test convergence.

[2019-01-15 21:04] wds15 opened #1102 "Thread performance penalty"
## Description
Enabling threading in the `stan-math` library with the `STAN_THREADS` compiler macro leads to significant slow-downs. This is caused by the `thread_local` storage (TLS) implementation used in a Mayer singleton approach for the AD tape.

## Example

Running the performance cmdstan benchmark suite (for vanilla cmdstan 2.18.1) with 5 replications on the `stat_comp_benchmark` set of exa

[2019-01-22 05:05] Licht-T opened #1106 "Some required headers are not included at `is_vector`, `is_vector_like` and `check_not_nan`"
## Description
While solving https://github.com/stan-dev/math/issues/1036, I found some header references are missing and `make test-headers` fails, e.g. the below `is_vector` template is not resolved as expected since `stan/math/prim/arr/meta/is_vector.hpp` is not included.
https://github.com/stan-dev/math/blob/502487c511594ccb93eb979df5b8fe163becb417/stan/math/prim/scal/meta/is_vector_like.hpp#L

[2019-01-22 15:52] bob-carpenter commented on #1106
Thanks for reporting.  Which OS  and C++ compiler is this running on?  Those header tests should always be run automatically as part of continuous integration, so nothing should get merged without passing them.

[2019-01-23 03:30] Licht-T commented on #1106
@bob-carpenter The current header tests work in spite of missing headers. For example, just using [`sort_asc<double>`](https://github.com/stan-dev/math/blob/502487c511594ccb93eb979df5b8fe163becb417/stan/math/prim/arr/fun/sort_asc.hpp#L20) from another header (like this https://github.com/stan-dev/math/pull/1105/commits/994a218c2d391638f09e33a528cb54e03e01243c?utf8=%E2%9C%93&diff=unified#diff-3a258

[2019-01-23 14:58] syclik commented on #1078
I'm working on branch `feature/issue-1078-ci`.

I think the next step is to have `make test-math-dependencies` return a non-zero exit code when there are warnings. This is one way to force the build to stop. This is done in a make function inside `make/test-math-dependencies`.

Right now, it just echos out the warning, but always exits with return code 0.

[2019-01-25 16:31] bob-carpenter commented on #1106
I'm afraid I don't follow that last message.  Are you saying if we replace the templated sort-ascending with a double-specific one, the tests fail?  Why would we do that?

Also, I'm probably not the one to be tagging on this.

[2019-01-25 16:34] seantalts opened #1108 "Investigate ODE system's memory safety"
## Description
There have been a couple of alarming issues that have popped up sporadically around the ODE system.

1) the ODE system (and only the ODE system) [appears to fail](https://discourse.mc-stan.org/t/running-tests-with-sanitizers/3235) running with Clang's Address Santizer
2) the ODE system [causes segfaults](https://discourse.mc-stan.org/t/windows-rstudio-crashing-with-rstan-model-loade

[2019-01-25 20:41] #984 closed

[2019-01-25 20:41] #979 closed

[2019-01-25 20:41] #942 closed

[2019-01-25 20:46] #756 closed

[2019-01-26 01:40] Licht-T commented on #1106
@bob-carpenter This is just an example. Sorry for my super-confusing example!

What I want to say are
- The [`sort_asc(std::vector<T> xs)`](https://github.com/stan-dev/math/blob/master/stan/math/prim/arr/fun/sort_asc.hpp#L21)'s argument is `vector` type, and it uses [`check_not_nan`](https://github.com/stan-dev/math/blob/master/stan/math/prim/scal/err/check_not_nan.hpp#L53) inside itself.
- But [`

[2019-01-26 13:15] wds15 commented on #1108
Before anyone digs into this, I think we should merge the sundials 4.0.1 pr.

[2019-01-28 20:42] bob-carpenter commented on #1106
Thanks for the clarification.   In general, our `scal` implementations don't bring in `arr` because dependencies only run the other way (from `arr` to `scal`).   If you need to test `is_vector_like` with arrays, you need to explicitly bring in the `arr` implementation.

Thus I think `sort_asc` should bring in everything it needs in `is_vector_like` and `check_not_nan` implementations.

The second

[2019-01-30 03:49] drezap commented on #417
Usually it’s parameterized in terms of the power parameter, dispersion parameter and the mean parameter. The compound poison gamma that Mrs Novick posted works when the power parameter is within 1 and 2 which is a start. From my memory, I don’t think the distribution is tractable below 1 and we can’t write analytic gradients. We can pretty trivially implement using the poison gamma approach, but a

[2019-01-30 20:54] syclik opened #1109 "The MPI implementation doesn't correctly stop listening"
## Description
There's currently a bug in how our current MPI handles its resources.

This call to `boost::mpi::broadcast()` is incorrect:
https://github.com/stan-dev/math/blob/develop/stan/math/prim/arr/functor/mpi_cluster.hpp#L225

The second argument, `command`, needs to be `*command` because `command` is a `std::shared_ptr`

## Example
I need to come up with a MWE, but under certain circumstan

[2019-01-30 21:43] wds15 commented on #1109
No, I think this is all correct. We have to sue pointers to get boost serialization to ship a virtual base class. On the respective recieving end we also read shared pointers.

The error you report sound like as if you did not have the right instantiations baked into you binary. For every command you want to send you have to call the `STAN_REGISTER_COMMAND` macro here:

https://github.com/stan-dev

[2019-01-30 21:58] syclik commented on #1109
Thanks. I'll do some more investigation. I'm not convinced yet.

[2019-01-30 22:03] syclik commented on #1109
@wds15, correction, you're right. Linking can be order-dependent.

[2019-01-30 22:03] #1109 closed

[2019-01-30 23:04] seantalts commented on #1063
Anyone have leads on this? The EC2 node situation we had that was allowing us to test MPI on Linux seems over for now, so we need to get this working to be able to do Math PRs (or remove the Linux MPI tests. The MPI tests are the problem because they have to use the system compiler, which for the Linux box is now gcc 7 or 8 since we upgraded it to a newer Ubuntu LTS).

[2019-01-31 02:41] syclik opened #1110 "Fix compiler warnings in test-headers from #1080"
## Description

#1080 introduced some compiler errors that weren't prevented with Jenkins.

We'll need to find out why they got past Jenkins too, but this will fix the compiler errors on the branch.

## Current output
[code]

Also this fails:
[code]
#### Current Version:
v2.18.1

[2019-01-31 03:36] seantalts commented on #1110
Thanks for picking this up so quickly. Weird that these test-header things got past Jenkins. They did run on a different Linux machine; the PR ran against the EC2 node (RIP) and this ran on a Mac, but both have clang 6...

[2019-01-31 04:18] syclik commented on #1110
Yeah, it is weird. I was able to test it locally on my Mac and it showed the errors.

[2019-01-31 14:22] seantalts commented on #1110
Same here. I'll try testing on Ben's Linux machine just to double check that it should also have shown the errors...

Could it have been a situation where `develop` changed out from under the PR and the PR didn't get retested against the latest `develop`?

[2019-01-31 14:36] syclik commented on #1110
Nah. It looked like it was legitamitely missing a boost header.

I don't know what happens if boost is installed on the system; maybe it
finds those headers? It should compile if the compiler can find the
headers, even if it's another version. These things don't change quickly.

On Thu, Jan 31, 2019 at 9:22 AM seantalts <notifications@github.com> wrote:

[2019-01-31 14:43] seantalts commented on #1063
Doesn't seem like merging #1080 fixed it: http://d1m1s1b1.stat.columbia.edu:8080/blue/organizations/jenkins/Math%20Pipeline/detail/PR-1111/6/pipeline

[2019-01-31 19:53] seantalts commented on #1063
Wrote up a summary on another issue:

@bgoodri wrote:

[code]

[2019-01-31 20:09] seantalts commented on #1063
Yeah, those simple mixed mode addition test failures expecting `nan` to be near `0` seem really bad for either mixed mode or the autodiff tester (possibly under mixed mode only). @bob-carpenter do you have any ideas on how to dig further here?

Also curious that it keeps expecting `inf` and `-inf` to be near numbers that are ~ `4e-310`.

[2019-01-31 20:13] bgoodri commented on #1063
Also, too, it is fine with anything other than O=3.

On Thu, Jan 31, 2019 at 3:09 PM seantalts <notifications@github.com> wrote:

[2019-01-31 23:11] #1110 closed

[2019-02-01 01:39] bob-carpenter commented on #1063
It may be different implementations.  We just switched out gamma elsewhere and don't know if it relates to this.  1e-310 is getting about as low as a number can get without underflowing.  It then get down to normalized (leading base digit is 1) vs. unnormalized representations.  The latter let you get smaller at the cost of lack of precision.  Different libraries treat these differently.  For exam

[2019-02-01 02:36] bgoodri commented on #1063
We have gotten past the gamma_p error. The current error is with addition
in the mixed case but only with NaNs and Infs.

On Thu, Jan 31, 2019 at 8:39 PM Bob Carpenter <notifications@github.com>
wrote:

[2019-02-02 02:37] syclik commented on #1108
I had an illuminating discussion with @wds15 on Monday and figured out some of how the ODE stuff got refactored.

At a high level:
- `coupled_ode_system.hpp` implements the interface that's required by odeint (Boost's ode solvers)
     * [`stan/math/prim/arr/functor/coupled_ode_system.hpp`](https://github.com/stan-dev/math/blob/develop/stan/math/prim/arr/functor/coupled_ode_system.hpp)
     * [`st

[2019-02-02 12:47] wds15 commented on #1108
With the changes in the time-varying ode PR things change slightly. The `coupled_ode_observer` is used to adapt the outputs of any of the integrators into the AD system.

If you will we have:

- `coupled_ode_system` defines the sensitivity ODE RHS. It is written in a way such that we can plug it straight into odeint.
- `cvodes_ode_data` is a callback object for CVODES. This thing is essentially an

[2019-02-03 02:51] bgoodri commented on #1063
Initializing some Eigen::VectorXd to zero in autodiff_tester fixes the
problem with operator_addition under g++-8

On Thu, Jan 31, 2019 at 9:36 PM Ben Goodrich <goodrich.ben@gmail.com> wrote:

[2019-02-03 05:03] seantalts commented on #1063
Which one(s)?

[2019-02-03 05:16] bgoodri commented on #1063
I fixed them on dc6a20b143 of the boost1.69.0 PR

On Sun, Feb 3, 2019 at 12:03 AM seantalts <notifications@github.com> wrote:

[2019-02-05 01:24] stemangiola opened #1112 "BesselK continuous function"
## Description
In order to build robust count models based for example on SICHEL distribution, a continuous version of the BesselK function is needed (nu being real instead of int).

There is a tread here https://discourse.mc-stan.org/t/besselk-with-the-order-v-as-real-parameter/7417/4 but I thought to lounch a feature request since is quite a delicate math function (that is not working natively i

[2019-02-05 19:37] bgoodri commented on #1063
That is fine, although there are plenty of other instances where we are
passing in uninitialized values that we just haven't gotten bit yet.

On Tue, Feb 5, 2019 at 2:27 PM seantalts <notifications@github.com> wrote:

[2019-02-05 19:47] seantalts commented on #1063
Do you think we should just always be initializing in places like [this](https://github.com/stan-dev/math/blob/develop/stan/math/mix/mat/functor/finite_diff_grad_hessian.hpp#L50)?

[2019-02-05 19:53] bgoodri commented on #1063
I think we should always be initializing everywhere, even if it is not
currently manifesting itself in bug reports. It is undefined behavior.

On Tue, Feb 5, 2019 at 2:47 PM seantalts <notifications@github.com> wrote:

[2019-02-06 18:03] bob-carpenter commented on #1063
+1.

[2019-02-07 13:46] davidmanheim opened #1114 "integrate_ode_bdf causing sampler to crash"
## Description
I tried re-running an older model (used in my dissertation, with, IIRC, stan 2.16,) in the newest version of rstan, and it crashes. After investigating, it seems the stiff solver is no longer working.

The model below (adapted nearly directly from the manual,) can be run as-is in rstan. It runs successfully (when modified) using the non-stiff solver, integrate_ode_rk45, but crashes

[2019-02-07 14:23] wds15 commented on #1114
Odd with this setup:

[code]

it works just fine... I will bump the StanHeaders version

[2019-02-07 14:46] davidmanheim commented on #1114
Also note: I'm running R 3.5.2 and Rtools 3.5, on Windows 10.

[2019-02-07 18:41] #1063 closed

[2019-02-08 08:50] wds15 commented on #1114
Hmm.. I just tried with cmdstan 2.18.1 on MacOS High Sierra. Works just fine.

Would it be possible for you to try cmdstan on your system with this model? With cmdstan we can be relatively sure that indeed its a Stan problem on this platform.

[2019-02-08 16:37] #1018 closed

[2019-02-10 00:12] charlesm93 opened #1115 "Solve algebraic equations with Newton solver"
Accidently created this as a Stan issue (stan#2735), but it seems it should (for the moment) be math issue. Reposting the issue is. There is however valuable conversation in the linked issue.

#### Summary:
Provide a new function to solve systems of nonlinear algebraic equations using Newton's method. This complements our current solver, which uses Powell's dogleg method. The Newton solver has bee

[2019-02-10 02:38] syclik commented on #993
I want to make sure we don't lose track of @bbbales2's effort. His original PR was here: #1021.

We identified a couple problems. The first was that the variables weren't persisting on the stack so we were dealing with undefined behavior. We can fix this by lazily promoting the argument types to `stan::math::var` types.

There's a really cool thing that @bbbales2 did inside his PR that we should t

[2019-02-12 03:40] #1028 closed

[2019-02-12 03:40] #1056 closed

[2019-02-12 03:44] SteveBronder opened #1117 "Rev for Cholesky on GPU"
## Description

Adds the GPU version of reverse mode for the Cholesky

## Example

This should be pretty plug and play where users can now use `matrix_v` and var types and have the gradient done on the GPU.

## Expected Output

Big and cool models!

#### Current Version:
v2.18.1

[2019-02-12 13:02] #1058 closed

[2019-02-12 13:43] syclik commented on #1115
A few comments:
1. It's easy to link to Stan issues. To link to that particular issue, you
could just say stan#2735 and GitHub will automatically link the issue for
you. That original issue should stay, but as a description of what needs to
go in the language.
2. Overall, there's a lot of good information in the issue, but it's
missing enough detail for someone to implement what you're talking abo

[2019-02-17 12:54] davidmanheim commented on #1114
@wds15 - in case it wasn't clear, further information on this is awaiting a solution for a different, seemingly unrelated, issue: https://github.com/stan-dev/cmdstan/issues/673

[2019-02-18 19:32] rok-cesnovar opened #1122 "Documenting, testing and cleanup of metaprograms"
## Description

Some metaprograms in `meta` subfolders are missing documentation and/or tests. @syclik mentioned this in on Discourse https://discourse.mc-stan.org/t/help-with-the-math-library/7390/.

I will post the list of files that need commenting and those that have no tests in their respective `test/unit/math/` as a response to this issue.

Other minor cleanup stuff that I noticed while doin

[2019-02-18 19:34] rok-cesnovar commented on #1122
Files that are missing comments. * denotes that only some functions are missing comments or that the comments should be "doxygenized".
[code]

[2019-02-18 19:36] rok-cesnovar commented on #1122
Files in `meta` subfolders that are missing tests in the respective `test/unit/math/` subfolder.
[code]

[2019-02-19 02:56] syclik commented on #1106
This was fixed with #1107. I verified today that it's not an issue with the code base now.

(@rok-cesnovar, thanks for letting me know this wasn't an issue.)

[2019-02-19 02:56] #1106 closed

[2019-02-19 19:38] drezap commented on #1011
Is there any reason the spec is a struct and not a class? In the [google style guide](https://google.github.io/styleguide/cppguide.html) it says that the functionality is basically the same, we just use structs to house data, and classes can be anything that make manipulations on said data. I think it's probably better to implement this as a class

[2019-02-19 23:44] dpsimpson commented on #1011
100% laziness on my part or I copied it from somewhere else. (I typically
use `struct`s when there are no private or protected members but that's
some weird hangover from my dark past.)

On Tue, 19 Feb 2019 at 14:38, Andre Zapico <notifications@github.com> wrote:

[2019-02-20 01:21] elbamos commented on #309
I'm curious whatever happened to this?  It would definitely be nice to have.

[2019-02-20 03:31] bob-carpenter commented on #1011
A struct is just a class where everything's public.

We haven't been very careful about making things private in our interfaces, so I don't think it matters a great deal.

[2019-02-20 11:56] martinmodrak commented on #1112
A related issues in stan: https://github.com/stan-dev/stan/issues/1939

[2019-02-21 16:50] zottelef commented on #1112
Could this be useful to build a Matérn covariance function  for the Gaussian Processes?

[2019-02-22 18:53] seantalts opened #1124 "MPI needs error messages!"
## Description
If the functor you pass to `map_rect` throws an exception, you just get an extremely generic "MPI error on first evaluation." error message. I think it should be possible to collect the exception string from the worker nodes and report that back. Ideally, we also add in the ability the pass in the name of the function so that we can show that it was the `map_rect` functor that threw

[2019-02-22 22:19] drezap commented on #937
for foward we also have `core`, is it preferred to just dump these in `fwd` or create a `fwd/core` subdirectory?

[2019-02-23 02:12] syclik commented on #1078
Fixed by #1107.

[2019-02-23 02:12] #1078 closed

[2019-02-23 03:30] oliverdechant commented on #50
https://github.com/stan-dev/math/tree/feature/issue-50-boolean_functions
https://github.com/stan-dev/math/tree/feature/issue-50-error_handling_functions

[2019-02-23 03:31] syclik commented on #937
so I believe you mean `stan/math/fwd/core.hpp`. I think I originally posted this before we had it. Either way, I think we can leave those. (Unless you mean something else.)

[2019-02-23 03:35] syclik commented on #937
I posted this on [discourse](https://discourse.mc-stan.org/t/the-future-of-the-math-library-and-the-bottlenecks-in-development/7793/11?u=syclik), but if you have one or more of these skills, please join the effort:
* shell programming (we want to script this)
* regex skills (sed / awk would do since we’re going to be replacing things in files)
* being able to trace through precompiler dependency g

[2019-02-23 03:47] syclik commented on #937
One place to start is to consolidate the template metaprograms. We can start at the top of [`stan/math/prim/mat.hpp`](https://github.com/stan-dev/math/blob/develop/stan/math/prim/mat.hpp#L4)
[code]

If you look at the includes for `get.hpp`, you'll notice that the `arr` version needs to be included before the `mat` version. So when we consolidate the files, it'll look like:

[code]

Cleaned up, of

[2019-02-23 04:06] drezap commented on #937
Yep that’s what I mean. So I’ve been ‘cat’int the mat/arr/scal.hpp flies together, and using Linux sed to remove strings from the include that sets stuff back a directory. Is it worth a PR if tests aren’t passing, for the purpose of review? I tried doing just fwd but that depends on prim so I’m starting prim now

[2019-02-23 04:12] syclik commented on #937
Yes, I think that makes sense. I think we're going to be going back and forth a lot on this one. We'll take a few steps forward, update a script, look at it carefully, figure out if it works, have to back it out, rinse and repeat.

It'll help to have GitHub's PR framework to compare.

Can you create a branch on this repo? It'll make it easier to coordinate.

[2019-02-23 20:17] drezap commented on #937
created branch `code-cleanup/issue-937-flatten` which only contains the `prim.hpp` new top level include, if that's sufficient I can start making directories `fun`, `functor`, `err` in `prim` and start combining the files.

[2019-02-23 22:14] drezap commented on #937
@syclik you're probably offline because it's saturday, but I'll be online all day monday and we can get this rolling, if you're available.

[2019-02-24 02:04] roualdes commented on #937
In the hopes of getting my head around all the details, here's my first thought for a bash script.

[code]

Some follow up thoughts.

1. Still missing a loop around `prim`, `fwd`, `rev`, and `mix`,
2. Not all of `prim`, `fwd`, `rev`, and `mix` have .hpp files two levels deep. For instance, `core` has .hpp files one level below `fwd`.
3. I've surely missed something(s), but I don't immediately see

[2019-02-25 06:28] roualdes commented on #937
Here's my next attempt to contribute something to this effort.

[code]

I'll try to be around tomorrow to join the team effort.

[2019-02-25 12:18] drezap commented on #937
@syclik just ping me when you’re ready, I can put all my effort into this until it’s done.

[2019-02-25 15:21] bob-carpenter commented on #937
@drezap --- Is there some decision you're waiting for here before going on?  I think we just want to follow the design that @syclik layed out in the issue.

I'm a little less clear on exaclty how much testing @syclik is going to want.

[2019-02-25 15:29] syclik commented on #937
Math #937

@drezap and @roulades, thanks! I'm hoping with your help we can so this much faster!

There were a few things that I may not have communicated well:
- We want to maintain backwards compatibility. That means keeping around 12 header files that we should deprecate (`stan/math/{prim,rev,fwd,mix}/{scal,arr,mat}.hpp`). To me, that doesn't mean any more than these files exist and should print

[2019-02-25 15:31] syclik commented on #937
And to manage this process, I think we should keep this issue open, edit the top-level with a todo list, spawn new issues for each todo so they can be closed individually with PRs, and close this when everything is done. Do you have the ability to edit the first post in the issue? If not, I'll find some way to give you permissions.

[2019-02-25 15:36] bob-carpenter commented on #937
I think this should be a secondary concern.  I think we should instead discourage longstanding branches and PRs.

[2019-02-25 15:37] bob-carpenter commented on #937
Do you mean in multiple PRs that get merged?  Won't that be even more disruptive to ongoing work than a single big update?

[2019-02-25 15:52] drezap commented on #937
I’ll be at a computer in about an hour, I have to take care of medication.
I’m completely comfortable just doing this my own and opening a PR, but if
@syclik wants to keep a to do list, that’s fine.

I was going to do it with one file, show Daniel for approval, then do
something with bash/  sed like similar to above and try to automate as much
as possible.

We can just do it first for meta program

[2019-02-25 16:06] drezap commented on #937
I really agree with @bob-carpenter, I’d rather just crank this out, it will go much much faster. It’s really clear from @syclik’s spec. When I sit at a computer I’ll jsut start working on it

[2019-02-25 16:26] roualdes commented on #937
Relative to

my bash efforts should help out with 2, 3 except updating `make/test-math-dependencies`, and 4, here.  Well, the code above is a little bit more ambitious than just `meta`, but that's easily fixed with
[code]

Relative to the sed commands, I tried to

but probably got carried away.  The argument `-i.tmp` will save edits in-place, but copy the old files by appending the extension `.tmp

[2019-02-25 18:56] rok-cesnovar opened #1126 "Replace boost:: type traits with std:: versions"
## Description

We should move the type traits from boost to the std library versions.

Type traits that could be replaced are:

- [x] [is_same](https://en.cppreference.com/w/cpp/types/is_same)
- [x] enable_if/disable_if could both be replaced by [std::enable_if
](https://en.cppreference.com/w/cpp/types/enable_if)
- [x] [is_unsigned](https://en.cppreference.com/w/cpp/types/is_unsigned)
- [x] [is_c

[2019-02-25 19:15] rok-cesnovar commented on #1126
There are also some places where the entire `<boost/type_traits.hpp>` header is included, which should be investigated.

[2019-02-25 20:03] rok-cesnovar commented on #1126
The first PR is open, if it goes through I will open the next PR for the `is_same` replacement, which is already prepared in [this](https://github.com/bstatcomp/math/tree/cleanup_boost_is_same) branch. enable_if replacement will be last.

[2019-02-26 07:07] elbamos commented on #309
If anyone else comes across this page and attempts to use the code - I'm pretty sure the `pacf_to_acf` function should be:

[code]

and you don't need the inverse or the log abs det jacobian if you set your priors on the auto-correlations and constrain them to [-1, 1].

[2019-02-26 15:37] bob-carpenter commented on #309
@elbamos --- thanks for th clarification.

[2019-02-26 16:30] roualdes commented on #937
Here's a gist with my updated bash script, so as to minimize my obnoxious posts of code: https://gist.github.com/roualdes/ea72fc0fbcac05329e562a0e60ee0a1d

Run it from within the top level this repository.  It won't modify any old files and is easy to clean up to return your branch to normal.

Hoping to hear back about how to begin testing this.  Thanks.

[2019-02-26 16:42] drezap commented on #937
@roualdes one can run tests by using the python script or the top level directory ‘./runTest.py test/unit/....’ then path to whatever you’d like to test. We need to flatten the test cases out as well.

I can try the script out, I was trying to get tests to compile yesterday.

[2019-02-26 17:25] roualdes commented on #937
derp.  Thanks, @drezap.

[2019-02-26 17:42] drezap commented on #937
@roualdes let's work together, I think we can use your `sed` skills. I'm going to run this script, and see where it takes me. But I've been able to flatten all the directories, but naively, so last night I was trying to write a `sed` script that:
1) moves the includes to the top _only if_ they aren't already there, and
2) removes the `#endif` if we are adding another file at the end
3) we have bra

[2019-02-26 17:45] drezap commented on #937
oh, I see you've handled the includes. Let me get my library to a working state with the tests @roualdes  I can run tests on your script right now, as I have some script that does the tests right now

[2019-02-26 17:54] drezap commented on #937
@roualdes yes this looks great, we just need to handle these things, or it won't compile:

[code]

You're obviously much more proficient at bash scripting than me, is it possible to write a script that only keeps one of these for each file at the first two lines:

[code]

and then only one of these

[code]

Otherwise tests won't compile. I believe this is the issue. This is where I left off. If no

[2019-02-26 18:09] roualdes commented on #937
That would be great.  Thanks.

Re

```#ifndef ...```

Right.  This sums up well what I'm seeing.  Let me try something and get back to you.

[2019-02-26 20:15] roualdes commented on #937
@drezap, I just updated the gist to now drop `#ifndef`, `#define`, `#endif` from the middle of files, except when dealing with `STAN_OPENCL` inside `prim.hpp`, which is to say the script now deals with `prim.hpp`.

The script has The ugliest `sed` command I've ever written.  I'm afraid this script is becoming more custom to a Mac 10.13.6 that it should be.

My guess is that we won't be able to jus

[2019-02-26 20:34] roualdes commented on #937
I removed too many `#endif`s.  Will have to be more delicate.

[2019-02-26 23:39] drezap commented on #937
@roualdes I'm sorry I haven't really been online today, I thought I would be. But the script you wrote for meta works perfectly, after examining a script by eye.  I haven't tried to compile a test case yet, let me give it a shot

[2019-02-26 23:42] drezap commented on #937
@roualdes this is GREAT! ok, I'm going to ask another thing of you. There's so many codependencies that it's hard to get one to compile without missing some other dependency.

Can you please generalize this for the directories `err`, `fun`, `functor`, and `vectorize`? The logic should be exactly the same, just an outer loop to parse through the directories (I had some frankenstein python/os script

[2019-02-26 23:56] drezap commented on #937
We kinda have to do it all at once. because `meta` uses stuff from `err`, and I'm guessing vice versa, but I haven't explicitly looked.

[2019-02-27 00:15] roualdes commented on #937
Happy to help. Away from a computer for a bit, but hoping to have something by the end of the night.

[2019-02-27 00:16] drezap commented on #937
@roualdes yeah, no rush, thanks.

[2019-02-27 00:44] syclik commented on #937
Thanks, both!!!!

If it helps, you can pass the -M flag to g++ or clang++ to see the actual
include order. We generate that for tests, so a quick hack would be to make
a test that just includes a top-level include to see what it actually
includes and in what order.

I really hope we don't have a situation where we need some of the template
instantiations of one thing before another, but we can't i

[2019-02-27 05:44] roualdes commented on #937
I updated the gist.  Running `./runTests.py -j3 test/unit/math/prim/meta` errors out with messages of the sort
[code]

@drezap, would please offer some more of your insightful tips on what I could do next to help the cause?  Your suggestions have been super helpful.

[2019-02-27 18:31] bob-carpenter commented on #937
That sounds like either a failed header guard, or literally just two definitions of the same things on line 117 and 119, which is just a bug even with inline.

[2019-02-27 18:54] roualdes commented on #937
I was thinking it's a bit more subtle than that, but please correct me if wrong.   One of those definitions is in the not-flatten directory structure `stan/math/prim/scal/fun/constants.hpp` and the other is in flattened `stan/math/prim/fun/constants.hpp`, despite running tests on the flattened directory structure `test/unit/math/prim/meta`.

[2019-02-27 19:45] drezap commented on #937
@roualdes compiler throws this error whenever we have two variables with the same name.

So in your bash script, you'd want to have an if statement that checks to see if any two variables that are the same name, and just add a `0` or `1` after the variable name. Or `a` or `b`. Probably good to check that it's within the stan and math `namespace`s.

It's good we're getting these errors, getting clo

[2019-02-27 20:01] drezap commented on #937
I think there is a slight error in this latest script, it's creating directories with all the file names.

Was this latest gist the script you said was throwing the `redeclaration` error? I ran it from top-level director `./flatten.sh`

[2019-02-27 20:05] roualdes commented on #937
In theory, I understand why it's being thrown, but there's obviously something else I'm missing.  Maybe more contextual?  I'm going to provide some more about my understanding of this issue.  Thanks in advance for helping me look into this and for helping me learn.

Now the issue comes from the fact that  `stan/math/prim/scal/fun/constants.hpp` contains
[code]
And `stan/math/prim/fun/constants.hpp

[2019-02-27 20:07] drezap commented on #937
try `make clean-all`, from the top level directory. sometimes if you run tests the old executables will still be there, this deletes them all. Also, test executables are in git's `ignore` file, so if you reset they'll stay there.

[2019-02-27 20:09] drezap commented on #937
We can screen share and try to debug it if you're free. My library is no-longer in a working state.

[2019-02-27 20:14] drezap commented on #937
may be try one test case at a time? Also syclik's suggestion

Might help, see if we're including files that have the same variables declared?

[2019-02-27 20:24] rok-cesnovar commented on #1122
@seantalts @syclik (@ anyone with an opinion on this) I want to tackle the cleanup of metaprograms via parameter packs first, but would like your input before I dive to deep.

In [containst_nonconstant](https://github.com/stan-dev/math/blob/develop/stan/math/prim/scal/meta/contains_nonconstant_struct.hpp) meta program, if we wanted to use parameter packs we essentially have the same problem as [he

[2019-02-27 20:25] roualdes commented on #937
I imagine there are errors, but I'd only expect this one if you run `flatten.sh` twice in a row, without cleaning up in between.  I think assuming a clean version of `develop` branch is reasonable.

Yep, `make clean-all` first.

I'd appreciate your time for a screen share, but I'm a little time constrained today.  I could manage 4.30 PST.  Does that work for you?

I'm beginning to think that a fil

[2019-02-27 20:35] drezap commented on #937
I don't think so, `prim` generally doesn't depend on `rev`.

Fine with me, I'll set an alert.

[2019-02-28 00:27] drezap commented on #937
@roualdes my email is andrezapico@gmail.com, we can use google hangout

[2019-02-28 03:26] syclik commented on #937
hey all, I hope you were able to meet and make some progress.

Let me know if there's something specific I can help with. If not, I'll try to get out of your way. (I'll try to pick off the mundane parts of this task when I have a few free cycles here and there.)

There definitely shouldn't be two definitions of those constants... if that exists now, I don't know how it compiles and if it does, we

[2019-02-28 03:33] syclik commented on #50
@bob-carpenter, I forgot that there's another reason for these error checking functions. I was thinking that we'd have the boolean functions able to take in the different Stan types, including arrays. The check functions would be responsible for passing the right information back to the user. But a user could use these functions.

So... if we have something like:
[code]

from the Stan language, we

[2019-02-28 03:49] syclik commented on #1122
Thanks for looking up two sensible solutions. I think both would work.

When I look at it, the first one makes a lot of sense to me: https://stackoverflow.com/a/29603857/1762960

One reason that makes sense is that it uses a pattern that will be introduced in C++17. See the first comment to the answer below: https://stackoverflow.com/a/39701423/1762960

Both look fine and they shouldn't have any d

[2019-02-28 17:57] drezap commented on #937
After @roualdes's and I's dicussion, here's an update:

There is one file in `meta` that has a dependency in `rev` and `fwd`.  The rest of the tests are running and compiling fine. I'm going to see which files this happens with throughout the whole library. If it's not many files, I can just edit the includes manually, and, being optimistic, we can successfully flatten prim. If not, we'll have to

[2019-02-28 20:05] #1126 closed

[2019-02-28 21:27] drezap commented on #937
@roualdes are you sure the gist has the `flatten.sh` you ran yesterday? I was able to re-create it  two days ago, but right now I'm not able to. It's leaving a lot of temp files, nothing is compiling now. Top of the test files are looking like this:

[code]

[2019-03-01 02:09] roualdes commented on #937
Yes, `diff` reports that the only difference is a new line at the end of my local file.  A fresh clone of `stan-dev/math` and the file from the gist works for me: `./runTests.py test/unit/math/prim/meta/is_constant_struct_test.cpp` passes.  I'm running macOS 10.13.6.  Doesn't `sed` have subtle difference between macOS and linux?  I can try on a linux machine tomorrow.

[2019-03-01 02:26] drezap commented on #937
yes please do try tomorrow, if it's not too much to ask.

I'm running linux. The one two days ago ran fine, before you incorporated the test cases. Prior to test flattening cases in the script, it was mostly compiling, as I remember

[2019-03-01 17:46] roualdes commented on #937
@drezap, please check out the latest [gist](https://gist.github.com/roualdes/ea72fc0fbcac05329e562a0e60ee0a1d).  On Ubuntu 16.04 with GNU sed 4.2.2, I was able to pass all the individual tests that I tried within `test/unit/math/prim/meta/`.

I believe all but one line of the gist to be cross platform.  The last `sed` command has a linux version and a macOS version, enabled by commenting out the o

[2019-03-01 18:08] drezap commented on #937
I won’t be online much today, as I’m commuting, but would you be able to just run your script locally on the branch code-cleanup/issue-927-flatten? I think you’ll have to revert and then merge with develop

That way I can just work from after the formatting

[2019-03-01 18:09] drezap commented on #937
Whoops didn’t read the last message.. I can try that when I’m at a computer

[2019-03-01 18:20] roualdes commented on #937
I don't have write access to `stan-dev/math`.  Do you want me to create a fork, revert, merge, run `flatten`, and then create a PR to your `stan-dev/math` branch?

[2019-03-01 18:49] drezap commented on #937
I’m not at a computer. As long as the gist works that’s OK. I won’t be
online much today as I’m traveling.

If I can’t get the gist to work quickly I may ask you to do that.

Thank you for being so flexible.

On Friday, March 1, 2019, Edward A. Roualdes <notifications@github.com>
wrote:

--
Best,

Andre Zapico

[2019-03-01 19:03] syclik commented on #937
@roualdes, check your email... you should have an invite to write to Math.

[2019-03-01 19:17] roualdes commented on #937
Thanks, @syclik.  Accepted.  @drezap, no rush; safe travels.  I'm optimistic that the new script will work for you.  But of course, if it doesn't let me know.

[2019-03-01 20:07] rok-cesnovar commented on #1122
@syclik sorry to keep pinging you, I have another question regarding the cleanup.

It seems that not all metaprograms are in the stan::math:: namespace but are rather in the stan:: namespace. Is this by design and I am missing something or should this be cleaned up as well?

[2019-03-01 21:07] syclik commented on #1122
@rok-cesnovar: no bother at all!

We had originally put all the metaprograms in the `stan::` namespace, not `stan::math::` namespace. It's been a while since we tracked that very carefully, so it's possible that things were added inconsistently.

I think the first thing to do is to take a quick inventory? I think the other thing that might be happening is that there are functions in meta that aren

[2019-03-01 22:11] bgoodri commented on #1114
Here is what might be known about this bug. Running it under GDB with optimization yields this not-so-helpful backtrace
[code]
However, Windows can no longer compile Stan programs without optimization, so we cannot get human-readable symbol names. A rough translation of the above is:
[code]
But I still can't take anything away from that other than it crashed.

[2019-03-02 00:53] #1117 closed

[2019-03-02 01:04] SteveBronder opened #1133 "Stuff to do before making GPU announcement"
There's a list of a few smaller open issues we want to address before we make a formal announcement that we have GPU stuff now.

#### Blocking:

-------------

- [x] Change the folder name to `opencl` and the matrices from `matrix_gpu` to `matrix_cl`
  - The OpenCL stuff can also use CPUs, so I think it's appropriate we change this
- [x] Make sure the install instructions in the wiki are clear and

[2019-03-02 03:58] drezap commented on #937
@roualdes yeah I've tried this gist and it's not kosher, I could be doing something wrong though. When you get the chance, can you get the branch `code-cleanup/issue-937-flatten-prim` to the state you had it Thursday, and I can work from there?

thanks much.

[2019-03-02 07:21] rok-cesnovar commented on #1133
I will tackle the renaming stuff today.

[2019-03-02 08:22] wds15 opened #1134 "map_rect with threading broken on windows"
## Description
Programs which use `map_rect` with threading on Windows with the gcc 4.9.3 do not work. Programs compile, but once execution reaches the threaded code parts, the program just terminates

## Example

Execute on windows with RTools (gcc 4..9.3) and threading configured the following:
[code]

This will abort execution once the threaded tests are reached.

## Expected Output
It should j

[2019-03-02 17:32] bob-carpenter commented on #1133
Thanks a lot for laying this out.  I'm really looking forward to GPU support!

...

...

[2019-03-02 19:42] rok-cesnovar commented on #1122
[code]

[2019-03-02 22:22] roualdes commented on #937
@drezap, would you please clarify whether you want me to `revert` and `merge` `develop` branch into `code-cleanup/issue-937-flatten`, or to create a new branch `code-cleanup/issue-937-flatten-prim`?

Development on the [script](https://gist.github.com/roualdes/ea72fc0fbcac05329e562a0e60ee0a1d) continues, in the hopes that it will one day work for someone other than me.  There's now documentation w

[2019-03-03 17:04] drezap commented on #937
@roualdes, the first one. As long as we’re branch off of the latest develop
it’s fine.

On Saturday, March 2, 2019, Edward A. Roualdes <notifications@github.com>
wrote:

--
Best,

Andre Zapico

[2019-03-03 19:40] roualdes commented on #937
Just gave it my best effort.

[2019-03-04 03:14] syclik commented on #1133
I was trying to run doxygen from `develop` and it failed. It looks like it's coming from the GPU code:
[code]

Could someone verify that this is happening? If it runs correctly for you, then maybe something's misconfigured on my end.

[2019-03-04 03:21] syclik opened #1139 "Doxygen errors on develop"
## Description
Running `make doxygen` fails on `develop` right now.

There are a few things we need to do:
1. check why Jenkins is letting this pass; fix it so it prevents errors from getting through
2. fix the problems.

## Example
[code]
and it hangs.

I'm also seeing this behavior on our Jenkins box for a recent `develop` run: http://d1m1s1b1.stat.columbia.edu:8080/blue/rest/organizations/jenki

[2019-03-04 03:23] syclik commented on #1139
cc:
- @seantalts - any ideas on how to get Jenkins to stop the build?
- @drezap - this error looks like it's coming from `gp_matern32_cov.hpp` and it's malformed latex. Mind taking a look?

[2019-03-04 03:41] syclik commented on #1139
for anyone working on this, I've got a branch open: `bugfix/issue-1139-doxygen-errors`

[2019-03-04 04:15] syclik commented on #1122
whoa... yeah, we let some things sneak into `stan::math` and `stan::math::internal`.

I'm not sure what we should do to be consistent without looking deeply. Suggestions?

[2019-03-04 04:29] SteveBronder commented on #1133
I'm not getting this error, but I am seeing a doxygen error for the place that you posted in #1139 . Oddly, I swear I ran doxygen before that branch merged and it was fine. Though if I go back to the pre gpu rev commit 5f5bbf4f43dce0cbd9d94ee2bc35f98e28f9e00b the doxygen compiles fine. I'll try to trace where this happened

[2019-03-04 04:33] syclik commented on #1133
if you're not getting it, don't worry about it for now. No need to get sidetracked on this if it's not your problem.

[2019-03-04 04:58] SteveBronder commented on #1133
Correction: I am seeing the doxygen error from matern32 before 5f5bbf4f43dce0cbd9d94ee2bc35f98e28f9e00b (before gpu rev stuff). If you need any help trying to trace this lemme know. Looked at the latex the matern32 doc produces in an online latex compiler and, though latex does complain for a bit, it does produce results.

[2019-03-04 09:18] rok-cesnovar commented on #1122
My suggestion would be to either:
- have them all in the same workspace,  `stan`, `stan::math` or `stan::math::internal`
- define a set of rules/guidelines of when to use each of the 3 namespaces we currently have

I added this to the issue so it doesnt get burried by something else over time.

[2019-03-04 13:32] seantalts commented on #1139
If you're logged in, there's a square in a circle near the top right of the
blue ocean screen.

On Mon, Mar 4, 2019 at 3:41 AM Daniel Lee <notifications@github.com> wrote:

[2019-03-04 13:50] syclik commented on #1122
Thanks. I think that’s absolutely the right assessment. My guess: the functions that are not template meta programs are in the stan::math namespace (and probably should be moved to the fun/ directory). But that’s just a guess. We can look through these together.

[2019-03-04 13:54] syclik commented on #1139
So... running locally, I’m seeing make doxygen hang with the same output as
our Jenkins processes.

There’s a LATEX_BATCHMODE setting we can turn on, which will get past that,
but I haven’t determined whether it’s actually just swallowing the error or
if we can safely ignore the regular process wanting user input.

On Mon, Mar 4, 2019 at 8:32 AM seantalts <notifications@github.com> wrote:

[2019-03-04 17:38] seantalts commented on #1122
The stuff in `stan::math::internal` is not part of even the metaprogram API; that namespace is for hiding implementation details. The stuff that lives there now should continue to live there, but you'll notice it's not the entirety of e.g. `operands_and_partials` but just the various edge implementations.

[2019-03-04 18:00] rok-cesnovar opened #1142 "Add optimization for special cases of matrix multiply for OpenCL"
## Description

For cases when we know that an input matrix has certain properties, we can optimize the OpenCL kernels significantly.

In the near future we would like to add at least the following:

- [x] `lower_tri` x `rect`
- [x] `rect` x `lower_tri`
- [x] `upper_tri` x `rect`
- [x] `rect` x `upper_tri`

Where `lower_tri` and `upper_tri` are lower and upper triangular matrices and `rect` is a n

[2019-03-04 18:06] SteveBronder commented on #1142
Esoteric, but it could be cool in the overloaded `*` operator to check the matrices for these conditions and call the appropriate kernels as well as exposing them normally.

Keeps feeding into my want for doing Seans PR where we check square and symmetry conditions on data once and then keep those check results. Then for the end user and us there would be no overhead in having `*` check these cond

[2019-03-04 18:10] rok-cesnovar commented on #1142
Great point, thanks! Will add to the issue to investigate this.

[2019-03-04 18:37] drezap commented on #1139
I'm on it

[2019-03-04 18:39] syclik commented on #1139
Thanks. I can’t even tell yet whether your latex is a problem. Honestly,
it’ll just help to know if it’s actually well formed latex.

On Mon, Mar 4, 2019 at 1:38 PM Andre Zapico <notifications@github.com>
wrote:

[2019-03-04 18:47] drezap commented on #1139
It was not well formed latex. Pushing the commits to this branch momentarily

[2019-03-05 17:42] seantalts commented on #1124
@wds15 do you have a sense for what it would take to just send strings or Exception objects back and forth from the nodes? Do we need the serialization library for that?

[2019-03-05 20:00] #1097 closed

[2019-03-05 20:07] wds15 commented on #1124
The easiest way is to ship the strings from the exceptions. This way you don't get the type of the exception, but you can display a meaningful error message.

The reason why I dismissed better error messages is that

- I think it will require more synchronization communication which can slow down things on the cluster since communication is expensive.
- To me users should first setup their model w

[2019-03-07 15:41] bgoodri opened #1144 "Math does not have the matrix (inverse) square root"
## Description

You can apply the `sqrt` function elementwise to a matrix, but Stan Math does not have a function to take the (symmetric) square root of a positive definite matrix (or its inverse), defined as `V * diag_matrix(sqrt(v)) * V'` where `V` is a matrix of eigenvectors and `v` is a vector of eigenvalues. In the case of the inverse square root of a matrix, there is a `diag_matrix(inv_sqrt(

[2019-03-07 18:44] yizhang-cae commented on #1061
What's the status of this issue?

[2019-03-07 18:56] #769 closed

[2019-03-07 19:10] yizhang-cae commented on #1114
Looks like an access issue of SUNDIALS N_vector. But with above information it's not reproducible. Does it crash on every run or just some runs?

[2019-03-07 19:28] bgoodri commented on #1114
It is not completely reproducible but I can always trigger it on the
Windows machine in my office if I run the model enough times.

On Thu, Mar 7, 2019 at 2:10 PM Yi Zhang <notifications@github.com> wrote:

[2019-03-07 19:30] yizhang-cae commented on #1114
So it depends on random seed maybe? Run with the failure seed may improve the reproducibility.

[2019-03-10 11:57] lukas-rokka opened #1146 "precision of scale_matrix_exp_multiply"
## Description
`scale_matrix_exp_multiply(t, A, B)` doesn't always equal `matrix_exp(tA) * B`. Might be a precision issue,  where `scale_matrix_exp_multiply` does some sort of approximation and therefore doesn't give same result as `matrix_exp(tA) * B` when `A` has a low condition number.

## Example

This example is based on the discretization of Linear Time-Invariant ODE systems (https://github.

[2019-03-10 12:21] syclik commented on #1146
@lukas-rokka, thank you for submitting the issue! We’ll try to track it down.

The next steps:
1. create a unit test showing this behavior (the example gets us almost all the way there)
2. determine what the problem is
3. fix it.

@yizhang-cae, want to take a look?

[2019-03-11 00:03] SteveBronder commented on #1139
Can this be closed?

[2019-03-11 10:23] seantalts opened #1149 "Jenkins doesn't seem to collect test failures"
## Description
On builds like [this one](http://d1m1s1b1.stat.columbia.edu:8080/blue/organizations/jenkins/Math%20Pipeline/detail/develop/232/pipeline) it doesn't seem to properly collect the test failure xml into the "Tests" tab.

## Expected Output
I would expect that that tab shows the failure message. Though this might be a test segfaulting, in which case this issue can be closed.

#### Curren

[2019-03-11 10:24] seantalts opened #1150 "[develop broken] gp_exponential_cov_test failing with GPU"
## Description
Seems to persistently fail: http://d1m1s1b1.stat.columbia.edu:8080/blue/organizations/jenkins/Math%20Pipeline/detail/develop/232/pipeline

Not sure why this test doesn't fail for other unit test modes besides the GPU mode. Tagging @rok-cesnovar, @SteveBronder, and @drezap as people who might know the most about this intersection.

#### Current Version:
v2.18.1

[2019-03-11 11:00] drezap commented on #1150
I’ll take a look asap

On Monday, March 11, 2019, seantalts <notifications@github.com> wrote:

--
Best,

Andre Zapico

[2019-03-11 11:07] seantalts commented on #1150
I just realized this only started failing after PR #1141 was merged, so also tagging @increasechief. Might be that the GPU code was using some of the error functions that that PR changed?

[2019-03-11 11:32] #1139 closed

[2019-03-11 11:53] rok-cesnovar commented on #1150
The GPU code does use come of those checks. Do we need to change something there? I will have a look at the PR to wrap my head around that.

[2019-03-11 12:06] rok-cesnovar commented on #1150
Is this on a Windows machine? Just trying to find a way to replicate this.

[2019-03-11 12:09] seantalts commented on #1150
No, this is on a mac. Does the test not fail for you on Windows on develop?

[2019-03-11 12:11] rok-cesnovar commented on #1150
For now, I tried it on my regular setup which is an Ubuntu laptop and a workstation and it all passes. Trying on the Windows workstation now.

[2019-03-11 12:18] rok-cesnovar commented on #1150
It passes there too with and without STAN_OPENCL set.

[2019-03-11 12:22] seantalts commented on #1150
What is the command you're running? The failure is with STAN_OPENCL=true and device and platform set.

[2019-03-11 12:24] seantalts commented on #1150
Weird, on my machine `./runTests.py test/unit/math/prim/mat/fun/gp_exponential_cov_test` also passes...

[2019-03-11 12:26] rok-cesnovar commented on #1150
I tried `python runTests.py test/unit/math/prim/mat/fun/gp_exponential_cov_test` on all 3. I am now running ./runTests.py test/unit/math/prim/fun/" to see if there is a problem elsewhere but the output doesnt flush, idk.

[2019-03-11 12:26] drezap commented on #1150
yeah I'm linux and I ran same command and I'm passing as well. The PR also passed the GPU unit test.

[2019-03-11 12:36] seantalts commented on #1150
I'm running a build now to see if reverting #1141 fixes it on the Jenkins Mac pro, or if some other thing is suddenly going wrong on that machine...

[2019-03-11 14:04] SteveBronder commented on #1150
Wasn't  #1131 merged yesterday? Though odd its passing everywhere else. Is the GPU code run on the mac?

[2019-03-11 15:08] seantalts commented on #1150
reverting #1141 didn't seem to help it pass on the mac. Trying to revert #1131 and see if that helps... I'm suspicious that just the mac pro is failing on this test.

[2019-03-11 15:23] seantalts commented on #1150
Here is the backtrace from the mac pro:
[code]

still digging into it ...

[2019-03-11 15:33] seantalts commented on #1150
Ah, there was uninitialized memory in the test. I will add the fix to the GPU PR.

@syclik We really need to switch all new code to use array initializers where applicable:
[code]

becomes

[code]

Did you notice the off-by-one error in the original?

[2019-03-11 15:42] rok-cesnovar commented on #1150
But why does this only happen with GPU on? Just a coincidence like the cholesky vector init stuff from a year ago?

[2019-03-11 15:44] syclik commented on #1150
why does either work?? Shouldn't the definition be `l_vec(3)` (instead of
2)?

And I agree with Rok... are there additional compiler flags that are
interacting with GPU on? Or is this really just a memory issue that's being
triggered dependent on how the machine feels that day?

On Mon, Mar 11, 2019 at 11:42 AM Rok Češnovar <notifications@github.com>
wrote:

[2019-03-11 15:50] seantalts commented on #1150
Ah, I edited the new version so the email you got probably had the wrong code. If you take a look at the issue you can see the edited one doesn't contain a size declaration (now).

There are no additional flags. This bug didn't even happen every time I ran the test executable on the mac, which is 1) crazy but 2) exactly my experience of other memory safety issues in C and C++. I think we just got

[2019-03-11 19:04] rok-cesnovar commented on #1133
I can confirm that the instructions work on:

- an Ubuntu AWS GPU instance (working on potentially having a CmdStan AMI as Steve suggested)
- a clean Windows installation with NVIDIA GPU
- a clean Windows installation with an AMD GPU

Everything worked fine, except for the last one, the path to the lib file in the provided (and latest) AMD APP SDK is `"$(AMDAPPSDKROOT)lib\x86_64"` not `"$(AMDAPPSD

[2019-03-11 19:33] bgoodri opened #1152 "`algebra_solver` does not compile with generalized lambda functions"
## Description

The `algebra_solver` function does not compile when given a generalized lambda function. @charlesm93

## Example

[code]

yields

[code]

## Expected Output

A compiled object

#### Current Version:
v2.18.1

[2019-03-11 19:59] drezap commented on #1150
Yeah sorry this was careless on my part. There are many test cases I should have gone through more thoroughly. I've fixed the bug on that branch and I'll re open the PR.

[2019-03-11 20:00] seantalts commented on #1150
oh, don't worry about fixing / reopening - I put it into a PR that's almost through testing.

[2019-03-12 08:19] lukas-rokka commented on #1146
I did a benchmark, with the example above, using windows, rstan 2.18.2 and the microbenchmark package. For this particular setup, `matrix_exp(tA) * B` is actually 2-3 times faster than scale_matrix_exp_multiply(t, A, B).

[2019-03-12 08:27] wds15 commented on #1146
How do you run the benchmark? In case you use `expose_stan_functions` then you do not calculate the gradients of that expression ... and that is the real bummer for a Stan program.

I just would like to note that we have disabled the `scale_matrox_exp_multiply` function in the current develop (and replaced it with the non-special code). This has been done has very rare segfaults were reported on t

[2019-03-12 09:11] lukas-rokka commented on #1146
Yes, I used the `expose_stan_functions`. So the benchmark was between the implementation of the `matrix_exp(tA) * B` and `scale_matrix_exp_multiply(t, A, B)`, not for a full Stan program.

Did some further benchmarking. The `scale_matrix_exp_multiply` was actually 30-50 % faster when the resulting system has a condition number closer to 1. So the slowdown is probable related to precision as well.

[2019-03-12 09:22] lukas-rokka commented on #1146
or, do you mean that `scale_matrox_exp_multiply` can be more efficient in an actual Stan program due to how gradients are calculated?

[2019-03-12 09:32] wds15 commented on #1146
Yes... it can... but I haven't done the implementation myself so that I don't know... but certainly the integrated function does some tricks to get the gradients more efficient - and the numerical cost of almost any Stan operation is getting the gradients (while the actual function value is most of the time relatively cheap to get in comparison).

[2019-03-12 17:22] #1006 closed

[2019-03-13 03:38] yizhang-cae commented on #1124
To me users should first setup their model without MPI (using threading or whatever) and then switch on MPI as a means to get maximum performance

I believe the value of meaningful error msg outweighs the above points. The communication cost is only relative, besides one doesn't have to pass the exact exception msg from one process to another, as long as the msgs from all of the processors tell a

[2019-03-14 11:34] t4c1 opened #1156 "Speedup symmetric eigendecomposition"
## Description

Symmetric eigendecomposition from library Eigen is implemented in a suboptimal way. It consists of two steps: tridiagonalization and tridiagonal eigensolver.

In Eigen, basic Householder tridiagonalization is implemented. This can be improved on using blocked Householder algorithm, which uses cache more efficiently and is therefore faster.

For symmetric eigensolver Eigen uses QR i

[2019-03-14 15:11] SteveBronder commented on #1150
Is this resolved?

[2019-03-14 15:24] seantalts commented on #1150
Yep!

[2019-03-14 15:24] #1150 closed

[2019-03-14 17:23] rok-cesnovar opened #1157 "Use enums in OpenCL kernel parameters"
## Description

As discussed in #1143 we need to cleanup the OpenCL kernels with the use of enums where applicable. We currently use 2 enum classes in `TriangularViewCL` and `TriangularMapCL` that could also be used in the kernels.

The `enum` values in both C++ and the kernels need to match, so they have to be added to the helpers in `helpers.hpp`.

Together with this change we can also merge the

[2019-03-14 17:42] seantalts commented on #1157
generally wanna follow the style guide: https://google.github.io/styleguide/cppguide.html#Enumerator_Names but we confusingly have some overrides in [this wiki](https://github.com/stan-dev/stan/wiki/Coding-Style-and-Idioms). We don't mention enums and what we write about classes on that wiki doesn't actually say what the style is, but I think basically your last example is probably what we should

[2019-03-14 18:02] bob-carpenter commented on #1152
I'll tackle this one.  I've recreated the bug as a unit test not involving rcpp.

[2019-03-14 20:30] bob-carpenter commented on #1157
If we followed the GSG as written, we wouldn't have references or exceptions or Boost.

[2019-03-15 13:57] t4c1 commented on #1156
I made something similar to your test: https://gist.github.com/t4c1/b8112f4bb9b3d6261f29cb578fa20090

[2019-03-15 14:21] wds15 commented on #1156
Could u please plot that table? I am bad in mentally plotting it...

...this looks quite nice...

[2019-03-15 14:51] t4c1 commented on #1156
Here are the graphs for times and errors:
![CPU speedup](https://user-images.githubusercontent.com/7499452/54439917-0b9ca000-473a-11e9-8114-cb9f0c76cefe.png)
![CPU_errors](https://user-images.githubusercontent.com/7499452/54439925-0dfefa00-473a-11e9-93da-7e75bd5bb200.png)

[2019-03-15 16:09] prehensilecode opened #1160 "Feature Request: support for Intel icpc"
## Description
Intel C++ compiler (icpc) should be supported, together with the "-xHost" compiler option to generate instructions for the highest instruction set and processor available on the compilation host machine.

## Example
In `make/default_compiler_options` set
[code]

Currently, since the optimization flag only sets the integer optimization level, there is no mechanism for adding other op

[2019-03-15 19:53] SteveBronder commented on #1156
Nice! `bstatcomp:cpu_eigendecomposition` is the branch I should be on to test the above?

[2019-03-15 20:03] rok-cesnovar commented on #1156
Yep: https://github.com/bstatcomp/math/tree/cpu_eigendecomposition

There is also a variant for OpenCL where I think Tadej got around a 5-6x speedup compared to this branch on a GTX1070.

[2019-03-15 20:27] bgoodri commented on #1160
You can put whatever you want into

make/local

but icpc isn't a big priority for us.

On Fri, Mar 15, 2019 at 12:09 PM David Chin <notifications@github.com>
wrote:

[2019-03-16 14:47] bob-carpenter commented on #1160
We'll also accept pull requests to bring our math lib up to other library standards as long as it doesn't break anything else or leave the code too crufty with ifdefs.

[2019-03-16 15:35] bob-carpenter commented on #1152
Here's a unit test that doesn't involve Rcpp:

[code]

[2019-03-17 04:35] SteveBronder opened #1163 "Allow OpenCL queue to run in Async"
## Description
With the standard queue we can only do one of the 3 at once. So

[code]

Will first compute and pass back all of B + C into A and then compute and pass back F + G to D. With async we can now pass over the data for B + C, then as B + C is computing we can pass in the data for F + G. Similarly F + G can be computed while the result A is being transferred back to the host.

## Expected

[2019-03-18 04:49] yizhang-cae opened #1165 "Use Stan's own MPI communicator to avoid communicator interference"
## Description
This is a following up, or more specific issue spawned from https://github.com/stan-dev/math/issues/939. Namely, currently Stan's MPI implementation uses a predefined global communicator `MPI_COMM_WORLD`, this is against the recommended use of the communicators, see

http://pages.tacc.utexas.edu/~eijkhout/pcse/html/mpi-comm.html#Duplicatingcommunicators
https://www.open-mpi.org/doc/

[2019-03-19 01:26] bgoodri commented on #1152
Also, `map_rect` does not work with generalized lambda functions, only structs. If `f` is a generalized lambda, I get:
[code]

[2019-03-19 10:03] wds15 commented on #1152
I think this does not work by design for map rect. I can verify if you want

[2019-03-19 18:20] bob-carpenter commented on #1152
I think it's probably the same problem---we need functors with polymorphism, not a single lambda.  Any map_rect that gets instantiated with var will also get instantiated with double when it comes to generated quantities (in method write_array in generated model class).

[2019-03-19 20:37] syclik opened #1166 "PR #1135 broke develop. Reverting the PR."
## Description
`develop` is currently broken after merging #1135. This was from `feature/faster-ad-tls-v3`.

## Expected Output
`develop` is ok.

#### Current Version:
v2.18.1

[2019-03-20 00:43] #1166 closed

[2019-03-20 19:11] rok-cesnovar opened #1168 "Replace OpenCL buffer rectangular copies in kernels with API calls"
## Description

When doing copies of a 2D buffer, you can use the OpenCL provided `enqueueCopyBufferRect`.
This provides a ~50% reduction when copying smaller chunks, less of speedup at larger sizes (see google benchmark results below). Our implementation of the Cholesky decompose does quite a number of these smaller copies so this is worthwhile. This can be used in both `sub_block` as well as `co

[2019-03-20 19:17] SteveBronder commented on #1168
Nice! I've been thinking also about using sub-buffers for Cholesky. Since the data comes in column major order I'm pretty sure we could use sub-buffers in the cholesky comp since the algo goes from left to right along the columns. Then I think we could get rid of the sub blocks stuff

[2019-03-20 19:18] rok-cesnovar commented on #1168
Agreed, this is both far from the bottleneck of the Cholesky, but still worth an overdue cleanup.

[2019-03-21 18:28] #1168 closed

[2019-03-22 19:56] helske opened #1174 "Typo in simplex validation message (probabilites)"
## Description
There is a typo in the error message relating to the simplex parameter check:

In `math/stan/math/prim/mat/prob/multinomial_lpmf.hpp` and `stan/math/prim/mat/prob/multinomial_lpmf.hpp` there is a line
`check_simplex(function, "Probabilites parameter", theta);`

## Expected Output
`check_simplex(function, "Probabilities parameter", theta);`

#### Current Version:
v2.19.0

[2019-03-22 19:57] syclik commented on #1174
Thanks! Want to create a PR?

[2019-03-23 00:16] drezap opened #1175 "bugfix/gp_matern52_cov-translation-fails"
## Description
This is in reference to stan-dev/stan#2739 that's failing on stan-dev/stan.

I'm getting some compilation error that throws because I've used a function name as a variable name.

## Expected Output
stan-dev/stan passes all tests.

#### Current Version:
v2.19.0

[2019-03-23 09:04] wds15 commented on #1165
Are u saying that any other MPI application on a cluster will be messed up by Stan's map_rect?

[2019-03-23 09:06] wds15 commented on #1114
Can u rerun now with Stan 2.19 which has sundials upgraded to 4.1.0. Hopefully this fixes the issue.

[2019-03-24 03:42] syclik commented on #1175
@drezap, can you add more detail about what this bug is? I'm looking at the PR and there isn't information about the bug here. It looks like there's some description in the Stan repo, but it's not specific enough for me to understand what's going on.

Is there a test case that fails before the change is applied?

[2019-03-24 05:34] #1100 closed

[2019-03-24 16:32] wds15 opened #1179 "Add Intel TBB library"
## Description
The Intel TBB (Threading Building Blocks) is used a lot in scientific computing to add optional parallelization to existing programs in a C++ framework. Key benefits for stan-math are:

- faster malloc functions which are beneficial for stan-math and in particular for threading
- work stealing queuing facilities which will optimally distribute work packets
- no more need to focus on

[2019-03-25 08:27] davidmanheim commented on #1114
Success!

Now all I need is RStan 2.19 to be released so I can get back to the original problem...

[2019-03-25 08:32] wds15 commented on #1114
Great! I like if problems just go away like that.

[2019-03-26 11:05] t4c1 opened #1184 "Speedup GLMs"
## Description
GLMs can be optimized, especially for small number of parameters. Right now there are multiple instances of unnecessary copying of data and repeating same calculations. Also most loops can be replaced with Eigen expressions that produce vectorized (faster) binary code. There was a previous take on this problem ([pull request 1038](https://github.com/stan-dev/math/pull/1038)).

Furth

[2019-03-26 15:43] bob-carpenter commented on #1184
Thanks for submitting.  We're trying to coax our issues into being more like technical specs.  For this issue, there needs to be a description of how the GLMs are to be sped up.  I think this issue has already been discussed, so maybe there could be a pointer to that discussion.

[2019-03-27 07:43] t4c1 commented on #1184
I have updated the issue with more details.

[2019-03-27 14:15] bob-carpenter commented on #1184
Thanks much for adding the details.

[2019-03-29 03:58] #1174 closed

[2019-03-31 09:01] rok-cesnovar opened #1188 "Update the Boost lib version in README.md compile example"
## Description
The required libraries section has the updated version of the Boost version, but the compile example and the directories list still use Boost 1.66.

## Example

[code]

The following directories all exist below the links given to `-I`: `~/stan-dev/math/stan` and `~/stan-dev/math/lib/eigen_3.3.3/Eigen` and `~stan-dev/math/lib/boost_1.66.0/boost` and `~stan-dev/math/lib/sundials_4.1.0

[2019-03-31 20:45] ode33 opened #1190 "Jenkins requires check_cov_matrix.hpp a redundant file"
## Description
Removing `check_cov_matrix.hpp` and replacing it's functionality with `check_pos_definite.hpp` will satisfy the preexisting test cases but causes Jenkins to fail downstream tests.

## Example
http://d1m1s1b1.stat.columbia.edu:8080/blue/organizations/jenkins/Math%20Pipeline/detail/PR-1187/9/pipeline

#### Current Version:
v2.19.0

[2019-04-01 09:44] t4c1 opened #1191 "Speedup GPU matrix-vector and vector-matrix multiplication"
## Description
Current implementation of GPU matrix multiply is very slow (slower than CPU on my computer!) for cases vector\*matrix and matrix\*vector as it creates many threads and does work with only a few of them.

## Example

## Expected Output
matrix\*vector and vector\*matrix is faster on GPU.

#### Current Version:
v2.19.0

[2019-04-01 16:41] alekpikl commented on #1146
Hi,

Firstly, a bit thank you to all developers who are contributing to this great project!

Coming back to the topic at hand, I just wanted to create an issue about this...
I had the same problem with the underlying method ```matrix_exp_action_handler().action()```, which is called by ```scale_matrix_exp_multiply()```.

To the best of my knowledge, the ```matrix_exp_action_handler().action()``` i

[2019-04-01 16:54] yizhang-cae commented on #1146
Sorry being stranded on something else. I'll take a look and address this.

[2019-04-01 21:01] drezap opened #1194 "testing/Missing Tests"
## Description
A few files found by @roualdes in threat [The Flattening Refactor](https://discourse.mc-stan.org/t/the-flattening-refactor/7932/4?u=drezap) are empty and need tests written. The files I need write tests for are:
[code]

## Expected Output
Tests are written.

#### Current Version:
v2.19.0

[2019-04-01 21:14] drezap commented on #1194
@increasechief is there already an issue for this? feel free to close this and post a link to that one, if that's ok

[2019-04-01 21:17] increasechief commented on #1194
Sorry. No I was going to confirm that this is the branch: https://github.com/stan-dev/math/tree/code-cleanup/issue-937-flatten.

There may be some helpful test cases in `{arr,scal,mat}/err/`

I have a habit of trying to close the dialogue box and mistakenly closing the issue.

[2019-04-01 21:38] increasechief commented on #1194
I'm interested if I can help you with this.

There is some additional new development, for example the current `LDLT_function.cpp` file uses the `check_square` function, which is part of a set which variously throw exceptions or domain errors. There are now the `is_square` (pending the merge of #1187)  function which is in a set of tests which will return a boolean operator. An additional thought

[2019-04-01 21:50] drezap commented on #1194
sure, if you want. I'm starting from the top, it's really easy stuff.

I slightly disagree, as I've been testing correct error message are thrown for other functions, and this kinda goes against the "all changes tested".

Sure, we can divide and conquer. Feel free to just assign me stuff (easy to keep track this way), as long as there's no intersect between the work so we're not overlapping.

[2019-04-01 21:58] increasechief commented on #1194
Assuming that no `check` functions are included, barring other sources, no error messages will be thrown and the code will still have all of the same `check` function assurances in place. Maybe that's not what they are ultimately intended for...

Mostly I was looking to figure out where the branch for this is being kept. I have it now. My issue is that I'm really *slow* going over things for the f

[2019-04-02 18:42] bob-carpenter commented on #1194
No rush.  The idea of having the `check` functions is that we'd eventually rewrite the validate functions in terms of the check functions.  And we'd expose both to the Stan language so that users can put them in their own functions.

[2019-04-02 20:08] #1175 closed

[2019-04-03 17:20] #1188 closed

[2019-04-04 07:57] andrjohns opened #1197 "Use Eigen's plugin system to extract/manipulate values from autodiff variables"
## EDIT: Description
Following discussions below, Eigen's plugin system will be used to implement the following views:

```Matrix<var, R, C>```:

-    ```.adj()```
-    ```.val()```
-    ```.vi()```

```Matrix<vari*, R, C>```:

-    ```.adj()```
-    ```.val()```

```Matrix<fvar<T>, R, C>```:

-    ```.d()```
-    ```.val()```

## Description
Currently, when working with a matrix of autodiff varia

[2019-04-04 08:25] rok-cesnovar commented on #1197
Wow, this is really nice.

Is it possible to go the other way, to assign a matrix of doubles directly to A.val_()?

[2019-04-04 08:34] andrjohns commented on #1197
I hadn't thought about that. Not in its current state:
[code]
But I'll have a look into the right specialisation

[2019-04-04 19:45] SteveBronder opened #1198 "Give matrix_cl matrix type attributes"
## Description

On my to-do list. Right now we have code in the OpenCL stuff that looks like

[code]

This lets us do optimized multiplications for matrix_cl's with specific characteristics. But the above is kind of a weird API to me. I'd like to have something like

[code]

Where the LHS and RHS of * are `matrix_cl`s with a `TriangularViewCL matrix_view` (name subject to change) attribute. In fun

[2019-04-05 01:33] ode33 commented on #1194
Which are the validate functions?

[2019-04-05 05:38] rok-cesnovar commented on #1198
Love this! I was not happy with the API either but had no good ideas on how to simplify it. This will definitely find some additional optimizations that we havent found manually.

Transpose, lower traingular inverse, cholesky decomopose, zeros etc seem clear candidates for setting/modifying the view. For kernels like add/subtract we should keep the view if both inputs have the same view, otherwise

[2019-04-05 09:09] andrjohns commented on #1197
Implementation question. For this to work, we need to declare ```
#define EIGEN_MATRIXBASE_PLUGIN "path/to/MatrixBaseAddons.h"``` before any of Eigen's headers are included.

Where would be the best place for the definition and where should the MatrixBaseAddons.h file go?

[2019-04-05 09:17] wds15 commented on #1197
I wonder if this was considered in the past and what the assessment was.

@syclik or @bob-carpenter ? As you both were around with the project since the start you probably have thought about this plugin system already, right?

Would working with this plugin system violate a design consideration of stan to keep things separate to some extent. We are anyway married with Eigen, but this would imply a

[2019-04-05 09:21] rok-cesnovar commented on #1197
@SteveBronder was working with something similar on the GPU memory cache. The define was added in  `stan/math/prim/mat/fun/Eigen.hpp` ([link](https://github.com/stan-dev/math/pull/1065/files#diff-df7a4f55fac1358cb7e5cab35a22aa08R7)) and the addon was put in `prim/mat` ([link](https://github.com/stan-dev/math/pull/1065/files#diff-e6a8bfa7097e78bdcdc9803bc85e8a34))

[2019-04-05 12:44] seantalts commented on #1198
Yeah, this seems really good at least prima facie! Does this also imply we need to change e.g. `transpose` et al to be methods?

[2019-04-05 15:31] SteveBronder commented on #1198
idt so, should it be? I think if something takes in a matrix_cl it can change the matrix_view.

Rok I was going to take a crack at fixing up the cache stuff on top of the async this weekend. Do you have any time on your plate to work on this? I figure it would look something like

1. Add a template to matrix_cl constructor like
[code]

Then add to private
[code]

2. For the methods and functions l

[2019-04-05 15:56] andrjohns commented on #1197
Excellent, I'll do the same

[2019-04-05 16:09] rok-cesnovar commented on #1198
@SteveBronder Sure, I can take a crack at this.

[2019-04-05 16:54] #1191 closed

[2019-04-05 16:55] #1091 closed

[2019-04-05 19:22] bob-carpenter commented on #1197
Yes, and we already call it for traits.  I believe this gets called
first:

stan/math/prim/mat/fun/Eigen.hpp

as you can see in:

stan/math/prim/mat.hpp

[2019-04-05 19:30] bgoodri commented on #1197
[code]
I think in most cases you would want to use an `Eigen::Map<Eigen::Matrix<T, R, c> >` when utilizing this, as long as you are not calling any functions on it from Stan Math.

[2019-04-06 06:50] andrjohns commented on #1197
```Eigen::Map``` won't be needed as it can already be used with Eigen functions. The example was just for the case where the values were to be copied to a different matrix.

A better example for this would be ```fwd/mat/fun/determinant```. The function is currently:
[code]
But this could be re-written to :
[code]

[2019-04-06 11:34] andrjohns commented on #1197
I'm just about ready to submit a PR, but I want to make sure I haven't missed any functionality.

For ```var```: read values, read and write adjoints:
[code]

For ```fvar<T>```  I can read and write the values and gradients.
```fvar<double>```
[code]
```fvar<fvar<double>>```
[code]
```fvar<fvar<var>>```
[code]

Are there any other functions/features that I should look at adding?

[2019-04-08 20:50] bob-carpenter commented on #1197
I think we want to be moving in the exact opposite direction and replace all the Eigen functions with their `stan::math` equivalents.   For example, using `multiply(m_inv, m_deriv)` delegates to Stan's autodiff implementation, whereas `m_inf * m_deriv` will just autodiff through Eigen's matrix multiply, which is super wasteful of memory (it's faster, but the speed's not worth the memory cost).

Th

[2019-04-08 21:13] SteveBronder commented on #1197
^I'd be interested in talking about this on Thursday. The idea here seems very cool and good to me from the perspective of cleaning up the Math code

I wonder if google benchmark can report memory usage as well as speed? I have to travel this week for work but this weekend can sit down and try to work out a performance benchmark that would look at using stan vs eigen's stuff. In particular I'd be

[2019-04-09 00:33] andrjohns commented on #1197
But in that case, it seems like a lot of operations boil down to looping through operations with individual variables to build the values and tangents, when they could be built through matrix functions. In this case, to build the ```fvar<T>```, the process is:
[code]

It's likely me not fully understanding the autodiff process, but it feels more efficient to have the process just be
[code]
I've al

[2019-04-09 23:09] ShaunMcDonald1021 commented on #866
This function has been added? I can't find it in the Functions Reference - I didn't know it existed until I saw this thread.

[2019-04-09 23:33] drezap commented on #866
@ShaunMcDonald1021 it's been merged in the math lib but not added to the language, thanks for the reminder.

[2019-04-11 00:22] andrjohns commented on #1197
I've done some quick benchmarking for ```fwd/mat/multiply```, and results are extremely promising.

Using matrices of size (1000,1000), the speedup is very large:
[code]

@SteveBronder if you wanted to do any benchmarking,[this the branch I'm working on
](https://github.com/stan-dev/math/compare/develop...andrjohns:eigen-devel)

[2019-04-11 06:43] rok-cesnovar commented on #1197
This looks really really promising. Do you maybe have the benchmark file on a gist or somewhere?

[2019-04-11 11:47] andrjohns commented on #1197
Yep, I've got a [branch of sean's benchmarking repo set up to test this](https://github.com/andrjohns/perf-math/tree/feature/eigen_fwd)

It runs off vanilla math with the 'matrix_addons.h' header ([Comparison here](https://github.com/seantalts/perf-math/compare/master...andrjohns:feature/eigen_fwd)), but you need to add a type member to the fvar struct first:
[code]

[2019-04-12 09:43] t4c1 commented on #1184
I have just completed GPU implementations! Speedups are quite significant:

![GPU speedup k=2000](https://user-images.githubusercontent.com/7499452/56028324-2c93e900-5d18-11e9-9b9d-99e6e42e2374.png)
![GPU speedup k=2](https://user-images.githubusercontent.com/7499452/56028339-2f8ed980-5d18-11e9-8ad9-f48d5951bd76.png)

[2019-04-12 15:40] bob-carpenter commented on #1184
That's really great.  Is it ready for review?  One of the GPU devs is going to have to take a look.

I take it that K = 2000 and K = 2 are the number of predictors?

I'm surprised there's any speedup for K = 2 --- is it because things other than the matrix-vector multiply are also being sped up?

Any idea why the bernoulli-logit is so much faster on GPU?  I'd have expected normal_id to speed up th

[2019-04-12 16:03] t4c1 commented on #1184
This is waiting for GPU caching and CPU GLM optimizations PRs to be merged. Meanwhile I will probably reorganize the code a bit resulting in another PR that will have to be merged before this one.

K is the number of attributes of each data point.

Yes, there is a separate kernel for each model that does all the computationally heavy operations.

With a large number of attributes speedups of all f

[2019-04-12 16:35] SteveBronder commented on #1184
I'll look at that this weekend. Trying to get the async and paper stuff finished up as well

[2019-04-15 09:09] rok-cesnovar commented on #1198
@t4c1 volunteered to do this one, so I am assigning him

[2019-04-15 09:49] t4c1 opened #1200 "Add option of having device functions shared across opencl kernels"
## Description
Right now the only option of sharing code between opencl kernels is to put it into global kernel helpers, whicha are included into every kernel. This should be reorganized so that it is possible to select which of the common device functions/macros are included into a kernel.

## Example
Matrix addition kernel uses matrix indexing helper macros. That should be specified when creatin

[2019-04-15 10:50] t4c1 commented on #1198
Since we have some methods that modify matrix_cl in-place (for example transpose) this can not be done with templates. Instead I will make it like this:

[code]

[2019-04-15 11:04] t4c1 commented on #1198
I will have to change signiture of `matrix_cl.sub_block()`. The problem is it accepts `TriangularViewCL` as a template parameter. With making `TriangularViewCL` an attribute of `matrix_cl` it can not be set as template parameter when `matrix_cl.sub_block()` is called from `opencl::multiply()`.

[2019-04-15 13:01] seantalts commented on #1198
is it sufficient for `sub_block` to use the triangular attribute of the matrix_cl it is being written into? I can't find where sub_block is currently being called by opencl::multiply() but here is what used to happen and I think a good illustration of the pattern:
[code]
This could now become:
[code]
(You can store the template parameter to Apad with a typedef member inside matrix_cl)

But this on

[2019-04-15 13:42] rok-cesnovar commented on #1198
The use of `sub_block` in `multiply` was removed when we got rid of padding, so triangular sub_block is not being used anywhere at the moment.

Currently, the `triangular_view` template parameter actually represents the triangular view of the source matrix (A in the example above), so we should take that matrices attribute in order to replicate the current behavior.

We should also probably take t

[2019-04-15 14:37] t4c1 commented on #1198
Nevermind, I had an old version of develop branch.

I have a slight preference for the first option - seems more general.

[2019-04-15 16:11] andrjohns commented on #1197
I've got this working with ```vari*``` variables now, which can also simplify the construction of ```rev/mat``` functions. This reduces the need for loops to copy variables, as well as the creation of intermediary matrices of doubles for calculations.

An example is ```rev/mat/fun/determinant```:
[code]
Re-written to:
[code]

[2019-04-15 16:15] SteveBronder commented on #1198
I'm indifferent though I think (1) would be easier to setup

[2019-04-15 16:34] rok-cesnovar commented on #1198
Lets go with the first option then.

[2019-04-15 17:39] SteveBronder commented on #1198
Yeah so I think for (1) we can have
1. Template on constructor
2. Assign, lower and upper depending on operations. e.g. if we do transpose a  `Lower` then switch it to `Upper`
3. For upper/lower in sub_block, check that the place we are putting values keeps the triangular property and if not then make the type `Entire`

[2019-04-16 05:37] SteveBronder commented on #1198
I started working on this here if anyone hasn't taken a stab yet

https://github.com/bstatcomp/math/tree/feature/opencl-matrix-views

Got a bit late and still need to write my part of the paper. I did the layups of the transposes, lower_tri_inverse, and cholesky. Also added `view()` and `set_view()` methods for the `matrix_cl`. For sub_block we need to check both the triangular view of the matrix

[2019-04-16 05:40] SteveBronder commented on #1198
Also, that branch is branch'd from the async branch. I want to move the pack and unpack operations as matrix_cl constructor so we can call

[code]

[2019-04-16 17:54] SteveBronder commented on #1198
Actually @rok-cesnovar can you think of a case where promoting to Entire for disagreeing types would be incorrect? Aka this logic table. If that makes sense then I think we can utilize the new `write_buffer` and `read_buffer` semantics to assign the output type (`write_buffer`) automajically. At least for `+`, `*`, and `-`.

| Input1 | Input2 | Output |
|--------|--------|--------|
| Lower  | Lowe

[2019-04-16 19:14] seantalts commented on #1198
Do we want to or need to replicate the current behavior if it's not used? Is it already clear we'll need it soon?

I wouldn't call these views... typically a view refers to something a bit different, e.g. http://www.modernescpp.com/index.php/c-17-avoid-copying-with-std-string-view

Hmm, I think 1) it will have to be more complicated than the example you posted and 2) I'm not sure you can reasonabl

[2019-04-16 20:20] rok-cesnovar commented on #1198
Yeah, I tried to clear me, you and Steve and assign Tadej, but then realized I cant, since its limited to stan-devs. Pretty embarrassing on my part :)

[2019-04-16 20:23] rok-cesnovar commented on #1198
Also Tadej has started working on other minor tasks and preparing the GPU GLM branches for when caching is merged, so no worries there.

[2019-04-16 22:45] SteveBronder commented on #1198
Aight I'll push off on this, weird and fun q I think on how to do this nicely though

Probably, but idt that much?

I think we would take the 'promoted' output value of the table above. If the output from that is Lower and flip is true then we get Upper. It feels like that makes sense

When I started working through this I think we could end up with a lot of accidental gotchas if we try to do it b

[2019-04-16 23:03] seantalts commented on #1198
What about something like `lower triangular C = diag_mat_mul_tri_transpose(upper triangular A, square B)`? is that possible?

[2019-04-16 23:03] seantalts commented on #1198
Definitely agree that `!=` is much easier to code up than a bunch of special cases, haha.

[2019-04-17 03:49] SteveBronder commented on #1198
Not sure if I'm following?

[2019-04-17 12:54] seantalts commented on #1198
I'm trying to come up counterexamples for where the `!=` chart + a flip bit doesn't lead to the best answer before we start coding it. I don't think my example makes sense because multiplying a triangular and a full square matrix doesn't preserve triangularity, but if there was such an operation that would break the mold. Another thing to think about here is other matrix attributes and how they mi

[2019-04-17 13:34] andrew-matteson opened #1204 "Small wiki problem in "Adding a new function with known gradients""
## Description
I believe the wiki, [Adding a new function with known gradients](https://github.com/stan-dev/math/wiki/Adding-a-new-function-with-known-gradients), has an error in the section "Vector function with one output".

Given the signatures of the functions to calculate value and gradient, I believe the rest of the code should be:

[code]

It would've been useful to me to also note the sign

[2019-04-17 14:27] SteveBronder commented on #1198
That's the plan sam. I'm going to try to rubber duck their code this weekend to get a better idea of what happens under the hood

[2019-04-17 16:00] #1200 closed

[2019-04-17 19:57] ode33 commented on #1204
From the example how did you include `stan/math/rev.hpp`? I don't see that file.

[2019-04-17 19:59] andrew-matteson commented on #1204
Oh, yeah, that looks broken too. My includes were:

[code]

[2019-04-17 20:01] ode33 commented on #1204
Makes sense. I see that `core.hpp` is the origin of the type `var`, very interesting.

[2019-04-18 00:39] andrjohns commented on #1197
I've got the plugin working for ```fvar<T>```,```var```, and ```vari*``` now, and I've updated the functions in ```rev/mat/fun``` to use the added methods. [Full comparison here](https://github.com/stan-dev/math/compare/develop...andrjohns:feature/issue-1197-1-eigen-plugin-rev).

This is ready for a PR, should I submit it or are there still discussions about whether this should be used? (before I

[2019-04-18 09:20] t4c1 opened #1205 "Implement gp_exp_quad_cov in opencl"
## Description
`gp_exp_quad_cov()` could use GPU to be faster.

## Example
gp_exp_quad_cov is faster when using GPU.

## Expected Output
gp_exp_quad_cov is faster when using GPU.

#### Current Version:
v2.19.0

[2019-04-18 11:12] SteveBronder commented on #1205
Nice!! Could you post a performance test?

Tag me as a reviewer when this is ready to rock!

[2019-04-18 13:45] syclik commented on #1197
@andrjohns: great! I haven't looked at the implementation in depth, but so far, so good.

The Math library tries to be conservative about changes to API, so I think it'd be worth talking about design (it just boils down to names of the functions).

It looks like you're wanting to add to the methods of `Eigen::Matrix`:
- `val()`
- `val_()`
- `adj()`
- `adj_()`
- `vi()`

Here are some things that I'

[2019-04-18 13:47] syclik commented on #1197
But, in principle, I don't see any reason we shouldn't use Eigen's plugin system for this use.

[2019-04-19 07:28] t4c1 opened #1208 "rev cov_exp_quad calls prim gp_exp_quad_cov"
## Description
Rev implementation of `cov_exp_quad()` is implemented as a call to `gp_exp_quad_cov()`. Due to missing include it calls prim implementation instead of rev.

## Example
Compile rev unittest for `cov_exp_quad()` with debug symbols. Use debugger to step into `cov_exp_quad_dvv` test. Check which implementation of `gp_exp_quad_cov()` is called.

## Expected Output
Rev implementation of `

[2019-04-19 12:46] syclik opened #1210 "Problem with coupled_ode_system"
## Description

There is a memory problem with the ~`coupled_ode_system`~ `coupled_ode_system` test; it is indexing past the end of a `std::vector`. I've only verified that this happens on one instantiation of the many different instantiations and I believe this problem may exist in some more of these instantiations.

This problem doesn't show up all the time because we've used `[]` for indexing,

[2019-04-19 12:46] syclik commented on #1210
This is linked to #1108. But it's unclear if this issue is the only problem in the ode system.

[2019-04-19 12:53] syclik commented on #1210
Issue description has been updated. When fixing this, it's not sufficient to just make it not seg fault. Now that we've recognized this is a problem, we need to introduce tests that check for correct behavior.

[2019-04-19 12:54] syclik commented on #1210
tagging @wds15

[2019-04-19 13:56] wds15 commented on #1210
Whow. Thanks for catching this. I can look at this the next days. So let me understand what’s going on, write a test and then fix it it. If you don’t mind I may alter an existing test to fail on our existing code base.

Should this fix our tls pr problems, then windows turns out to be very sensitive to many things and hence a pain to work with, but very good after all.

[2019-04-19 14:14] syclik commented on #1210
Thanks! Yes, please alter an existing test. I just want to make sure we're
actually testing behavior this time... the way it's written, it's using
stuff that's off the end of memory. Unless it happened to have the right
values there, this should result in behavior that's only right
accidentally. I want to make sure we're checking for the right values this
time around. Does that make sense?

I'm ho

[2019-04-19 14:42] drezap commented on #1208
@t4c1

Yeah I noticed this. I'm pretty familiar with this. We want the function to fall back on the `prim` version when the other isn't called.

I've already gone through and I know which functions are not being called. Would you suggest may be another specialization that covers all cases of double/var combinations? Or what's your solution?

If I remember correctly, the current implementation will

[2019-04-19 14:56] t4c1 commented on #1208
I have already opened a pull request with the solution. It turns out just one `#include` statement is missing. With that added compiler selects correct specialization.

[2019-04-19 15:01] drezap commented on #1208
great thanks..

[2019-04-19 17:41] wds15 commented on #1210
It’s surprising to see an error here...but this is a complex beast. I suspect that some of our examples used for testing are too simple as too many sensitivities are zero.

And yeah...we need to understand this and make sure we won’t commit this error again in the future by having a unit test. At the moment I am not too worried that results are garbage as we have lots of test for correctness, but

[2019-04-19 18:38] #1208 closed

[2019-04-20 11:03] rok-cesnovar opened #1211 "Cleanup unnecessary includes of boost/random/ headers in lpdfs and lpmfs"
## Description

There are a lot of `*_lpdf.hpp` and `*_lpmf.hpp` files in `prim/*/prob` (almost all files in `prim/scal/prob` but other folders also) that include:

[code]

but do not use any of the stuff from the headers. This should be cleaned up.

## Example

[bernoulli_logit_glm_lpmf](https://github.com/stan-dev/math/blob/develop/stan/math/prim/mat/prob/bernoulli_logit_glm_lpmf.hpp#L25) includ

[2019-04-20 13:26] rok-cesnovar commented on #1122
After #1186 was merged, te only metaprogram code that is without test is `prim/scal/scalar_type_pre`.

[2019-04-21 11:24] wds15 commented on #1210
Ok, diving into this shows that the *test* is violating the assumptions of the `coupled_ode_system`!

Everything is in working order and I did check the test

`test/unit/math/rev/arr/functor/integrate_ode_rk45_grad_test.cpp`

carefully to make sure that this test would have caught any error in this code - and it indeed would have catched any mistake which we commit in calculating the gradients as

[2019-04-22 08:16] #1142 closed

[2019-04-22 11:40] andrjohns commented on #1197
For the naming I've just been going off the member names for each of the variable types:
```Matrix<fvar<T>,R,C>```:
-  ```.d_()```
-  ```.val_()```

```Matrix<var,R,C>```:
-  ```.adj()```
-  ```.val()```
-  ```.vi()```

```Matrix<vari*,R,C>```:
-  ```.adj()```
-  ```.val()```

Exposing ```vi()``` would be more of a convenience function. Currently, functions loop to populate varis on the stack:
[co

[2019-04-22 13:03] syclik commented on #1197
Got it. That explains a lot.

When you say it “throws an error,” I think you mean that it will fail to
compile. Is that true? If that’s how it works, I think we’re going to have
problems with any of our cleverly templated functions (mostly the
probability distributions), but I could be mistaken. The alternative is to
make it compilable, but throw an exception on use.

For design, I’m not tied to t

[2019-04-22 13:32] syclik commented on #1210
Great! Thanks for hunting that down. Please change the test and change back the `.at()` calls to `[]`. One thing I noticed was that the offset used skipped the `0` element... is that as intended? (It might be, I haven't checked it.)

Maybe it's time to reevaluate the doc? Do you think the doc is clear enough for the developers to understand the preconditions and assumptions necessary?

But please,

[2019-04-22 13:33] syclik commented on #1210
And I updated the description to indicate that it's a bug in the test.

[2019-04-22 14:38] bob-carpenter commented on #1197
I couldn't quite follow what this:

[code]

means.  It doesn't look like valid C++.

Is the idea that if `A` is a `Matrix<var, R, C>`, then `A.vi()` returns a map to a `Matrix<vari, R, C>`?

I don't see how we could do that without allocating the contiguous memory for the `vari**`.

I think it'd be more convenient to construct a view of the values that'd look roughly like this:

[code]

Then if `a

[2019-04-22 17:07] andrjohns commented on #1197
This occurs after the memory has been allocated, for example ```variRefA_```:
[code]
After allocating the memory, the current approach is to loop through the matrix of ```var``` and call the .vi_ member on each variable:
[code]
We could instead map the allocated memory and use the added ```.vi()``` method:
[code]
Where ```matrix_vi``` is a typedef for ```Matrix<vari*,-1,-1>```. Like I said above,

[2019-04-22 18:44] bob-carpenter commented on #1197
Thanks for the context.  I see why you want to do this.

I still think you'd have to do something like define a variable
for the map and then set that---I don't think you can use a construct
Map as an lvalue.

Which plugin?  You mean we already have something to provide an expression template for the Matrix<double, R, C> of values in a Matrix<var, R, C>?

[2019-04-22 19:39] rok-cesnovar opened #1213 "Trimming boost"
## Description
This is a follow up issue from this thread on Discourse: https://discourse.mc-stan.org/t/trimming-boost-removing-unused-files/8375/8

The issue is that Boost takes 600+MB currently.

So far we know that by eliminating tests, examples and doc we can get below 200MB easily.

My plan is:

- [x] create a dummy PR to test what else could be trimmed besides tests, examples & doc. I suspec

[2019-04-22 20:12] SteveBronder commented on #1213
Also I'm pretty sure we can get rid these in the CL folder

[code]

[2019-04-23 08:00] wds15 commented on #1210
Ok.. I changed back the `.at()` to `[]`, improved the test for readability and reevaluated the doc. The doc did say what we need, but not as clear as it could have been doced. I added a bit more text to make the pre- and post-conditions more clear.

[2019-04-23 10:58] andrjohns commented on #1197
Yep, you can:
[code]
[code]

I mean the plugin system that I'm proposing we use. I've used that system to implement these expression templates.

Given ```Matrix<var, R, C> A```:
-  ```A.val()``` provides a view to the ```Matrix<double, R, C>``` of values
- ```A.adj()``` provides a view to the ```Matrix<double, R, C>``` of adjoints

@syclik

The primary difference is that using a function (a la ```

[2019-04-23 13:51] syclik commented on #1197
To recap the design decision (for @bob-carpenter; @andrjohns please let me know if I'm wrong), I think here are the three options that are reasonable:

1. Extend `Eigen::MatrixBase` using their plugin. See Eigen's doc on [Extending MatrixBase](https://eigen.tuxfamily.org/dox/TopicCustomizing_Plugins.html). By doing this, we add new methods to Eigen. I believe we'd use this as a dev-facing extensio

[2019-04-23 14:59] andrjohns commented on #1197
Right, I didn't clue on to the difference between expression templates and the added eigen methods, sorry about that!

I'll have a look into implementing these using expression templates just in the math library (i.e. no added eigen methods) and compare performance/usability.

For the benchmark, the first test (```ExpTrace_Old```) was with the extensions enabled and not used (i.e. only using the e

[2019-04-23 15:36] bob-carpenter commented on #1197
Cool.  I didn't even know you could implement operator=() to do that!
Maybe because I've only seen it done with references.

Sorry for being so behind here.  What you're proposing is perfect here:

No.  If an object has virtual methods, you pay a single vtable pointer penalty in size and then have to resolve virtual methods at run time dynamically.  If it's not a virtual method, there's no overhea

[2019-04-23 15:38] bob-carpenter commented on #1197
I don't think there'll be a difference in performance.  The usability issue is just a matter of header include ordering, right?

[2019-04-23 15:39] bob-carpenter commented on #1197
Yes.  The design discussion makes sense.

This shouldn't touch the rest of Eigen math---methods on classes are resolved statically if they're not virtual.  Of course, it can't hurt to check.

- Bob

[2019-04-23 16:15] syclik commented on #1197
Thanks, @bob-carpenter! That really explains a lot. I think you're right that there shouldn't be a penalty for speed (unless something weird happens). To back up what you've said, I found this stack overflow post: https://stackoverflow.com/a/44981711

By usability, I meant do we want to use member functions, a view with member functions, or a function. We can include the headers in the right way -

[2019-04-23 18:48] bob-carpenter commented on #1197
I'm agnostic. In general, following Eigen seems like a good idea as we use their matrix lib.

[2019-04-24 03:44] syclik commented on #359
This was closed with #549.

[2019-04-24 03:44] #359 closed

[2019-04-24 03:45] syclik commented on #426
Closing. This was fixed with #1155.

[2019-04-24 03:45] #426 closed

[2019-04-24 03:45] syclik commented on #589
Closing. It looks like these were fixed.

[2019-04-24 03:45] #589 closed

[2019-04-24 03:46] syclik commented on #598
Thanks, @andrjohns! Closed with #633.

[2019-04-24 03:46] #598 closed

[2019-04-24 03:47] syclik commented on #951
This was fixed with #1046.

[2019-04-24 03:47] #951 closed

[2019-04-24 03:52] syclik commented on #561
This was fixed. At least it's not in current develop: `6622078887c237a0900d094d40551b6b9abc13fd`

[2019-04-24 03:52] #561 closed

[2019-04-24 03:54] syclik commented on #79
Closing. This issue isn't clear enough to have a reproducible example. It may have been fixed by now.

[2019-04-24 03:54] #79 closed

[2019-04-24 04:09] syclik commented on #907
I just verified that it works now with current develop: `6622078887c237a0900d094d40551b6b9abc13fd`

[2019-04-24 04:09] #907 closed

[2019-04-24 04:10] syclik commented on #377
Thanks, @rok-cesnovar! I think you've closed this issue single-handedly.

[2019-04-24 04:10] #377 closed

[2019-04-24 04:11] syclik commented on #377
Also, we're using #1122.

[2019-04-24 04:22] andrjohns commented on #1197
If we're happy to stick with Eigen, what about the naming of the member functions:

```Matrix<var, R, C>```:

-    ```.adj()```
-    ```.val()```
-    ```.vi()```

```Matrix<vari*, R, C>```:

-    ```.adj()```
-    ```.val()```

```Matrix<fvar<T>, R, C>```:

-    ```.d_()```
-    ```.val_()```

[2019-04-24 05:33] bob-carpenter commented on #1197
I think we should use d() and val() rather than d_() and val_().  In the past, we've only used the suffix underscore for member variables, not methods.

[2019-04-24 10:26] syclik commented on #1197
That would have been my preference too.

@andrjohns, that's enough consensus on the design (between you, myself, and @bob-carpenter). Would you mind updating the issue description with the additional info? Then by all means, implement away! This is going to be awesome!!!

[2019-04-24 10:27] syclik commented on #1197
(I think it'd make sense to make one PR with the plugin + one or two examples. Then a separate PR with other changes so it's easy to review.)

[2019-04-24 12:29] syclik commented on #993
I updated the issue description with more information. I've been slowly working on this... I'm closer, but still not complete. Would love help if anyone is inclined.

[2019-04-24 18:54] ode33 commented on #993
I'm interested. What might be involved?

[2019-04-24 21:09] seantalts opened #1217 "change name of opencl `copy` function"
## Description
Right now whenever someone uses the copy function, we end up writing
[code]
I think it would be better to change the name and avoid triggering cpplint / forcing users of the API to write NOLINT. @SteveBronder had some suggestions, I'll let him edit & weigh in.

#### Current Version:
v2.19.1

[2019-04-25 15:16] syclik commented on #993
Great question. First off, a lot of variadic template stuff. (I'm still getting fluent in it; assume C++14.)

If you want to know exactly what I'm thinking about, @bbbales2 put together something called `call_all_arg_combos` or something like that on his branch. It essentially walks through each of the arguments, figures out what needs to be promoted (from `double` to `var` and it handles things l

[2019-04-25 23:51] ode33 commented on #993
Where is the code you were using to manipulate the list of types?

I noticed that an old branch cited in Implementation: `feature/issue-993-testing` is deleted or otherwise missing.

[2019-04-26 02:46] syclik commented on #993
Whoops. Wrong branch. It's this one: feature/automatic-autodiff-testing

[2019-04-26 02:49] syclik commented on #993
I updated the PR description with the correct branch.

[2019-04-30 03:47] andrjohns opened #1218 "Replace exp(lbeta(a,b)) with beta(a,b)"
## Description
Several functions are calling ```exp(lbeta(a, b))``` (i.e. the exponential of the log of the beta function), which could be replaced with the introduction of the beta function.

## Example
Can be seen in ```prim/scal/fun/grad_reg_inc_beta``` and ```prim/scal/prob/beta_binomial_cdf``` (among others

#### Current Version:
v2.19.1

[2019-04-30 08:32] andrjohns commented on #1218
Doing some benchmarking comparing ```exp(lbeta(x,y))``` with ```boost::math::beta(x,y)```, and it looks like stan's implementation is an order of magnitude faster than Boost's:
[code]

With benchmark:
[code]
So it may just be worth defining ```stan::math::beta``` using ```exp(lbeta())``` and adding gradients for that

[2019-04-30 09:20] wds15 commented on #1218
Surprising. What about the accuracy of the two functions?

[2019-04-30 09:54] andrjohns commented on #1218
Identical, as far as I can tell. They're both defined up to the same extreme with the same result:
[code]
Returns:
[code]

[2019-04-30 14:52] bob-carpenter commented on #1218
Stan just calls the standard library functions for `double` values.  That is, `std::exp` is the same as `stan::math::exp` and `std::lgamma` is the same as `stan::math::lgamma`.

If you look at [Boost's doc for beta](https://www.boost.org/doc/libs/1_66_0/libs/math/doc/html/math_toolkit/sf_beta/beta_function.html), you'll see that it's templated.  The doc says:

I have no idea what that number of di

[2019-05-01 18:38] avehtari opened #1220 "Use Eigen Real FFT half-spectrum for autocorrelation"
## Description
Change autocovariance computation in `stan/math/prim/mat/fun/autocorrelation.hpp` from
[code]
to
[code]
This will make the inverse transformation faster as "only half the spectrum is actually used if the expected output type is real." http://eigen.tuxfamily.org/index.php?title=EigenFFT

## Expected Output
The output should stay the same.

#### Current Version:
v2.19.1

[2019-05-01 18:57] roualdes commented on #1220
Good idea and thanks for the thought.  The change won't take long, but a speed comparison will take a bit longer.  Do you want an analysis on the relative speed gain from this change?

[2019-05-01 19:24] rok-cesnovar opened #1221 "Use OpenCL in prim & rev mdivide_left_tri and multiply"
## Description

`mdivide_left_tri` and `multiply` are the next common bottleneck we can speedup with OpenCL. The `prim` and `rev` implementations of `mdivide_left_tri` are implemented with lower triangular inverses and matrix multiplications, both of which are already implemented & merged in Stan Math. Same goes for `multiply˙, where only the multiply and transpose kernels are needed.

~~I am plan

[2019-05-01 19:39] avehtari commented on #1220
I think it would be useful to have at least some speed comparison. The current tests should be sufficient to check that the output is not changing,

[2019-05-03 02:43] #1210 closed

[2019-05-03 08:51] rok-cesnovar commented on #1217
@SteveBronder any thoughts on the new name? Something like `copy_cl()`? I can take care of this one.

[2019-05-03 10:23] rok-cesnovar commented on #1211
Closed via #1219

[2019-05-03 10:23] #1211 closed

[2019-05-03 11:09] rok-cesnovar commented on #1217
Other option is to make the function return the matrix and call them t`o_matrix_cl(A)` and `from_matrix_cl(A_cl)`.

[2019-05-03 13:18] SteveBronder commented on #1217
I dont hate `to_cl()` and `from_cl`

[2019-05-03 20:04] seantalts commented on #1217
+1 have them return something; copy(dst, src) is like reading assembly, you always have to remember if dst goes first or last :P

[2019-05-03 20:19] SteveBronder commented on #1217
^yeah I think we were just going off other libraries for that. We could shoot for something like

[code]

[2019-05-05 21:26] SteveBronder opened #1227 "Should the allocator be noexcept?"
I wasn't really sure where to ask this and it's a bit out of my payscale but I figured I would file an issue.

looking at the code for the [`stack_alloc`](https://github.com/stan-dev/math/blob/develop/stan/math/memory/stack_alloc.hpp) there's two throws for `std::runtime_error` in `eight_byte_aligned_malloc` and `std::bad_alloc` in `move_to_next_block`. But do we ever had a higher scope attempt to

[2019-05-07 06:07] andrjohns commented on #787
Closed via #788

[2019-05-07 06:07] #787 closed

[2019-05-07 06:28] andrjohns commented on #1081
closed via #1082

[2019-05-07 06:28] #1081 closed

[2019-05-07 06:29] andrjohns commented on #1015
Closed via #1016

[2019-05-07 06:29] #1015 closed

[2019-05-07 06:30] andrjohns commented on #997
Closed via #1000

[2019-05-07 06:30] #997 closed

[2019-05-07 06:33] andrjohns commented on #970
Closed via #1016

[2019-05-07 06:33] #970 closed

[2019-05-07 06:35] andrjohns commented on #963
Closed via #964

[2019-05-07 06:35] #963 closed

[2019-05-07 06:37] andrjohns commented on #960
Closed via #959

[2019-05-07 06:37] #960 closed

[2019-05-07 07:21] t4c1 opened #1229 "Speedup QR decomposition"
## Description
Eigen's QR decomposition can be improved on with better parameter tunning. GPUs can be used for further speedup.

## Example
QR decomposition is faster.

## Expected Output
QR decomposition is faster.

#### Current Version:
v2.19.1

[2019-05-07 07:28] t4c1 commented on #1229
I have implemented three versions of the algorithm. First uses CPU, second GPU, and the last is hybrid version that uses GPU only for larger matrix products.

Here are some graphs showing speedups relative to implementation from Eigen. Even my CPU version is faster, despite being the same algorithm. I guess mine has better tuned its parameter (block size) for my CPU. Measurements were done on Core

[2019-05-07 07:30] wds15 commented on #1229
In case you have a Intel CPU.. could you compile things with the Intel MKL as a backend for Eigen? As far as I am aware Eigen can use that and it should make a difference for Intel CPUs at least.

[2019-05-07 07:31] t4c1 commented on #1229
I will try.

[2019-05-07 07:46] wds15 commented on #1229
Thanks for trying... I know this is a lot of work... but maybe the MKL is a great option as well. As we head in the direction of these optimisations it is good to have some overview.

[2019-05-07 07:49] t4c1 commented on #1229
I have used Eigen with MKL before, so I have everything already set up. Tests are already running.

[2019-05-07 09:26] t4c1 commented on #1229
I have updated the graphs with MKL results.

[2019-05-07 09:36] wds15 commented on #1229
So Eigen MKL parallel gives already some speedup.... but this seems like a unfair comparison in that your CPU version is single-core, right?

How many cores were used for parallel?

In any case, it seems that your proposed variant speeds up things.

[2019-05-07 09:45] t4c1 commented on #1229
Actually sequantial MKL speeds up things by around 20%, but that is hard to see on the scale of the graphs.

I don't think comparison is unfair, but speedups from running multiple chains in parallel are probably better.

Parallel MKL used all 4 cores.

[2019-05-07 10:41] rok-cesnovar commented on #336
Closed via #1207

[2019-05-07 10:41] #336 closed

[2019-05-07 12:05] andrjohns commented on #933
Closed via #936

[2019-05-07 12:06] andrjohns commented on #902
Closed via #901

[2019-05-07 12:06] #902 closed

[2019-05-07 12:10] andrjohns commented on #887
Closed via #965

[2019-05-07 12:10] #887 closed

[2019-05-07 12:11] andrjohns commented on #870
Closed via #687

[2019-05-07 12:11] #870 closed

[2019-05-07 12:13] andrjohns commented on #1022
Closed via #1023

[2019-05-07 12:13] #1022 closed

[2019-05-07 12:14] andrjohns commented on #1002
Closed via #1003

[2019-05-07 12:14] #1002 closed

[2019-05-07 12:17] andrjohns commented on #935
Closed via #936

[2019-05-07 12:17] #935 closed

[2019-05-07 12:19] andrjohns commented on #914
Closed via #975

[2019-05-07 12:19] #914 closed

[2019-05-07 12:22] andrjohns commented on #597
Closed via #632

[2019-05-07 12:22] #597 closed

[2019-05-07 12:23] andrjohns commented on #594
Closed via #1155

[2019-05-07 12:23] #594 closed

[2019-05-07 12:31] andrjohns commented on #560
Closed via #1080

[2019-05-07 12:31] #560 closed

[2019-05-07 12:32] andrjohns commented on #517
Closed via #521

[2019-05-07 12:32] #517 closed

[2019-05-07 12:35] andrjohns commented on #430
Closed via #609

[2019-05-07 12:35] #430 closed

[2019-05-07 12:36] andrjohns commented on #411
Closed via #871

[2019-05-07 12:36] #411 closed

[2019-05-07 12:40] andrjohns commented on #210
Closed via #566

[2019-05-07 12:40] #210 closed

[2019-05-07 15:26] #1163 closed

[2019-05-07 17:33] bob-carpenter commented on #935
I'm guessing this may be a problem for a lot of our code.  It would be nice if `int` to `double` were a cheaper promotion than `int` to `var`, but it's not.

I'm guessing *a lot* of our functions suffer this problem.  I'm going to open a discussion on Discourse.

[2019-05-08 12:24] andrjohns opened #1230 "Make use of composed functions and temporaries"
## Description
There are several places throughout the math library where arithmetic is being used in place of the composed functions and constants. There are also places where temporary variables could be used in place of repeated calculations.

An example of this can be seen in: ```prim/scal/fun/lub_constrain```:
[code]
Which could be updated to:
[code]

I'll be working through this in my spare

[2019-05-09 15:10] #1220 closed

[2019-05-10 10:57] wds15 commented on #1062
fixed with #1066

[2019-05-10 10:57] #1062 closed

[2019-05-12 08:54] andrjohns commented on #1218
Closed via #1228

[2019-05-12 11:48] andrjohns opened #1232 "Variadic is_nan function"
## Description
Several functions call ```is_nan``` multiple times using the ```||``` operator, such as in ```prim/scal/fun/grad_reg_inc_gamma```:
[code]
This could be replaced with the introduction of a variadic version of ```is_nan``` (like that used for ```size_zero```):
[code]

#### Current Version:
v2.19.1

[2019-05-12 21:13] SteveBronder opened #1236 "get function is too generic in prim/scal/meta/get.hpp?"
## Description

[`get`](https://github.com/stan-dev/math/blob/develop/stan/math/prim/scal/meta/get.hpp) in scales is probably too general.

[code]

We have other more specialized templates in arr and mat e.g.

[code]

If `scales` `get` is included in a file there's a pretty good chance it's used when we really wanted the second one. We're seeing an error with this in the gp_exp_quad_cov OpenCL PR

[2019-05-12 22:00] #1133 closed

[2019-05-12 22:31] #1218 closed

[2019-05-12 23:24] SteveBronder commented on #1236
@syclik is it okay if I include `stan/math/prim/arr/meta/get.hpp` in `stan/math/prim/scal/meta/get.hpp>`?

Otherwise the fix I made throws errors

[2019-05-12 23:25] SteveBronder commented on #1236
Nah nvm Jenkins is not happy about that answer
[code]

[2019-05-12 23:27] SteveBronder commented on #1236
Wait also why are the functions in meta defined in `stan` and not `stan::math`?

https://github.com/stan-dev/math/blob/develop/stan/math/prim/arr/meta/get.hpp

[2019-05-12 23:30] syclik commented on #1236
No. What are you trying to do? There’s probably another way to do it.

What you’re suggesting will just make sure the std::vector traits are all
instantiated before the generic traits are called. What did you do to make
it fail? Where it failed, should you have included an arr header instead?

Btw, there is an effort to simplify this all. But we won’t get there if we
tangle everything up in our cu

[2019-05-12 23:44] SteveBronder commented on #1236
I'm trying to restrict the type deduction for `get` in `stan/math/prim/scal/meta/get` to just scalar types. Right now if we included `scal` and `arr` there's instances where the template deduction will pick the `get` in `stan/math/prim/scal/meta/get` where it should pick the `get` in `stan/math/prim/arr/meta/get`.

The issue is that both of the templates below are satisfied by `std::vector<double>

[2019-05-12 23:49] SteveBronder commented on #1236
Actually the other alt here is to move the code for [`is_positive`](https://github.com/stan-dev/math/blob/develop/stan/math/prim/scal/err/check_positive.hpp#L30) that handles vectors into arr

[2019-05-13 00:23] syclik commented on #1236
Can you let me know what code you’re running?

What you’re describing doesn’t make sense. It’s doing exactly as it’s
supposed to behave, by design. That’s why we need to include the traits in
the right order and then it’ll behave.

On Sun, May 12, 2019 at 7:49 PM Steve Bronder <notifications@github.com>
wrote:

[2019-05-13 00:24] syclik commented on #1236
To be more specific, you shouldn’t need to restrict get in prim scal. It’ll
be taken care of when you include the correct headers for prim arr.

On Sun, May 12, 2019 at 8:23 PM Daniel Lee <bearlee@alum.mit.edu> wrote:

[2019-05-13 02:25] syclik commented on #1236
I’m trying to look through the Jenkins error, but having trouble tracking
through the output on my phone.

Can you isolate this to a particular test case? I feel like this is
happening on that branch due to having the traits not instantiated in the
correct order.

I think it should be an easy-ish fix on the branch, but shouldn’t require a
change to Math directly, if I’m right about what the proble

[2019-05-13 02:25] SteveBronder commented on #1236
yes! One sec doing a writeup of what's going on rn. It's a bit of a weird one

[2019-05-13 02:27] syclik commented on #1236
Thanks. This stuff is tricky.

On Sun, May 12, 2019 at 10:26 PM Steve Bronder <notifications@github.com>
wrote:

[2019-05-13 03:14] syclik commented on #1236
Btw, I just checked out the branch for #1206. It seems like it's way behind; hard to tell what's actually different from `develop` with the current state.

[2019-05-13 03:21] #1213 closed

[2019-05-13 03:22] SteveBronder commented on #1236
So I think what your saying is correct, I think my confusion here is that the code for `check_positive` doesn't do what it looks like I would think it does.

Here's an example where things are kind of confusing for me

[code]

I would expect that when `is_vector_like` received a vector it would say yes right?

But looking at the code for [`is_vector_like`](https://github.com/stan-dev/math/blob/dev

[2019-05-13 03:39] SteveBronder commented on #1236
Also, I'm watching GoT right now bit I think just adding the code for prim/arr will do what I want the code to do there

[2019-05-13 03:46] syclik commented on #1236
Ha. I just finished. We can talk later.

But quick fix to the whole problem:

instead of including stan/math/prim/scal.hpp, include
stan/math/prim/arr.hpp.

arr.hpp refers to array; this is the confusing part. It’s actually
describing Stan’s notion of arrays—that translates to std::vector in C++.
In your test, you use std::vector. Just swap to the arr.hpp header and that
will instantiate and inclu

[2019-05-13 07:00] SteveBronder commented on #1236
Okay so I think I got it!

Though `agrad_test` was failing in `./test/unit/math/rev/core/agrad_test` was failing because of weird header orders so I had to get those in order and everything worked fine for me locally. We'll see how travis does.

I still think my above is true tho'. May be good to do something to flag the above so people don't do one thing expecting another.

describing Stan’s noti

[2019-05-13 08:44] rok-cesnovar commented on #1236
This is something we are investigating in #1122. Basically template metaprograms are in `stan::` by design (except for those that arent, those shouldnt be in `stan::math::`). Runtime programs should (probably?) be moved to `stan::math::` at some point. This namespace confusion is something I plan to resolve (will open a discussion) once I cleanup everything else in that issue. And then make a wiki

[2019-05-13 09:01] andrjohns opened #1237 "Redundant Definitions of the Incomplete Beta Function"
## Description
There are two definitions of the incomplete beta function, both of which delegate to ```boost::math::ibeta```:

## Example
```prim/scal/fun/ibeta.hppp```:
[code]

```prim/scal/fun/inc_beta.hppp```:
[code]

This could be tricky to deal with, as some users may be using ```ibeta``` while others are using ```inc_beta``` and removing either will break programs. May have to deprecate one

[2019-05-13 12:40] syclik commented on #1232
This would be great for clarity and usability! Thanks!

On Sun, May 12, 2019 at 7:48 AM Andrew Johnson <notifications@github.com>
wrote:

[2019-05-13 13:47] SteveBronder commented on #1236
Word! Also @syclik I couldn't figure out the right dependency order for the headers,  would you have time to take a look?

[2019-05-13 13:48] syclik commented on #1236
Sure.... what does that mean? What should I look at?

On Mon, May 13, 2019 at 9:47 AM Steve Bronder <notifications@github.com>
wrote:

[2019-05-13 14:51] SteveBronder commented on #1236
Oh apologies, for pr #1206 theres an error from Jenkins caused by the dependencies. It used to be because the check_positive function was not getting its header orders correctly and threw for prim/gp_exp_quad and rev/adiff_test.cpp**. I modified test/.../rev/util.hpp so that those passed, but now its throwing because of integrate_ode_adams_rev_test.cpp which I'm guessing is because it expects a di

[2019-05-13 15:12] bob-carpenter commented on #1232
I don't find this clear without changing the name to is_any_nan or is_nan_any to make it clear it's an OR not an AND putting the multiple arguments together.

[2019-05-14 05:46] SteveBronder commented on #1236
Closing this because I'm pretty sure it's just that I didnt get the dependency structure

[2019-05-14 05:46] #1236 closed

[2019-05-14 07:14] andrjohns commented on #1232
I see what you mean. That then raises the question of whether we have:

-  Two versions of ```is_nan```: single inputs call ```is_nan(x)``` and multiple inputs call ```is_nan_any(x,y)```
-  One version and update the naming for all functions  :  single inputs call ```is_nan_any(x)``` and multiple inputs call ```is_nan_any(x,y)```

@wds15 The Eigen plugin PR is waiting on a PR in [stan](https://git

[2019-05-14 07:48] betanalpha commented on #1232
Opinion: I think that “is_any_nan” sounds much nice grammatically.

Won’t variadic implementations just dispatch single-argument calls to
the base case?  In which case we could have a single function
is_any_nan that holds for any size, no?

[2019-05-14 09:50] rok-cesnovar opened #1238 "Randomly failing test in matrix_exp_pade_test"
## Description

After the last PR merge `develop` failed on Jenkins on this [test](https://github.com/stan-dev/math/blob/develop/test/unit/math/rev/mat/fun/matrix_exp_pade_test.cpp#L95) in matrix_exp_pade_test. I manually restarted the Jenkins tests and it passed. The PR that was merged was a renaming PR in the Stan Math OpenCL codebase.

It seemed an unrelated PR but you can never really know so

[2019-05-14 11:48] wds15 commented on #1238
The reason is true randomness being used in these tests as I recall. We discussed this already and the conclusion is that we want this. Not sure if you can make the tested example robust enough under true randomness.

[2019-05-14 11:59] andrjohns commented on #1232
Yep, that's what I was suggesting as the second option above

[2019-05-14 12:25] andrjohns opened #1239 "is_integer incorrect for infinity and zero inputs"
## Description
The checking function ```is_integer``` is defined using ```floor```:
[code]
However, when ```floor``` is passed infinity or zero, [it returns it unmodified](https://en.cppreference.com/w/cpp/numeric/math/floor).

- If arg is ±∞, it is returned, unmodified
- If arg is ±0, it is returned, unmodified

So ```floor(double inf)``` returns ```double inf```, which int turn means that ```is_

[2019-05-14 14:32] rok-cesnovar commented on #1238
Ah, I wasnt aware of that discussion. Sorry for the issue spam then. It it a bit nervewrecking when I see develop fail after a merge with one of my PRs :)

[2019-05-14 16:06] bob-carpenter commented on #1239
If we literally just want to test the integer type, we should be using traits.

I think this is meant to test if a double value is equal to an integer.  For instance, this program runs without printing:

[code]

I'd thought it might be a problem given that it seems to represent some numbers as more like 2.9999999... than like 3, so I thought floor might be a problem.

[2019-05-14 16:22] betanalpha commented on #1232
My bad —for some reason I mistakenly thought you were suggesting
an overload for the multiple-argument and single-argument.  Poor
reading comprehension on my part.

I definitely support a single variadic “is_any_nan” implementation
which has the smallest maintenance burden and most clear naming.

[2019-05-14 20:45] wds15 commented on #1238
The state of affairs is not ideal...as you say: tests failed on develop which is not so good.

[2019-05-15 05:51] andrjohns commented on #1239
Yep, I'd say that's what the aim is.  I think we just need to have the function check if the input is infinite beforehand, like:
[code]

[2019-05-15 05:53] andrjohns commented on #1232
No worries, equally poor clarity on my part!

@syclik and @bob-carpenter  - how does that sound? A single variadic ```is_any_nan``` function?

[2019-05-15 06:16] andrjohns opened #1240 "locscale_constrain and locscale_free functions no longer used"
## Description
The ```locscale_constrain``` and ```locscale_free``` functions in ```prim/scal/fun``` were replaced by ```offset_multiplier_constrain``` and ```offset_multiplier_free``` in #1090, but the old function headers haven't been deleted

#### Current Version:
v2.19.1

[2019-05-15 11:39] t4c1 opened #1241 "Implement softmax regression GLM"
## Description
Right now someone that wants to do softmax regression has to write something like this or equivalent in stan language:

[code]

This is a bit cumbersome and quite slow. Like existing GLMs this one should use analitically derived gradients to be significantly faster. GPU can be used for further speedup.

## Example
This is how the new GLM shall be used:
[code]

## Expected Output
Sho

[2019-05-15 12:03] syclik commented on #1232
I think it makes sense to keep the single arg is_nan function so we can
expose that to the Stan language easily. The code gen is simple if the
names match up.

Does that make sense? (I’m suggesting single arg is_nan and a variadic arg
is_any_nan)

On Wed, May 15, 2019 at 1:53 AM Andrew Johnson <notifications@github.com>
wrote:

[2019-05-15 12:04] syclik commented on #1232
If the template deduction makes that a pain, just go with is_any_nan.

On Wed, May 15, 2019 at 8:03 AM Daniel Lee <bearlee@alum.mit.edu> wrote:

[2019-05-15 13:49] andrjohns commented on #1232
That's pretty easy actually, will do

[2019-05-15 14:15] bob-carpenter commented on #1241
This looks like it's using `K` coefficient vectors for a `K`-way classification.  That's not identified other than through the prior.  So the softmax regression defined above is just the non-identified likelihood.

If `categorical_logit` were vectorized like our other distributions and allowed a matrix as the parameter, the function you're trying to write would be a one-liner:

[code]

I think it'

[2019-05-15 18:54] bob-carpenter commented on #1239
Yes, for sure do the right check for infinity.  That can be a one-liner:

return floor(x) == x && !is_inf(x);

[2019-05-16 04:45] andrjohns opened #1243 "common_type function deprecated by return_type"
## Description
The function ```common_type``` is used for determining the promoted type from two input types:
[code]
This has been superseded by ```return_type```, which determines the promoted type from any number of inputs:
[code]

#### Current Version:
v2.19.1

[2019-05-16 14:35] #1227 closed

[2019-05-16 18:44] bob-carpenter commented on #1227
I don't think anyone's ever thought about that in great depth. I'm not even sure what's being tested there is important.  But the thing to keep in mind is that those malloc calls happen once for a given chain on the first iteration.  So it's not really worth optimizing them unless they get in the way of some other optimization.

[2019-05-17 18:10] bob-carpenter commented on #1243
It's making me happy every time I see one of these issues and even happier with the PRs.  Metaprogram bloat has been an ongoing problem, so it's great you've achieved a high enough vantage point to start diagnosing the problems.  Thanks!

[2019-05-18 06:49] #1238 closed

[2019-05-18 10:31] andrjohns commented on #1237
This turned out not to be an issue, as ```ibeta``` isn't exposed in the stan language, only ```inc_beta```. I've searched the Stan, Cmdstan, Rstan, and Pystan repos, and ```ibeta``` isn't called or defined anywhere within them.

Based on this, I'd say it was safe to remove ```ibeta``` from the math library altogether

[2019-05-19 20:48] avehtari opened #1246 "gp_dot_prod_cov allow vector sigma (ard)"
gp_dot_prod_cov currently allows only scalar sigma.  it would be useful to allow vector sigma in addition of scalar sigma. This would be useful for making faster inference for sparse models with p>n and scale mixture of normal priors such as horseshoe. Then integration over the linear model weights could be made analytically using gp_dot_prod_cov. Cost of analytic integration scales as O(n^3), but

[2019-05-20 14:24] andrjohns commented on #1243
Happy to help, it's nice to make an effective change!

[2019-05-20 15:17] andrjohns opened #1247 "Prim functions pass by value rather than reference"
## Description
Almost all of the functions in ```prim/scal/fun``` pass by value and use overloads to work with both ```double``` and ```int``` inputs. We can use template specialisations to work with both primitive types and pass by reference at the same time

## Example
Currently, ```asinh```:
[code]
Can be replaced with:
[code]
#### Current Version:
v2.19.1

[2019-05-20 17:26] bob-carpenter commented on #1247
Please do not make this change.

First, primitives should be passed by value.   It's not terrible to pass them by constant reference, but we generally want to pass them by value.  All the style guides agree on this.  So if you do want to make this change, it shouldn't be `const T& x`, but just `T x`---you don't even need the `const` with primitives as they aren't references and hence can't be modi

[2019-05-21 02:37] andrjohns commented on #1247
I should have read up on performance costs of passing primitives by reference as well, this would not have a positive effect.

This was based on @syclik's review comment about consistency between prim/rev/fwd with using template specialisations vs function overloads

[2019-05-21 08:18] t4c1 opened #1248 "Bug in ordered_logistic_lpmf derivative"
## Description
I think there is a bug in `ordered_logistic_lpmf()` in calculation of derivative wrt `c`. On line 139 there is `ops_partials.edge2_.partials_vec_[n](0) = d;`. This overwrites any value that was calculated in previous iterations of the loop. I think there should be `ops_partials.edge2_.partials_vec_[n](0) += d;` (`+=` instead of `=`).

I found this while implementing a GLM for this d

[2019-05-21 09:39] andrjohns commented on #1248
Hi @t4c1!

I wrote this lpmf and that is not a bug. There is no previous value to overwrite because ```ops_partials.edge2_.partials_vec_[n](0)``` is only visited once for each ```n```

Can you link me to a branch or a test where the derivatives are coming out wrong?

[2019-05-21 09:44] t4c1 commented on #1248
I think this is happening for the case where `c` is vector (not a matrix). It seems to me that in that case that `n` gets ignored by the `vector_seq_view` so it is actually visited multiple times.

I did not write any thest specifically for this. As I am developing a GLM for this distribution I test it by comparing the derivatives to this lpmf. I dont have it on git yet as it is work in progress.

[2019-05-21 09:51] t4c1 commented on #1248
If you want to see the test anyway I can push it on github.

[2019-05-21 09:52] andrjohns commented on #1248
Do you mean ```std::vector``` or ```Eigen::Vector```?

When you say "n is ignored" do you mean that regardless of the value of ```n```, ```ops_partials.edge2_.partials_vec_[n](0)``` always refers to the same value?

The derivatives of this are actually pretty thoroughly tested, if you have a look at the tests in ```mix/fwd/rev```, there are multiple places that it would fail if it wasn't probably

[2019-05-21 09:53] andrjohns commented on #1248
If you could push that test, that'd be great too!

[2019-05-21 09:54] t4c1 commented on #1248
I'm using `Eigen::Vector`, but I dont think it should matter.

Yes.

I checked out rev tests. In all cases at most one `y` has value 1 so this would be missed.

[2019-05-21 09:56] andrjohns commented on #1248
Right, but if ```n``` isn't properly iterating through ```ops_partials.edge2_.partials_vec_ ```, wouldn't all of the derivatives be wrong? Not just the cases when y = 1?

[2019-05-21 09:57] t4c1 commented on #1248
Other branches do have that `+=` instead of `=`

[2019-05-21 09:58] t4c1 commented on #1248
My code is here: https://github.com/bstatcomp/math/tree/CPU_ordered_logistic_glm_lpmf

[2019-05-21 11:17] andrjohns commented on #1248
You were right! I added this to the ```rev``` test:
[code]

And it fails with :
[code]

So it is expecting the partial derivative of the last  ```y```, and not the sum of the partials.

After doing some digging, it looks like the problem is in the use of ```ops_partials.edge2_.partials_vec_``` when edge2 is not a nested container. Because the ```partials_vec_``` member is used for ```std::vector<v

[2019-05-21 11:23] andrjohns commented on #1248
@bob-carpenter @syclik @seantalts

I'm very sorry, but I've introduced a bug with ```ordered_logistic_lpmf```.

When calling ```ordered_logistic_lpmf(int[] y, vector lambda, vector cutpoints)```, the wrong derivatives for the cutpoints are returned if ```y``` contains multiple 1's.

The problem does not occur for calls of ```ordered_logistic_lpmf(int y, double lambda, vector cutpoints)``` or ```or

[2019-05-21 11:44] #1247 closed

[2019-05-21 12:53] seantalts commented on #1248
Thank you both! Don't worry about bugs - they happen to everyone. These distributions are particularly hard to test with all of their combinatoric instantiations - we have to figure out how to make it easier to write the code as well as automate property-based testing for things like distributions and gradients that we should be able to verify automatically. In this particular case, is there a way

[2019-05-21 14:11] andrjohns commented on #1248
Yep I can add distribution tests for it, that shouldn't be a problem

[2019-05-21 14:12] syclik commented on #1247
@andrjohns: sorry about leading you down a dead end. That comment was meant for that function (is_nan); I hadn't thought through the consequence of it across everything else.

[2019-05-21 14:14] syclik commented on #1248
Thanks, all, for taking care of it so quickly!

If you can, try the distribution test on `develop` just to make sure it catches it first. If you need help implementing, please reach out.

[2019-05-21 14:29] betanalpha commented on #1248
What versions of Stan are effected by this bug?  I’m writing
up a case study on the ordered logistic at the moment and
just want to be sure to avoid any problems.  Thanks!

[2019-05-21 14:46] bob-carpenter commented on #1248
Well, that would explain why it's been reported to be so slow to fit!

[2019-05-21 15:11] andrjohns commented on #1248
@betanalpha The changes were introduced in the 2.19 release

[2019-05-21 16:15] betanalpha commented on #1248
Thanks!

[2019-05-22 15:26] bob-carpenter commented on #1247
I don't think pass-by-constant-reference is a dealbreaker for primitives if you want to generically template.  It's just not the recommended signature just for primitives.

[2019-05-23 07:03] wds15 opened #1250 "lgamma is not thread safe"
## Description
We have moved away from using boost functions for most math specialty functions in commit 01bb6645815cd5546701c0575fcb4f38d4a41cca. This affected in particular the log gamma function. Instead we now use the `std::lgamma` functions which turn out to cause problems in threading contexts. The behaviour is generally undefined wrt to threading safety, [see here](https://en.cppreference.c

[2019-05-23 12:40] t4c1 opened #1251 "Implement ordinal regression GLM (ordered_logistic_glm_lpmf)"
## Description
Implement a GLM for ordinal regression.

## Example
`ordered_logistic_glm_lpmf(y, x, beta, cuts)` should be equivalent to `ordered_logistic_lpmf(y, x * beta, cuts)`.

## Expected Output
The new GLM should use analytically derived gradients and GPU to be faster than the existing option how to implement ordinal regression.

#### Current Version:
v2.19.1

[2019-05-23 17:55] bob-carpenter commented on #1250
Are you suggesting using the Boost version of `lgamma`?  It's an easy fix, but we have to be careful again about edge conditions and where we want to throw.  I still don't know that exception behavior for our math library has been determined, so I'm punting to @seantalts and @syclik for clarification.

[2019-05-23 18:33] seantalts commented on #1250
It's whatever the doc string for lgamma says: http://mc-stan.org/math/d4/d84/namespacestan_1_1math.html#aead76f03bdbc60484ad760fc31bad40f

[2019-05-23 18:37] bob-carpenter commented on #1250
I'm confused.  The doc string for lgamma doesn't say whether to use Boost or not to implement it.

[2019-05-23 18:38] bob-carpenter commented on #1250
Or do you mean which errors it throws, which it is also silent about.

Are you saying that our API is defined by these incomplete doc strings?

[2019-05-23 18:43] seantalts commented on #1250
Yeah, what we promise in the doxygen comments is what we're holding ourselves to [in theory.](https://github.com/stan-dev/math/wiki/Supported-external-API)

Since it doesn't mention exceptions it seems like we have made no promises there. Would it be hard to match whatever behavior we currently have?

[2019-05-24 11:20] wds15 commented on #1250
Yes, I am suggesting to revert to commit hash I am quoting above where we replace boost with the std version. However, another area for potential trouble is performance... from my quick tests the boost version is 3x slower than the std version. While the boost version has a well defined precision according to a policy, the std version does not let us control this in any way. Thus, we may have to b

[2019-05-24 13:53] seantalts commented on #1250
We should make a note of how the behavior changes just to be polite and add it to the release notes one day (maybe put a section on that in the top of the PR or issue, something like "for release notes: lgamma now throws exceptions..." or whatever. I think that seems reasonable. Another weird thing we could do would be to use std::lgamma if we're not in threading mode, but I think that would be to

[2019-05-24 17:43] bob-carpenter commented on #1250
I was hoping instead of laying down a letter of the law based on our spotty code documentation, that we'd be moving to consistent treatment of edge cases (+inf, -inf, poles, NaN, and out-of-domain inputs).  I also hoped we'd be adding documentation to clarify behavior rather than avoiding it to allow us wiggle room w.r.t. backward compatibility.

[2019-05-24 20:10] seantalts commented on #1250
That sounds good, why don't you write up a proposal for how you want to do that as a design doc?

[2019-05-25 13:44] sakrejda commented on #1250
Just linking previous [discussion](https://github.com/stan-dev/math/issues/1063)

[2019-05-26 11:37] sakrejda commented on #1036
@bob-carpenter : I believe we should add a detail to this issue so the next person doesn't make the same mistake as the first implementer.  My suggestion is:

I don't think there's a policy about whether to do this (or anything) with step functions in the math lib but maybe @syclik could comment on that part too?

[2019-05-26 23:18] bob-carpenter commented on #1036
Why did we want to cut the value here so there's no autodiff?  I know the whole function won't be continuous, but why not return the same type as the input?

For example, if I have `a = { b, c, d, e }` with `b < c < d < e` and I set `f = quantile(a, 0.75) * g`, should I not get the same result as `d * g`?  If we reduce the type and return a `double`, that won't be the case.   This will be tricky t

[2019-05-27 03:05] syclik commented on #1250
@wds15: does `std::lgamma` misbehave with threading? Can you write a test that exhibits the failure? For a bigger question: what other parts of the library aren't really going to work with threading?

I think the issue itself could use more work. What is the ideal outcome? Will using `std::lgamma` with our current compilers fail us? (Or is it just slow?) This should only affect threaded applicatio

[2019-05-27 03:10] syclik commented on #1036
@sakrejda: what should I be commenting on? I think we should just respect the autodiff types if it makes sense?

I'm with @bob-carpenter here... why should we make this a non-autodiff return type?

[2019-05-27 04:54] seantalts commented on #1250
Yeah, design doc (for code) is not the right kind - but some kind of Request For Comments draft would probably be a good way to get traction on that issue.

[2019-05-27 08:00] wds15 commented on #1250
@syclik `std::lgamma` is not guaranteed to be thread-safe as per documentation. In fact you get some implementation on a given platform which will behave in a non-defined behaviour wrt to threading. On my macOS system the implementation obviously uses internally a global mutex to access a global variable. I am not sure how I can write a test for such an internal mechanism of the function (maybe by

[2019-05-28 16:50] bob-carpenter commented on #1250
It's not clear what we're talking about for thread safety here.  You mean the ability to concurrently call a function?

The container classes (std::vector, Eigen::Matrix) are not thread safe, for example, but I don't think our library ever accesses a container concurrently.  The log density accumulator isn't thread safe.

None of our autodiff classes are thread safe.  Our autodiff functionals are

[2019-05-28 17:37] wds15 commented on #1250
That's right - all of stan-math is not thread safe unless you run it with `STAN_THREADS` turned on. In that case we can run things concurrently with `map_rect`. In this setting we have a problem with `std::lgamma` for these reasons:

1. There is no thread safety guarantee. So concurrent calls to `std::lgamma` from concurrent `map_rect` context's will be problematic.
2. It turns out that on macOS t

[2019-05-28 17:58] bob-carpenter commented on #1250
I still have the question of whether Boost's lgamma is thread safe.  Is the proposal just to use that instead of std::lgamma?

STAN_THREADS only makes the memory access thread safe.  It doesn't make things like containers (Eigen::Matrix or std::vector) or our stan::math::vari instances thread safe for mutability.

[2019-05-28 18:00] seantalts commented on #1250
That's why [we only support threading](https://github.com/stan-dev/math/wiki/Supported-external-API) via map_rect :D

[2019-05-28 19:56] bob-carpenter commented on #1250
My understanding is that std::lgamma's lack of thread safety becomes a problem precisely because map_rect might call it from multiple threads.  So I believe map_rect imposes thread-safety requirements on every single Stan function that might be evaluated in a Stan program.  Generally, we haven't allowed side effects other than the autodiff stack, so that's not a problem.  But this is partly why pr

[2019-05-28 20:03] seantalts commented on #1250
Yep. Just highlighting that the only sense of "thread safety" we need to worry about is via map_rect. If the design doc for parallel for goes through, that will need to use the same mechanisms, which I believe is the plan.

[2019-05-28 20:07] wds15 commented on #1250
Things need to be safe if *concurrently* executed in different local contexts....and static variables can be a source of problems if these are not const, yes.

[2019-05-30 01:51] syclik commented on #1250
@bob-carpenter is right. `map_rect` is imposing thread-safety requirements on any Stan function that might be evaluated in the function passed to `map_rect`. We haven't been so careful about this since thread safety wasn't a requirement, but I think we should be much more careful going forward.

Fortunately, I think `lgamma` is one of the few functions we would use that are known to not be thread-

[2019-05-30 01:56] syclik commented on #1250
For now, I think it's reasonable to describe the qualities of `lgamma` that we want, to create some tests for it, and to verify that the boost version has the characteristics that we want. Then switch to that implementation.

@wds15: we need to write a test that flexes what we think could be an issue when running the function with threading. Yes, it might not be easy, but this is a necessary condi

[2019-05-30 03:02] syclik opened #1253 "stan/math/fwd/mat/meta/operands_and_partials.hpp has incorrect includes"
## Description
`stan/math/fwd/mat/meta/operands_and_partials.hpp` is missing includes and this causes things to be included in the wrong order.

We'd like `stan/math/fwd/mat.hpp` to have all the `meta` includes at the top, but this doesn't currently work.

## Example
If we include `#include <stan/math/fwd/mat/meta/operands_and_partials.hpp>` up top in `stan/math/fwd/mat.hpp`, we get compiler error

[2019-05-30 04:07] bgoodri commented on #1250
The link says

which I have always thought was a non-issue for us because nothing in Stan Math is or should be writing or reading `signgam`.

[2019-05-30 04:15] syclik commented on #1250
@bgoodri: that makes sense. Does that mean it's the results will be safe with multiple threads? Does it explain why @wds15 has seen a performance hit?

[2019-05-30 04:40] bgoodri commented on #1250
The title of this issue shouldn't be "lgamma is not thread safe"; rather it should be "signgam is not thread safe". So, if it is true that no one is using `signgam` then the results are safe and I wouldn't be surprised if the `std` version were faster than the Boost version. The C++ standards gurus also require accuracy within 1 ULP or something, so we are probably fine on that front.

For statist

[2019-05-30 14:20] #1253 closed

[2019-05-30 18:05] sakrejda commented on #1250
@bob-carpenter  re: boost::math and thread safety: https://www.boost.org/doc/libs/1_70_0/libs/math/doc/html/math_toolkit/threads.html

[2019-05-30 18:13] bob-carpenter commented on #1250
Tests are great if feasible.  It can be really hard to test these threading bugs---I've seen cases that take 48 hours on 72 concurrent threads to arise.

`lgamma` isn't special---we have the same requirements on all of our functions.  The only difference is that it has a tempting replacement in `std::lgamma`.  My suggestion is to doc where Boost's version is used saying that the `std::` version is

[2019-05-30 18:14] bob-carpenter commented on #1250
That's convenient.  It just says:

[2019-05-30 18:17] bgoodri commented on #1250
What other standard functions have the side effect of setting a global variable like `signgam`?

[2019-05-31 01:58] #1040 closed

[2019-05-31 02:52] sakrejda commented on #1036
I said (above) autodiff doesn't make sense because this is always a step function with regards to all arguments so there's no sensible autodiff to be had (zero or NaN?), but I tagged you (@syclik) because I thought you could add some detail about what makes sense since this is marked as a "good first issue" but actually it's pretty complicated.  We could always implement a smoothed quantile functi

[2019-05-31 08:25] bgoodri commented on #1036
R has nine algorithms you can choose from by specifying the `type` argument
to the quantile function for dealing with things like ties and
intermediates.

On Sun, May 26, 2019 at 11:10 PM Daniel Lee <notifications@github.com>
wrote:

[2019-05-31 12:46] syclik commented on #1036
@sakrejda: cool. Thanks for the context.

What do you mean that the autodiff is a step function with regards to all arguments. Let's be a little clearer with an example:

[code]

In C++, it seems like we should return the scalar type of `x` here, either `double` or `stan::math::var`, depending on what `x` is?

What I don't understand is why it's discontinous (step function?). Shouldn't we see some

[2019-05-31 13:01] bob-carpenter commented on #1250
By imposing thread safety requirements and assuming people know the language.  It's how we do everything.  We can't guard against generic programmer error.  We have exactly the same problem with every one of our functions, though they don't come with such a tempting replacement.

If you can formulate a test that's reliable, that's great, but it's a notoriously hard problem in a multithreaded conte

[2019-05-31 13:35] bob-carpenter commented on #1250
None that I can find searching for thread safety.  None of the other gamma functions have the same qualification about threading in their doc.  I have no idea why lgamma is different than the other lib functions.

[2019-05-31 13:38] syclik commented on #1250
@bgoodri: it looks like functions that are related (I'm seeing the same list on different sites and can find a source if you want it):
 `gamma(), lgamma(),lgammaf(),lgammal()`

I don't know if there are other functions in Eigen or elsewhere that have these behaviors.

More importantly, this means that any Math function implementation can't really use static variables to compute things. This is a n

[2019-05-31 14:27] #1190 closed

[2019-05-31 17:23] bob-carpenter commented on #1250
gamma() isn't in the standard library in C++.

lgammaf() and lgammal() are just the float and long form argument forms of lgamma().

My response was above and I'll stick by it.  We can't test this
programmatically in a proactive way.

Great---that's what I meant by being able to formulate a reliable test.

[2019-05-31 17:36] wds15 commented on #1250
A test for this will make everything brittle...I need to launch 4 threads and observe that the speed needs to be 4x as fast. Doubling was not enough...this implies I need 4 idle cores for the test to run fine...on top of that this the behavior on mac...I don’t know how things are under Linux or windows...it could be different there.

[2019-05-31 17:55] bob-carpenter commented on #1036
Ther'es not just the derivatives vs. x[1], ..., x[N] but also the derivatives vs. q in quantile({x[1], ..., x[N]}, q).

Aren't these both smooth if we interpolate and step functions if we take closest? Seems like an argument to interpolate.

[2019-06-01 17:56] sakrejda commented on #1036
I shouldn't have just said "step function", given:

[code]

Without interpolation:
  - a continuous piecewise linear function in all values of `x`, these have discontinuous derivatives
  - a step function w.r.t. `p`, derivatives are either zero or NaN (might as well be NaN since the error is so big over the discontinuity that it will break HMC

With interpolation we can get whatever we want.

I wo

[2019-06-04 12:28] charlesm93 opened #1257 "Improving differentiation for algebraic solver"
## Description
There are two ways to improve the way in which we compute the Jacobian matrix of an algebraic solver:
* compute the Jacobian of the system with respect to the parameters and the unknown simultaneously, to use their shared expression tree.
* compute the Jacobian-adjoint vector product directly, and thence only do one sweep of reverse-mode AD.

The two options are competing but should

[2019-06-04 15:51] bob-carpenter commented on #1257
If f:R^N -> R^M, then we can compute a Jacobian-adjoint with N directional derivative calculations (forward mode) or with M gradient calculations (reverse mode) and an explicit Jacobian-adjoint multiply.  You seem to be indicating it can be done in a single sweep of reverse mode, but each sweep of reverse mode only computes derivatives with respect to a single output component of f.

[2019-06-04 18:50] bob-carpenter opened #1258 "replace existing autodiff framework tests for core with new framework"
## Description

We currently implement tests for the core C++ operators using an autodiff test framework defined in

* `/test/unit/math/mix/mat/util/autodiff_tester.hpp`.

This old framework is going to be replaced by

* the more general framework introduced in pull request #1256.

The current calls to the old framework will be replaced with the new framework and the old framework will be removed.

[2019-06-05 15:59] charlesm93 commented on #1257
The reason we require M gradient calculations in reverse mode is because of the initial cotangents we use. Suppose the output is y, with adjoint v = (a, b, c), and that the input is x.

With `Jacobian()`, the initial cotangents are (1, 0, 0), (0, 1, 0) and (0, 0, 1). This gives J, and then we multiply it by v, to get Jv, the adjoint of x. But instead, we could use one initial cotangent, (a, b, c),

[2019-06-05 16:10] charlesm93 commented on #1257
We have three options here.

Let f(x, y) the function for which we want the root, x in R^M is the unknown, and y parameters in R^N. Let v be the adjoint of the output. The implicit function theorem gives us dx/dy = - [df/dx]^-1 df/dy. The options are:

1. compute df/dx and df/dy separately --> 2M sweeps
2. compute df/d(x + y) together --> M sweeps
3. compute df/dx and df/dy * v  --> M + 1 sweeps

[2019-06-05 19:39] bob-carpenter commented on #1257
The function grad(v) initialize's v's adjoint to 1, and then does the backward pass.  If all we need to do is initialize other adjoints, it'd be easy to write a more general grad(v).

The adjoint-Jacobian thing from Ben is just a way to define a lazy chain() method for reverse mode.  Rather than storing the Jacobian and multiplying it by the adjoint and adding it to the operand adjoints, we lazily

[2019-06-05 19:55] wds15 commented on #1257
Have you, @charelsm93, considered to apply the same trick as in the ode speedup or which reviewed recently? I mean, it sounds as if you do similar things here which is repeated gradients to get the Jacobian. So Parameters stay always the same and you can take advantage of that. Probably this is an additional thing to do here? For non stiff ode integration this gave me 20% speed for the sie example

[2019-06-06 07:48] t4c1 opened #1260 "GLM tests improvements"
## Description
We have three GLMs that accept integer y (`bernoulli_logit`, `poisson_log` and `negbin_2_log`). Right now these GLMs are tested by passing in y of type `Eigen::Matrix<int, Dynamic, 1>`. However if used from actual stan models y can only be of type `std::vector<int>` or `int`. The reason being that vectors in stan implicitely contain elements of type `double`, while multiple `int`s c

[2019-06-06 11:22] charlesm93 commented on #1257
@bob-carpenter Indeed we would need a more general grad(v). I'm guessing it would have other applications too.

@wds15 That's a very good point. The trick applies to both options. For option (1) we use the fact the input x is constant and for option (2) the fact that both x and y remain constant. I still want to do this incrementally: first one of the above-described improvements, then your trick

[2019-06-07 03:44] betanalpha commented on #1257
We don’t necessarily have to use grad(v) here — the Jacobian-adjoint
product can be computed by implementing the nested sweeps by hand
as I originally did in the ODE code.

[2019-06-07 07:27] charlesm93 commented on #1257
Per the discussion during yesterday's Stan meeting, I'm going with option (2).

[2019-06-07 19:12] bob-carpenter commented on #1257
That's what I meant---writing a new function like grad(v) that computes an adjoint gradient.  I don't think it's a good idea to try to generalize grad(v).

[2019-06-10 09:07] charlesm93 commented on #1257
You mean in general, or for this specific issue?

[2019-06-10 10:42] charlesm93 commented on #1257
I implemented option 2 -- fairly straightforward -- and ran some performance test.

The first test is based on pharma steady states, as described in the appendix of the autodiff review paper (https://arxiv.org/abs/1811.05031). The second test involves finding the mode of a conditional distribution, as required when doing INLA on a Poisson process with a latent Gaussian variable.

These tests show

[2019-06-10 14:54] bob-carpenter commented on #1257
I'd be happy to take a look at the code diff if you can point me to something manageable.

The trick to answering your second question is to figure out what's dominating computation.  If you speed up an operation that only takes 5% of the computation, you won't see much overall gain.  Often computation's dominated by memory or branch prediction (and how the code gets generated to exploit CPU featu

[2019-06-11 21:01] t4c1 commented on #1198
@SteveBronder are you working on this right now? Can I take over?

[2019-06-11 21:13] SteveBronder commented on #1198
Totes feel free to takeover! idt we've decided a clear path for this so if you have any thoughts on how to do this feel free to share!

[2019-06-12 07:30] t4c1 commented on #1198
One option I see is following the way Eigen does it. That means a wrapper class like `Eigen::TriangularView<>`, which is returned by method `.triangularView<>()`. An advantage is that triangular part of the matrix is completely static, so there is no runtime overhead. However implementation would be more complex. We could follow the ideas behind [Eigen's implementation](https://eigen.tuxfamily.org

[2019-06-12 12:12] charlesm93 commented on #1257
@bob-carpenter See the code for the chain method on lines 66 - 73 in `algebra_solver.hpp`.

There are some changes in `algebra_system`, lines 61 - 74, where the () operator is modified to allow a vector containing both unknowns and parameters to be passed as the input variable.  This is required for the call to `Jacobian()`.

I think you're right: costs are dominated by memory and branch predictio

[2019-06-12 14:44] SteveBronder commented on #1198
I like the pattern, but looking at the code for `triangularView` it seems like it might be a big undertaking to go the CRTP route

https://github.com/libigl/eigen/blob/1f05f51517ec4fd91eed711e0f89e97a7c028c0e/Eigen/src/Core/TriangularMatrix.h

Though maybe that's a good idea. We could even think about specific kernels taking the triangular without zeros. Not sure of the effort vs. reward there tho

[2019-06-12 15:03] t4c1 commented on #1198
At the end that would not be much more code than other options. But it would be harder to write and understand.

That was the second option - the one I prefer. If we pick this than `matrix_cl<TriangularView::Lower> A(10, 10); // use in template` is the way to go.

That would only work well with the option that prevents in-place changes to triangularity.

The one you suggest (third) im also ok with

[2019-06-12 15:47] SteveBronder commented on #1198
Yes by effort I was mostly talking about maintainability and ease of other developers to add to it. If you don't think it would be hard to bash out a little toy prototype I'd be interested to see it. I like how dumb and simple the current implementation is, though I think it's reasonable to do more adult things

Ah apologies there was some miscommunication. Why would that stop us from changing the

[2019-06-12 18:25] yizhang-yiz opened #1263 "ito process as numerical solution of SDE"
## Description
ito process as numerical solution of stochastic differential equation, solved by potentially various of schemes. The easiest ones are Euler-Maruyama and its variants.

## Example
The function generating ito process could be like this
[code]

## Expected Output
An `n x q` matrix that contains the simulated ito process, with `n` being the system size(see above) and `q` being the time

[2019-06-12 18:32] bob-carpenter commented on #1263
Thanks.  @syclik---can you look this over and see if it's something we want to add?  I'm afraid I don't know anything about stochastic diff eqs.

[2019-06-12 18:34] yizhang-yiz commented on #1263
@syclik for some background there are two examples from https://discourse.mc-stan.org/t/ito-process-as-numerical-solution-of-stochastic-differential-equation/9192
demo the potential application. I'm working on the 3rd example.

[2019-06-12 18:54] bob-carpenter commented on #1257
One thing you can do is avoid `[i]`, which checks bounds, and use `.coeffRef(i)`.  We should be doing this in *a lot* of places in the code.

The bigger issue is whether you can automate a lot of the stuff you built by hand using adjoint-Jacobian apply.  The solver's `chain()` method is just doing that:
[code]

The Jacobian itself is calculated using a `map` and stored in `J_x_y_` until the revers

[2019-06-12 19:00] t4c1 commented on #1198
If we do things this way than triangularity can change. But I really don't like this option. Let's make it a constructor argument if there is any need to change it.

The more I think about it more it seems like an overkill. I see no need to waste time if we don't have problems with other options.

[2019-06-12 21:16] yizhang-yiz commented on #1263
The implementation used to run the examples in the above thread can be found at
https://github.com/yizhang-yiz/math/blob/feature_sde_tamed_euler/stan/math/rev/mat/functor/ito_process_integrator.hpp

Three examples are included in the unit test with a fixed Brownian motion path: geometric Brownian motion, stochastic SIR model, stochastic volatility model(Heston model):
https://github.com/yizhang-yi

[2019-06-13 08:04] charlesm93 commented on #1257
Right... this came up last time I did a PR. Ok, I'll save that one for last.

There are actually a few complications.
* First, more arguments of the constructor need to be stored in the class, since they are needed to construct the Jacobian matrix. Those elements are `theta_dbl`, the structures `fs` and `f`, and the arrays `dat` and `dat_int`. It is likely less memory than storing `J`, although I'

[2019-06-13 16:02] wds15 commented on #1257
Without too much knowledge about the details... have you considered looking into using IDAS from sundials? That package supports the forward sensitivity method *and* an adjoint sensitivity method. At least for ODE problems, the adjoint sensitivity approach is far better for problems with many parameters. I hope this comment is useful to point you in a useful direction...

[2019-06-13 17:34] bob-carpenter commented on #1257
You're right---you can't call autodiff functions during a
call to chain().  Forward-mode over double values would work,
but not reverse.  But that's not fully general for Stan functins,
even when I've finished testing.

Sorry for the confusion---I didn't realize you were using
nested autodiff to compute that Jacobian.

- Bob

[2019-06-13 17:38] tonigi opened #1264 "Non-linear slowdown calling grad repeatedly"
## Description

I came across an unexpected slow-down when repeatedly computing the gradient of a function. The calls are independent and should leave no state behind, but the compute time grows more than linearly.  If it's the function tree growing, I don't see why or how to stop it between calls.  The same does not occur when rewriting as a functor.

## Example

[code]

## Expected Output

Outpu

[2019-06-13 18:05] wds15 commented on #1264
You need to recover memory between repetitions otherwise the ad tree size grows with each iteration. Please close this if that fixes your problem

[2019-06-13 18:10] tonigi commented on #1264
Thanks a lot. Solved by `stan::math::recover_memory()`

[2019-06-13 18:10] #1264 closed

[2019-06-13 18:18] bob-carpenter opened #1265 "Relative difference based finite differences"
## Description

Add finite difference derivative functors that automatically set the value of the difference based on the scale of the inputs.

`stan::math::finite_diff_gradient` and related functions use a fixed difference.  For robustness with small and large scale inputs, the [Wikipedia page on numerical differentiation](https://en.wikipedia.org/wiki/Numerical_differentiation) recommends evalua

[2019-06-13 18:56] charlesm93 commented on #1257
That's good to know, I might use that for specialized solvers. I could also do the forward pass when instantiating the vari class if needed (the INLA problem is an example where forward diff would be much better than reverse mode, since the system is high dimensional but the model parameters are low dimensional).

@betanalpha Can you implement nested sweeps inside the chain method? I'm guessing yo

[2019-06-13 19:25] SteveBronder commented on #1198
Is the reason you don't like it because of the changing? I can understand that. My link to the toy example is not working for some reason, but when we do the `constexpr` function for example like

[code]

The constexpr inlines that code so

[code]

becomes one of

[code]

I'm fine with doing it as a constructor tho'. Part of me likes doing things at compile time that can be done then. The below is

[2019-06-14 01:18] betanalpha commented on #1257
Did you mean to tag Bob here?

Take a look at how the `grad` function is implemented to
see where you can access the adjoints after the forward
sweep has been executed.

[2019-06-14 01:44] betanalpha commented on #1265
You’ll still definitely want to use the centered finite difference,

( f(x + h) - f(x - h) ) / (2 * h)

to maximize accuracy per unit cost.

[2019-06-14 05:10] syclik commented on #1263
Thanks. Looks like the Discourse thread is picking up steam. I'll comment there.

[2019-06-14 05:17] syclik commented on #1263
Actually, some things that could be clarified on this issue itself. In the function signature:

- what is the function signature of `F1` and `F2`?
- what's the dimension of `y0`, `weiner_normal`, `theta1`, and `theta2`?
- why are `theta1` and `theta2` declared as `real[]` instead of `vector`?
- can every argument, excluding the functors, be both parameters and data? (`stan::math::var` and `double`

[2019-06-14 06:14] t4c1 commented on #1198
No. I don't like mixing static (templates) and dynamic (class attribute that can change). That would lead to weird situations where If one wants to create an object with triangularity that is not a compile-time constant. One would have to set some meaningless value to template and than change it immediately.

We can change the triangularity of original matrix.

[2019-06-14 06:27] charlesm93 commented on #1257
Accessing the adjoints is not my problem here. Once I have these adjoints I use them to build the initial cotangent, with something like follows:
[code]

The problem is that I then want to do an autodiff call inside the chain method, but this doesn't seem possible, at least not for the reverse call.

[2019-06-14 15:42] yizhang-yiz commented on #1263
@syclik I've updated signature to c++, as I was posing in stan signature.

Convenience.

[2019-06-14 16:17] yizhang-yiz commented on #1263
Allow me to redact the previous answer. The current proposed scheme(Euler) is rather easy to do in Stan, which is why the simple answer is "convenience". On the other hand, Euler is of order 1/2 for strong approximation, and naturally we may want something with higher order and/or more stable(like what happened in ODE solvers) in the future, say Milstein schemes, therefore laying out first steps i

[2019-06-14 17:31] bob-carpenter commented on #1257
Given a var, you can get the adjoint of its vari.  So you can initialize whatever you want.  The var.grad() method initializes var's adjoint to 1 and then propagates back from there.

[2019-06-14 17:37] bob-carpenter commented on #1257
The problem is if you have nested autodiff inside the chain() method, you have to be careful not to pass any gradient information back to things outside the nested autodiff.  So that means no simple functions of parameters for thing being computed.  You'd have to pull their double values out, use those, then put everything back together.

More inline on your specifics.

This is OK as it's a double

[2019-06-14 17:43] bob-carpenter commented on #1265
The algorithm being used takes deltas in argument component x(i) of 3h, 2h, 1h, -1h, -2h, and -3h, then uses a weighting that emphases the close ones.  The citation is

* Robert de Levie. 2009. An improved numerical approximation
  for the first derivative. Journal of Chemical Sciences 121(5).

The code is in prim/mat/functor/finite_diff_gradient.hpp.

[2019-06-17 12:52] syclik commented on #1263
@yizhang-yiz: thanks for updating the top level comment. I don't think there's anything conceptually stopping adding a function like this. From a design perspective, at the issue level, I think we should walk through the function signature checking for:
- whether the function signature looks natural: order of arguments
- names of arguments
- doc
- expectation on the functors: do they throw? do the

[2019-06-19 09:15] drezap opened #1269 "GLM: Allow scalar, row vector for both lpmdfs/lpdfs"
## Description
This is regarding @avehtari https://github.com/stan-dev/math/pull/1242#issuecomment-496652705.

More generally, I think we have an issue with type casting in the stan language. It's very inconvenient for GLMs to take in arbitrary datatypes (for example using a vector instead of having to cast into an Nx1 array for inverse logit).

@seantalts  Not up to date on stanc3, but if this wi

[2019-06-19 09:55] drezap commented on #1248
this issue has been resolved.

[2019-06-19 09:56] #1248 closed

[2019-06-19 13:22] t4c1 commented on #1269
All existing GLMs are implemented more or less this way. Any vector argument can be of type `vector`, `row_vector` or `array`. However I don't think all input combinations are tested or exposed to stan language. So this will likely only involve adding a few tests and exposing the rest of interfaces to stan language.

[2019-06-19 19:08] drezap commented on #1269
updated comments according to t4c1's input.

[2019-06-19 20:37] drezap commented on #1269
Some of these aren't templated to allow all of these input types, making a list as I go through:

categorical
categorical_logit
ordered_probit
and many more...

Yeah, unfortunately many are just taking Eigen column vectors in, so I'd have to go through and re-template all of our GLMs, which would be a pain.

Let me see if I can think of way to do it fast with a script without having to do each one

[2019-06-20 00:32] drezap commented on #1269
Instead of re-templating everything that only takes in Eigen column vectors, would anyone be opposed to me just writing a function that casts vectors, scalars, row_vectors into Eigen column vectors, and just throwing exception handling that catches the ones that are not Column vectors and calls a function that casts them? Is this sloppy? Is there a better way?

[2019-06-20 06:05] t4c1 commented on #1269
ONly GLMs are written this way, not every distribution. That is `normal_id_glm_lpdf`, `bernoulli_beta_glm_lpmf`, `poisson_log_glm_lpmf` and `negbin_2_log_glm_lpmf`.

There already is a function that creates a column vector view from these types - `as_column_vector_or_scalar()`. However unless all these functions are changed to accept these views there will be some unnecessary copying of data done

[2019-06-20 14:45] #1241 closed

[2019-06-20 17:29] SteveBronder opened #1270 "Add check for non-meta.hpp includes?"
## Description

Now that we are only supposed to include the `meta.hpp` includes, should we add a check for any file included that comes from `./meta/*.hpp`?

## Expected Output

I would expect we can include this in the dependency checks we already have?

#### Current Version:
v2.19.1

[2019-06-20 18:21] drezap commented on #1270
There was one file in the library that we left `./meta/*.hpp` because we (meaning I) couldn't figure out how to get it to compile quickly. But mostly I agree that we should include this in continuous integration.

So +1 from me.

No idea how to do it though. May be someone that's familiar with the integration tests can point us in the right direction?