[2016-12-06 05:02] bgoodri commented on #463
This is the same bug as https://github.com/stan-dev/math/issues/428

[2016-12-06 05:07] syclik commented on #463
@bgoodri, thanks! I'm closing this one.

[2016-12-06 05:07] #463 closed

[2016-12-08 17:38] #398 closed

[2016-12-14 14:40] syclik commented on #355
@thelseraphim, do you have a few free cycles? Can you tackle this? I think this should have a huge impact on everyone's runtime.

[2016-12-15 20:04] bob-carpenter commented on #462
This issue was moved to stan-dev/stan#2176

[2016-12-15 20:04] #462 closed

[2016-12-15 20:53] bob-carpenter opened #464 "refactor sequence views"
#### Summary:

We should refactor sequence views (VectorView, VectorViewMvt).

#### Description:

The current names and functionality are too hard to understand (and slightly buggy).

#### Current Version:
v2.13.0

[2016-12-18 23:42] seantalts commented on #93
I'm taking a look at doing this and using the VectorView_test.cpp as an example. But I'm a bit confused about what this file is testing. Can anyone comment on its intentions? For example, I'm confused that the `TEST(MetaTraits,VectorView)` section would not appear to test any additional functionality over the  `TEST(MetaTraits, VectorView_matrix_double)` section, seemingly differing only in how th

[2016-12-19 01:57] syclik commented on #93
Thanks! They're horribly named. See this issue #464 for a better description of what these things actually are. I think maybe if we rename them first, the testing will be much easier just because it's clearer what functionality they provide.

[2016-12-19 02:24] seantalts commented on #93
I agree they should be renamed but I think I get what the classes are trying to do... But I still don't really see how the tests I mentioned differ from each other! I might be missing something obvious or some specialized C++ thing, or there's a chance the tests were intended to test different functionality but actually don't? Not sure.

[2016-12-19 02:33] syclik commented on #93
I'll take a better look tomorrow. There might be duplicate tests.

[2016-12-19 02:35] seantalts commented on #93
Awesome, thanks!

On Sun, Dec 18, 2016 at 9:33 PM, Daniel Lee <notifications@github.com>
wrote:

[2016-12-20 16:34] seantalts commented on #93
Hey,

What is scalar_type_pre supposed to do? Here is the doc string:
[code]
I would read this to say that given something like a `Matrix<double, Dynamic, Dynamic>` it would pull out the `double`.

But when I see it used in VectorViewMvt, it’s used like this:
`    typedef typename scalar_type_pre<T>::type matrix_t;` where T is in this case the `Matrix<double, Dynamic, Dynamic>` from above, and the

[2016-12-24 02:46] syclik opened #467 "add to_matrix functions"
#### Summary:
Add `to_matrix()` functions for:

- [ ] `Eigen::Matrix<T, -1, -1> to_matrix(std::vector<T>, int, int)`

Other ones already exist.  Needs signature in Stan, too.

#### Description:
Add these for stan-dev/stan#1956.

#### Current Version:
v2.13.0

[2016-12-26 20:18] mitzimorris opened #469 "Remove v2.14.0 documentation"
Remove build documentation from repository.

[2016-12-26 20:18] #469 closed

[2016-12-26 23:32] #428 closed

[2016-12-27 23:13] seantalts opened #473 "VectorViewMvt of std::vector of Matrices always returns first Matrix"
#### Summary:
If you create a `VectorViewMvt` around a `std::vector` of Eigen vectors or matrices, when you index into the resulting view you always get back the first item in the `std::vector` even though it would appear you should get back the correct index (and throw an exception of out of bounds of the `std::vector`).

#### Description:
There's a separate ticket out to completely revamp `Vecto

[2016-12-30 00:33] thelseraphim opened #475 "clean up vectorization in prim/scal/prob"
#### Summary:
As of the current version, `poisson_cdf` and many adjacent functions are not up to coding standards (lack doxygen doc, tests for derivatives, consistent vectorization). This came up in the course of dealing with https://github.com/stan-dev/math/issues/90, which asks for a few new parametrizations. It would be good to bring all of these functions up to current coding standards.

- [ ]

[2016-12-30 17:41] bgoodri opened #476 "invalid partial specialization in LDLT_factor"
#### Summary:

The development version of clang++ fails to compile Stan programs

#### Description:

In https://github.com/stan-dev/math/blob/develop/stan/math/prim/mat/fun/LDLT_factor.hpp#L56
`class template partial specialization is not more specialized than the primary template`
which is defined on line 13 of that file.

#### Reproducible Steps:

0. Install the development version of clang++
1.

[2016-12-30 17:55] bob-carpenter commented on #476
That template design's terrible.  Should be easy to fix.  The problem is that there's a forward declaration

[code]

and then a declaration

[code]

It's all in the `stan::math` namespace, so this is easy to fix.

[2016-12-30 18:09] bgoodri commented on #476
So, I can just get rid of the forward declaration?

[2016-12-30 18:17] syclik commented on #476
Do we need to be up to date with the development version of clang++?

(if it's an easy fix, we should fix it; if we need to be up to date, then
we need to have some automated way of testing this. that said, I don't want
to code to a moving target.)

On Fri, Dec 30, 2016 at 1:09 PM, bgoodri <notifications@github.com> wrote:

[2016-12-30 18:23] bgoodri commented on #476
CRAN tests packages with all sorts of compilers that we don't test. I don't
think we even test with the latest released version of clang++. But this
particular compiler is not moving that much since it is scheduled for RC on
January 12.

On Fri, Dec 30, 2016 at 1:17 PM, Daniel Lee <notifications@github.com>
wrote:

[2017-01-02 21:53] #476 closed

[2017-01-23 20:49] bob-carpenter commented on #461
Also, I don't know how we could return the value of the derivative of the log density until it's been completely defined.  Then we can't use it for anything in the density, or the density will change. Where do you need this function and for what?

[2017-01-23 21:39] bob-carpenter commented on #418
Where exactly is this LDLT code and what should the behavior be?  Do you want it to test internally and throw exceptions so that any returned result is guaranteed to be valid?

[2017-01-23 21:59] syclik commented on #418
The code is here:
- stan/math/rev/mat/fun/LDLT_alloc.hpp
- stan/math/rev/mat/fun/LDLT_factor.hpp

The pattern is different from the way almost all of the math library code works. It can be constructed in a state where it shouldn't be usable and the client to the code needs to check an error condition to see if it was constructed correctly. I'd prefer failure on construction because there's really

[2017-01-23 22:11] bob-carpenter commented on #381
There are examples already of functions that test vectors that we can follow to extend the ones that aren't defined for vectors yet.  We should really extend all of our error functions to work componentwise on containers of all types.  A recursive template pattern should be able to generalize to all of our containers following the pattern we used for vectorizing scalar functions.  Somehow we need

[2017-01-23 22:12] bob-carpenter commented on #381
See #366 for a related issue.

[2017-01-26 01:14] thelseraphim commented on #20
Planning to bring this up in the meeting tomorrow but had a chat with @bob-carpenter and @betanalpha and we settled on implementing a family of fft functions without creating a complex type. `fft_amp2` will give the squared amplitudes, `fft_phase` will give the phases, and an as-yet unnamed function will return the amplitudes and phases packaged as a 2xn Eigen matrix. We'll probably also give the

[2017-01-26 19:13] bob-carpenter commented on #20
@thelseraphim  Could you write out the Stan language signatures for the functions you're proposing just to make sure we're on the same page before you build them?  Thanks.

[2017-01-26 19:15] bob-carpenter commented on #20
From @wds15 on the stan-dev list:

One of the very cool applications of a FFT transform (and its inverse) is the possibility to calculate the convolution as a simple product of two functions in the transformed space. This is for example handy if one wants to get the difference distribution of two quantities; one simply FFT transforms the function, multiplies them and then takes the inverse of that

[2017-01-26 19:18] bob-carpenter commented on #20
@wds15:  This is one of the reasons I reopened the issue---other people were asking for the same kind of convolutions.

[2017-01-27 13:14] jvaara commented on #461
I have been watching this function request and hoping to use it for Design of Experiment via Information matrix.

[2017-01-27 18:59] #467 closed

[2017-01-27 19:45] bob-carpenter commented on #461
We don't even have a technical spec for how this could work, so
it's not going to be done soon unless someone figures out how to
do it.

[2017-01-30 04:07] mshvartsman commented on #393
I have an efficient implementation of `(K1 kron K2 kron K3) * X` and `X * (K1 kron K2 kron K3)`, where X can be a matrix (efficient meaning that nothing larger than the final result is created). See the bottom of http://rpubs.com/mshvarts/matnorm-stan. If it would be helpful, I can probably port it into c++ once I figure out stan's internals. Please let me know how I can help.

[2017-01-30 04:35] bob-carpenter commented on #393
For adding new functions, see:

https://github.com/stan-dev/stan/wiki/Contributing-New-Functions-to-Stan

One way to do this would be to write it as a templated
function in stan/math/prim/mat/fun.  I'd suggest doing
that first and adding tests.

It would probably be more efficient to build in specialized
derivatives.

- Bob

[2017-01-31 20:08] bob-carpenter opened #481 "appending arrays"
#### Summary:

Implement the function

[code]

That appends two arrays together.

#### Additional Information:

Once this is added here, create an issue in stan-dev/stan to add the signature, then do that to expose it to the modeling language.

#### Current Version:
v2.14.0

[2017-01-31 20:16] bob-carpenter opened #482 "symmetrize function"
#### Summary:

Given how often users have to do this themselves, it seems like it'd be useful to have a function

[code]

An alternative would be to define the return as `0.5 * (x + x')` but that's a whole lot more work for autodiff and it won't work in the situation where we fill in the below-diagonal then call this function to complete.

#### Current Version:
v2.14.0

[2017-01-31 20:20] betanalpha commented on #482
Given the ambiguity as to which triangle gets copied into which,
I’d recommend making the naming explicit, a la ```symmetrize_ld```
or ```symmetrize_up``` or the like.

[2017-01-31 21:49] seantalts commented on #481
What do you think about adding a tag for `newbie friendly` or something to help others trying to find a place to dig in? this seems like a good candidate from what I can tell.

[2017-01-31 21:54] bob-carpenter commented on #481
We try to keep the discussion focused on the issue in our issues.  I'm moving this discussion to discourse.

[2017-02-02 01:15] thelseraphim commented on #20
Just wanted to record the result of conversations offline and on discourse in the thread here. The plan initially is to implement the following function signatures, as @betanalpha spelled out on discourse
[code]
we'll also want the matrix versions of these functions
[code]
adding ``real[,] fft_real_imag(real[] x)`` and its matrix version should be only infinitesimally more work and is much friendl

[2017-02-02 19:42] bob-carpenter commented on #20
I think we can get away with just the vector version.
We generally require arguments to multivariate functions
to be vectors in Stan, though sometimes we allow arrays
and row vectors, too.

It's easier to code review in smaller chunks, so if you
just do these two:

that'd be a great start.

For the compound result, if it's two vectors you get back conceptually,
the signature should specify the ret

[2017-02-02 22:23] mbrubake commented on #20
Feel free to ignore me since I'm not active at the moment, but I figured I'd thrown in my $0.02.

- The choice of amplitudes and phases seems like a bad idea.  In particular, it introduces a significant non-linearity (with a singularity no less) into a transformation which is otherwise linear.  Doing it in terms of real and imaginary components retains this linearity, would generally be faster and

[2017-02-03 07:06] bob-carpenter commented on #20
By all means pipe up!  We appreciate the input.

I don't understand all this complex transformation stuff,
so I think Thel and Michael should work that out.  I don't
even understand the use cases.

- Bob

[2017-02-03 16:01] ryanpdwyer commented on #20
As another interested user, I agree with @mbrubake that real and imaginary parts are what would be useful.
Here is a brief example of how I would use it:

My measured experimental data points are `vector[N] y`. The measured `y` is a discrete convolution of a known response function `vector[H] h` and a sample variable `vector[N+H-1] x`.
I have a model for `x` which I fit using the data `y`. To do t

[2017-02-03 18:16] bob-carpenter commented on #20
Thanks.  That's really helpful.

- Bob

[2017-02-06 23:28] thelseraphim commented on #475
I'm closing this for now since it's sort of an infinite and ill-specified project, beyond just "make stuff better." I'll continue to work on these things but will make more granular github issues as I go.

[2017-02-06 23:28] #475 closed

[2017-02-08 21:26] seantalts opened #485 "Refactor scalar_type"
#### Summary:
`scalar_type` is complicated and returns `MatrixXd` if you give it `std::vector<MatrixXd>` instead of `double`, as you might expect.

#### Current Version:
v2.14.0

[2017-02-09 18:45] sakrejda commented on #27
I started working on this branch.

[2017-02-09 19:43] sakrejda commented on #27
Maybe I just haven't read the functions correctly but I was trying to find consequences to this issue in the user-facing functions and it turns out this test (that I just wrote) fails with a `nan` for our function.

[code]

With this output:

[code]
[code]

[2017-02-09 23:17] sakrejda commented on #27
Turns out F32 also needs to terminate when the denominator for the rising factorial bits goes to 0.  Once I push it will match mathematica results and have tests for that condition.  Also, sign needs to be applied after exp, also fixing that. I'm not sure it was ever right except for a limited number of arguments (?)

[2017-02-09 23:22] bob-carpenter commented on #27
Sounds good.  I don't even know what this function is or where it's used, but might as well fix it if it's getting called from elsewhere.  If it's not getting called anywhere, we can get rid of it unless it's there pending being exposed to the Stan language.

[2017-02-09 23:30] sakrejda commented on #27
It gets called by the beta-binomial CDF and it's related to some functions that make my delay-time models hang so I'm just going to plow through all these if I can.  I am setting up some tests against results from Mathematica  so if you have any suggestions about how to do that better I appreciate suggestions.  It's one of the less common instances of the [generalized hypergeometric function](http

[2017-02-10 01:28] sakrejda commented on #27
- [ ] Test F32 to make sure it throws when diverging (e.g.-z>1)

[2017-02-10 13:16] sakrejda opened #487 "Hypergeometric function bugs and inconsistencies"
#### Summary:
Our hypergeometric functions can hang, silently provide wrong results, or always provide wrong results for some values.  This issue addresses the critical problems leading to wrong results, makes some stylistic changes, and adds tests.  I did not change the algorithm yet and will not in this issue.  Some similar issues might be in the beta functions. This bug affects the beta-binomia

[2017-02-11 17:49] seantalts commented on #464
I'm going to try to summarize the current state and what's left to do for this:

It seems like VectorView and VectorViewMvt can be summed up with three use cases:
1. Input is either a scalar or a sequence of scalars and we'd like to use it as a sequence. This is now scalar_seq_view as of https://github.com/stan-dev/math/pull/486. After that pull request I'll still need to replace a few more uses (

[2017-02-12 22:25] bob-carpenter commented on #464
Yes, the first point is why I wanted to just do the immutable sequence view first.

Then (2) should look just like (1), only for vectors. It's then possible we'll be able to combine the code.  That's what I was talking about when I said I'd like to write them both then see if we can combine and that sometimes it's simpler to leave the apparently duplicated but utterly transparent code than to incl

[2017-02-14 19:08] #320 closed

[2017-02-15 17:27] seantalts commented on #50
Hey, Bob was suggesting I take a crack at this and I have a few questions about what we want to do here. First, my attempt to paraphrase the high level goal: We want to allow Stan users to use a standard set of error checking functions for use typically in their Stan code's `functions` block (i.e. User Defined Functions), and we think the functions listed above on this ticket are good candidates f

[2017-02-15 19:21] bob-carpenter commented on #50
The behavior's different.  These will return true if the tests pass, but not throw errors.

[code]

These will throw errors (equivalent to the reject() statement in Stan) of the tests fail:

[code]

And they should be usable as statements.  I think that'll work as is.

We want both because the user may patch together the is_X tests and return a custom message, whereas the error messages in the val

[2017-02-17 22:38] seantalts commented on #50
Just to be clear, are we expecting things like `is_positive` to be vectorized, or just the `check_positive` version? Given that `bool is_positive(...)` couldn't return information about where the error occurred, I think the latter makes more sense but just want to run that by you guys while I'm working on it.

[2017-02-17 23:14] bob-carpenter commented on #50
I was originally thinking yes, but you explained why that's not going to make sense in practice, so no.  Maybe we don't even need to expose boolean versions, since `is_positive(x)` is just `x > 0`.  So maybe it only makes sense to implement the `check_X` functions.  Definitely starting with those would make sense and we can see if we ever need the other ones later and do them in another pull reque

[2017-02-19 20:51] mitzimorris opened #492 "promoter.hpp doc/refactor"
#### Summary:
Doc and refactor file stan/math/prim/mat/fun/promoter.hpp into functions for scalar, array, and matrix types and add functions to appropriate director and add matrix builder function.

#### Description:

* Function stan/math/prim/mat/fun/array_builder.hpp should be in stan/math/prim/arr, but it depends on promoter.hpp.  Refactor/move functionality to appropriate stan/math directories

[2017-02-20 20:32] bob-carpenter opened #493 "compound functions for logistic regression (and other GLMs)"
#### Summary:

Add a `logistic_regression` function with analytic gradients that behaves as if defined (up in the Stan language) by:

[code]

but with analytic gradients.  The data will be of this shape:

[code]
and parameters
[code]

But it will need to work for all argument types.

I could be convinced that this should be written as `bernoulli_logit_lpdf(y | x, beta)` but I don't like that `x` o

[2017-02-20 20:38] bgoodri commented on #493
This seems like a promising idea, but I would like to see the constant
carved out of `x` in the signature. In rstanarm, the `x` matrix has column
means of zero and the intercept is separate, which is usually a good thing
in terms of specifying a reasonable prior and getting better geometry.

On Mon, Feb 20, 2017 at 3:32 PM, Bob Carpenter <notifications@github.com>
wrote:

[2017-02-20 21:11] bob-carpenter commented on #493
I'd thought about that, but it adds significant complexity to the function given our need to allow all the instantations.  It's definitely do-able, though.

It doesn't actually give you more functionality, because you can always specify a column of
1s in the first column of the data frame and use different priors, e.g.,

[code]

but the columns of 1 is itself a bit awkward and inefficient, though

[2017-02-20 21:25] jgabry commented on #493
Sounds good. It would be great to have a number of these.

Yup, that's happened to me several times. It's annoying. Also mysterious.

[2017-02-21 16:20] avehtari commented on #493
If the plan is to have a number of these, then could they be named like
y ~ bernoulli_logit_regression(x, beta);
or some other keyword (Like reg, glm, linear, or lin), as it would be then easy to come up with names for other GLMs like
y ~ poisson_log_regression(x, beta);

[2017-02-21 18:24] bob-carpenter commented on #493
Thanks!  That makes the GLM connection much clearer.

So should the function be bernoulli_logit_regression_ll() (for "log likelihood") or should we allow it to be used with sampling, so it should be called bernoulli_logit_regression_lpmf().

And yes to poisson_log and related link/sampling distributions.

[2017-02-21 18:28] betanalpha commented on #493
Can we cut “regression” to “regr”?  I’d stick with lpmf.

[2017-02-21 19:17] avehtari commented on #493
I'd prefer lpmf, and other usual endings
For loo we would use
 log_lik[n] = bernoulli_logit_regr_lpmf(y[n] | x[n], beta);
and for censored data (like in survival models)
 target += bernoulli_logit_regr_lccdf(ycen | xcen, beta);

[2017-02-22 04:31] bob-carpenter commented on #493
That's a lot more signatures.  I was thinking of just

  real bernoulli_logit_regress_lpmf(int[] | matrix, vector);

What you're asking for above is

  real bernoulli_logit_regress_lpmf(int | row_vector, vector);

But what you wanted before was the split output rather than summed output, so the matrix signature would return vector or real[].

I'll probably stage the implementations of these.

I al

[2017-02-22 11:33] avehtari commented on #493
I'm fine with less signatures. As the generated quantities block doesn't affect the expression tree, it's not a problem for me to use
 log_lik[n] = bernoulli_logit_lpmf(y[n] | x[n]*beta);

[2017-02-22 15:51] betanalpha opened #495 "cov_exp_quad uses ambiguous parameter names"
#### Summary:

`cov_exp_quad` uses ambiguous greek letters to describe its input parameters in error messages.

#### Description:

`cov_exp_quad` uses `sigma` for the marginal variance and `l` for the length scale which is somewhat non-standard, especially given the more recent notation that has been used in GP example models.  `sigma`, in particular, is highly overloaded in its use in these model

[2017-02-22 17:59] bob-carpenter commented on #493
Great---that one already exists.  What we need to do is give you vectorized versions of these as you've been asking for for ages (I haven't forgotten---we also need the propto versions to use with target += to complete everything on the table so far).

[2017-02-27 23:32] rtrangucci opened #498 "`mdivide_left_tri_low` incorrect argument dependent lookup"
#### Summary:

Calling `mdivide_left_tri_low` on a matrix of `vars` runs the `prim` version of `mdivide_left_tri` on the matrix, rather than the specialized reverse-mode version with analytic gradients.

#### Description:

`stan/math/prim/mat/fun/mdivide_left_tri_low.hpp`' is too generally templated, which leads to the incorrect version of `mdivide_left_tri` being matched.

#### Reproducible Steps

[2017-02-27 23:36] bob-carpenter commented on #498
That's also true of matrix multiply.  Our matrix multiply is slower than doing the prim version, but it's much more conservative in terms of memory usage.  I'm attributing it to our version not being properly blocked, which is probably what's going on here, too.

[2017-02-27 23:37] rtrangucci commented on #498
I'm not sure that it's still true for matrix multiply. I can double check, but with my changes, I saw an order of magnitude increase in speed for A * B where both A and B were rev matrices.

[2017-03-02 23:12] bob-carpenter opened #500 "host Doxygen API doc on mc-stan.org"
#### Summary:

The subject pretty much says it all.

#### Description:

The Doxygen doc is getting built, it's just not being hosted.

This should not turn into a doc cleanup or styling project, just hosting it as part of our release process.

#### Current Version:
v2.14.0

[2017-03-03 20:53] rtrangucci opened #501 "Add exp_quad_chol function"
#### Summary:

Generate the cholesky factor of an exponentiated quadratic covariance matrix.

#### Description:

The `prim` implementation will look something like this:

[code]
#### Additional Information:

Will need to be coupled with a rename of the parameters in `cov_exp_quad`.

#### Current Version:
v2.14.0

[2017-03-04 10:36] avehtari commented on #501
More descriptive parameter names as proposed in #495 ?

[2017-03-04 14:57] betanalpha commented on #501
For adding the diagonal you’ll want to use Eigen as much as possible,
in particular to cast sigma^2 to a diagonal matrix and add it on one go.

[2017-03-04 17:18] bob-carpenter commented on #501
Is there an expression template in Eigen to view a single scalar as a diagonal matrix?  I know there's a way to view a vector as a diagonal matrix.  Can't do this with a C++ cast either way, but I assume Michael was speaking loosely here.

[2017-03-05 16:55] rtrangucci commented on #495
closed with #499

[2017-03-05 16:55] #495 closed

[2017-03-05 16:57] rtrangucci commented on #384
closed with #497

[2017-03-05 16:57] #384 closed

[2017-03-07 22:17] ahartikainen commented on #434
Hi, due to current compiler situation with python3, pystan does not work on windows with python 3.5/3.6. Currently, I have no idea how to fix this. There are some notes on accumulator.

Errors are probably there due to some bug in MSVC.

Errors are:

    error C2672: 'stan::math::accumulator<double>::add': no matching overloaded function found

    error C2784: 'void stan::math::accumulator<double

[2017-03-08 14:42] rolando commented on #434
I think this is because Eigen compatibility with MSVC. I replaced `vector` and `matrix` types with `real []` and it works fine.

[2017-03-08 21:07] bob-carpenter opened #502 "add docs for autodiff memory manipulation"
#### Summary:

See title.

#### Description:

Currently very difficult to understand the intent of the various objects and member variables.

#### Current Version:
v2.14.0

[2017-03-10 18:34] torsti opened #503 "slow categorical_rng implementation"
#### Summary:

The `categorical_rng` function is very slow for large N-simplexes, due to an unneccessary double loop.

#### Description:

The implementation of the categorical_rng function includes a [double loop](https://github.com/stan-dev/math/blob/aa311f3b329c96c8e47be85126ae9535be104b19/stan/math/prim/mat/prob/categorical_rng.hpp#L34-L37) which, unless I am mistaken, just calculates the cumul

[2017-03-11 19:28] bob-carpenter commented on #503
Thanks much for testing and reporting this.  This should be easy to fix.  This would be a great project for someone wanting to get their feet wet with our dev process.

[2017-03-11 20:01] torsti commented on #503
I thought so. I'm trying to get the hang of the dev process over at #504. Maybe I was a bit rash sending the pull request before waiting for a comment on the issue first, though...

[2017-03-12 06:23] bob-carpenter opened #505 "better derivative of lgamma and digamma stability"
#### Summary:

From @bgoodri on http://discourse.mc-stan.org/t/numerical-error-tanks-stepsize-other-possibilities/293/3

For the complete Gamma function, I was thinking the other day that Stan could do better. It is known

https://www.vttoth.com/CMS/projects/41-the-lanczos-approximation1

how to get arbitrary precision for the log-Gamma function, which Boost basically already implements (with some

[2017-03-12 13:53] bgoodri commented on #505
Paul Godfrey, who was the guy that really came up with this approximation, said (with reference to the Gamma function, rather than the log-Gamma function)
http://my.fit.edu/%7Egabdo/gamma.txt

than 10E-15 for real z in the range 0< z <171 ...

c = [  0.99999999999999709182
      57.156235665862923517
     -59.597960355475491248
      14.136097974741747174
      -0.49191381609762019978
        .339

[2017-03-12 15:17] betanalpha commented on #505
I argue that most of these claims are completely unsubstantiated.  See,
for example, the discussion in Boost’s doc itself: http://www.boost.org/doc/libs/1_63_0/libs/math/doc/html/math_toolkit/sf_gamma/digamma.html <http://www.boost.org/doc/libs/1_63_0/libs/math/doc/html/math_toolkit/sf_gamma/digamma.html>.

[2017-03-12 17:34] bgoodri commented on #505
What claims are unsubstantiated? He got that precision for the Gamma
function. You linked to the Boost doc for the digamma function. For the
log-Gamma function with fixed precision Boost uses slightly different
values of g and n
http://www.boost.org/doc/libs/1_63_0/libs/math/doc/html/math_toolkit/lanczos.html
.

[2017-03-12 17:51] bob-carpenter opened #506 "version of array_builder producing matrix and row_vector objects without copies"
#### Summary:

Right now, the usage through Stan in the generated code is to construct a `std::vector`, fill it, then copy it, then convert that into a matrix or row vector.  The intermediate copy should be eliminated to reduce memory contention on the heap from the redundant copy.

This should then be pushed through the generator code in Stan for row vector and matrix expressions.

#### Current V

[2017-03-12 17:59] betanalpha commented on #505
"So, we could try differentiating the Lanczos / Godfrey approximation directly, which is not difficult, definitely faster, and possibly more accurate.”

[2017-03-12 18:50] bgoodri commented on #505
The derivative is not difficult because it is mostly just log() stuff. It
is definitely faster than separately calling lgamma and digamma from Boost
because some of the digamma calculations are shared with the lgamma
calculations. It is possibly more accurate (I doubt by much) because we
would be differentiating the approximation being used rather than
approximating the true derivative.

On Sun, M

[2017-03-12 19:15] bob-carpenter commented on #505
Approximating the true derivative will give you better precision w.r.t. the true value than differentiating the approximation of the value.

But then the question is given that the approximation of the value is the function being used, maybe HMC is better off differentiating the approximation?

[2017-03-12 19:36] betanalpha commented on #505
The digamma doesn’t even use any transcendental function
calls — it’s all rational function approximations and asymptotic
expansions, hence the speed.  The bigger challenge is that the
radii of convergence are different than for the various log gamma
approximations, or in other words the optimal branches for
evaluation are different.  So you run into the typical problems of
either (a) lgamma conve

[2017-03-14 19:13] rainwoodman commented on #20
FFT is how we compute gravity forces, with which we can build a gravity solver model with stan.
We have been exploring this using some customized tools for a while, but would like to explore porting the heavy lifting to stan.

Gradients of complex numbers has been worked out. Some explanations were done by the autograd authors at https://github.com/HIPS/autograd/issues/179 . real-complex transform

[2017-03-14 19:53] bob-carpenter commented on #20
@rainwoodman  We're working on adding some basic FFT functionality.  Can you be more specific about what function you'd like to see in Stan?

[2017-03-14 22:51] rainwoodman commented on #20
I have to be honest I have not built anything with stan yet -- just got very inspired by chapter 19 of the manual, because our model is a PDE solver.

FFT (real-complex and complex real) is half of what we need. We also need a few 'convolution' operators, which I named them paint/readout.

Here is a write up of the operators:

https://bids.berkeley.edu/news/automatic-differentiation-and-cosmology-

[2017-03-15 13:48] betanalpha commented on #20
For a project of this scale you definitely don’t want to be implementing the
solver directly in Stan, and you definitely don’t want to be naively autodiff’ing
through the solver itself, which will be slower and require a gigantic amount
of memory.

What you want to do is autodiff the PDE system itself, yielding a larger
system of PDEs whose solutions yield not only the states but also the
sensitiv

[2017-03-15 14:03] hoanguc3m commented on #27
I have a problem with grad_reg_inc_beta function.
void grad_reg_inc_beta(T& g1, T& g2, const T& a, const T& b,
                           const T& z, const T& digammaA, const T& digammaB,
                           const T& digammaSum, const T& betaAB)
For example, when z = 1, I would expect that g1 is 0.
I also compare different value for z and find that it is not close to the value in the "Deriv

[2017-03-15 23:40] rainwoodman commented on #20
Thanks a lot!

I haven't thought about evolve the gradient of likelihood as an additional set of variables. Could you share a reference or a keyword for me look up on the work with the likelihood with N-body solvers?
That is exactly the problem we are facing -- and we currently use back-propagation to compute the gradients.

[2017-03-16 00:29] betanalpha commented on #20
I’d start by reading through the section on ODEs in the
Stan autodiff paper, https://arxiv.org/abs/1509.07164 <https://arxiv.org/abs/1509.07164>.
And then it’s probably best to continue this discussion
on the User or Dev lists.

And maybe next time don’t have an AstroHackWeek
that leaves out high-performance alternatives.   ;-)

[2017-03-16 03:31] rainwoodman commented on #20
Ah. I see. Page 40, Chapter 13.4, coupled size N * (N + 1) is what drove us away from the coupled variable approach. N is O(10^7) in our case. We may want to reformulate our problem.

[2017-03-16 03:41] betanalpha commented on #20
Yes, it is a large system, but the extended components are relatively
sparse and you there is not way to get the necessary information
otherwise.  If you assume an extremely simple measurement model,
such as pure Gaussian variation, then you can reduce that burden
by projecting onto the expected output space directly (often called
ambiguously adjoint methods) but in general it will be worth the
co

[2017-03-16 05:07] rainwoodman commented on #20
I somehow had the wrong impression that adjoint method were identical to back-propagation, and missed the entire literature. We shall look more carefully into it. Thanks!

[2017-03-16 18:05] randommm opened #507 "more to_matrix functions"
Just like asked in https://github.com/stan-dev/stan/issues/1452

Add the following signtures to_matrix:
- [x] `to_matrix(vector, int, int)`
- [x] `to_matrix(row_vector, int, int)`
- [x] `to_matrix(real[], int, int)`

- [x] version with fourth `int column_major` argument
  - [x] `to_matrix(vector, int, int, int)`
  - [x] `to_matrix(row_vector, int, int, int)`
  - [x] `to_matrix(real[], int, int, in

[2017-03-17 23:54] bob-carpenter commented on #20
Back-prop in neural nets is just a simple instance of the adjoint method in autodiff.  So I'm not sure what you're asking here.  But whatever it is, would you mind moving this discussion to our users list or to the dev list if you want to get involved in development.  We try to keep issue discussions on topic and not let them devolve into speculative discussions.  Thanks.

[2017-03-19 16:33] #503 closed

[2017-03-20 16:02] sakrejda opened #511 "Hypergeometric function improvements"
#### Summary:
Our hypergeometric functions don't implement the accuracy and speed related improvements available in other libraries, this might lead to limited accuracy in some cases.  This needs to be tackled after issues hypergeometric functions have proper tests (issue #27) and after hypergeometric functions are correct (issue #488).  I will either add the model demonstrating these issues in a

[2017-03-20 18:42] wds15 opened #512 "Speedup non-stiff ODE solver"
#### Summary:
Avoid duplicate evaluation of the ODE RHS inside the coupled_ode_system () operator.

#### Description:
The evaluation of the ODE RHS can be an expensive call, especially if a forcing function is involved which may trigger numerically costly evaluations (dosing in PK/PD models for example). Currently the ODE RHS is evaluated twice inside the coupled_ode_system functor; once to get th

[2017-03-24 01:26] bob-carpenter opened #514 "gamma_cdf reporting wrong parameter names"
#### Summary:

`gamma_cdf` function reports errors about a `Scale` parameter, but the documentation calls it a `Rate` parameter.

Reported by John Yao on stan-users.

#### Current Output:

[code]

#### Expected Output:

Expect to match the doc, which says `Rate parameter`.  One is wrong and needs to be fixed.

#### Current Version:
v2.14.0

[2017-03-28 09:42] hoanguc3m commented on #27
For example, in the grad_reg_inc_beta_test.cpp
`#include <stan/math/prim/scal.hpp>
#include <gtest/gtest.h>

TEST(grad_reg_inc_beta, 1) {
  double alpha = 1.0;
  double beta = 1.0;
  double y = 1.0;
  double digamma_alpha = stan::math::digamma(alpha);
  double digamma_beta = stan::math::digamma(beta);
  double digamma_sum = stan::math::digamma(alpha + beta);
  double betafunc = std::exp(stan::math

[2017-03-28 11:14] sakrejda commented on #27
Thanks for pointing out the additional test case, I've been working on
these but I don't think I've touched this one in any meaningful way yet.  I
will look at this test case but not before finishing the other issue
related to these.  If you're trying to use this function the best way to
get help now is to ask on the users mailing list (yes, even for C++ math
lib questions).

On Tue, Mar 28, 2017

[2017-04-03 18:18] bob-carpenter commented on #79
I'm assigning to @seantalts because he's been going through and cleaning up this metafunction behavior.  Maybe he's already knocked this one off, but I'll leave it for him to close.

[2017-04-03 18:26] bob-carpenter commented on #355
This is a big one if anyone wants to work on it.  @rtrangucci --- this one's up your alley.

[2017-04-03 18:27] bob-carpenter commented on #187
This one's been dealt with.

[2017-04-03 18:27] #187 closed

[2017-04-03 18:28] bob-carpenter commented on #93
@seantalts --- could you close this if it's now redundant given the other work you're doing generalizing `operands_and_partials`.  Thanks.

[2017-04-03 20:59] wds15 commented on #512
closed with pull #513

[2017-04-03 20:59] #512 closed

[2017-04-05 21:30] #507 closed

[2017-04-06 21:38] bob-carpenter commented on #310
The original pull request for this was closed:  https://github.com/stan-dev/math/pull/312

[2017-04-11 16:49] bob-carpenter opened #517 "categorical_logit_rng and other reparameterization RNGs"
#### Summary:

`categorical_logit_lpmf` exists, but not `categorical_logit_rng`.

There are other parameterizations that don't have RNGs and those should be added, too.  Here's a list:

* [ ] `categorical_logit_rng`

#### Current Version:
v2.14.0

[2017-04-12 07:48] wds15 commented on #101
I am not sure if this is maintained still... but let me add that I tried out to parallelize the ODE solver for the case of many patients for which we do essentially a parameter study.

This can be made to work, but the performance gain is not really attractive. The problem is that the system functor is being parallelized. As a consequence the patient with the worst history will trigger more evalua

[2017-04-13 19:14] mitzimorris opened #519 "Remove v2.15.0 documentation"
Remove build documentation from repository.

[2017-04-13 19:16] #519 closed

[2017-04-17 02:35] syclik opened #522 "Fix multiple_translation_units test"
#### Summary:
Multiple translation units test fails on Linux. This shouldn't fail.
See: http://discourse.mc-stan.org/t/stan-math-ubuntu-clang-needs-fpic/339/3

#### Description:
The test was originally put in place so we can check that the headers be included from multiple translation units and compiled separately. We've added `inline` to all our functions which allows this behavior.

It currently

[2017-04-17 17:04] seantalts commented on #522
Does anyone know why we are testing multiple_translation_units with the `-shared` option instead of providing a `main` somewhere? I think if our intended use-case is for it to be compiled as a shared library, `-fPIC` is completely reasonable, and if not I can take out the `-shared` and add a `main`.

[2017-04-17 20:26] syclik commented on #522
@seantalts, it came from @rgiordan's use case. See the original GitHub issue for history:
https://github.com/stan-dev/math/issues/328

There's no reason we need to have the `-shared` option. We can do it any other way. I think the goal is still worth trying to meet, but if it's too much trouble, we should just stop supporting it. (It being allowing the math library to be brought into multiple tran

[2017-04-17 20:56] seantalts commented on #522
Ah, okay. I think the `-shared` option might be important for the linked use-case (which is to have it all compiled as a shared library at the end of the day) so I will just add `-fPIC` to this test. `-fPIC` option seems pretty standard for a shared library.

[2017-04-17 21:29] syclik commented on #522
Thanks!

On Mon, Apr 17, 2017 at 4:56 PM, seantalts <notifications@github.com> wrote:

[2017-04-18 00:05] rgiordan commented on #522
Thanks for fixing this!  I do think the ability to use ```stan::math``` in multiple translation units is an important feature if it's to be a general-purpose autodifferentiation library for C++.  Consider, for example, someone building a shared library to provide primitives for Bayesian non-parametric priors and someone else linking to that library with their own custom likelihood to generate data

[2017-04-18 01:45] sakrejda commented on #487
Fixed, closing.

[2017-04-18 01:45] #487 closed

[2017-04-18 01:47] sakrejda commented on #511
Some of these suggestions could be implemented but the scope is too broad, closing.

[2017-04-18 01:47] #511 closed

[2017-04-18 14:32] bgoodri opened #524 "printf from CVODES again"
#### Summary:

CVODES uses printf() statements

#### Description:

This is a bad idea for Stan in general and causes problems on CRAN

#### Reproducible Steps:

[code]

#### Current Output:

[code]

#### Expected Output:

None

#### Additional Information:
Provide any additional information here.

#### Current Version:
v2.15.0

[2017-04-18 15:36] bob-carpenter commented on #524
Should we fork and just get rid of the `printf` statements?

Or can we somehow avoid compiling the files they're in?  Looks like "direct" might be some kind of command-line thing and presumably the serial one is for serializing vectors (which we also won't need).

[2017-04-18 16:15] wds15 commented on #524
I think direct refers to direct solvers and serial is for non-parallel execution. We need both.

[2017-04-18 17:35] bob-carpenter commented on #524
Then the only solution I see is to fork CVODES and remove the printf statements in our versions.

[2017-04-18 18:27] wds15 commented on #524
Yep. This is what we have done in the past. I have possibly forgotten those patches when doing the 2.9.0 upgrade. I can take a look at this.

[2017-04-18 18:49] wds15 commented on #524
So I checked things and we have patched CVODES ourselves and these patches were originally applied to CVODES 2.8 and these were correctly propagated to the current 2.9.0. Essentially we have defined a

NO_FPRINTF_OUTPUT

macro which guards all calls to fprintf which directly print to stderr in the CVODES code. The quoted calls to printf are OK from my perspective as these are never called from us:

[2017-04-18 19:28] bgoodri commented on #524
Yes, the NO_FPRINTF_OUTPUT worked previously I believed, which is why I was
surprised to see the problem come back. But it does not matter if we never
call the printf() functions; as long as the functions are in the shared
object CRAN complains. So, they need to get optimized away by the compiler
or we have to modify CVODES in the Stan repo.

On Tue, Apr 18, 2017 at 2:49 PM, wds15 <notifications@g

[2017-04-19 19:14] wds15 commented on #524
could you take a look at the respective branch?

I have used the same macro name NO_FPRINTF_OUTPUT to if-def out those extra instances (which sometimes call printf instead of fprintf as the macro name may suggest). Adapting the macro name cause a number of required upstream changes as well so I left it as is.

[2017-04-19 19:55] sakrejda opened #525 "gamma_p needs better derivatives"
#### Summary:
For reasonable values of it's arguments, gamma_p(a,z) can have very poor errors (`>>1e-5`, compared to values calculated using mathematica).  For parts of its range the current algorithm for `d(gamma_p)/da` in `stan/math/rev/scal/fun/gamma_p.hpp` can also appear to converge, but instead provide values orders of magnitude off from true values.

#### Description:
Summary [plots](https:

[2017-04-19 19:57] sakrejda commented on #525
This is also relevant for d(gamma_q)/da but I don't know if the problem is as bad there.

[2017-04-20 15:43] #522 closed

[2017-04-21 15:26] bob-carpenter opened #527 "skew_normal_rng overflowing"
#### Summary:

This program

[code]

generates `-inf` draws for `y`, but it shouldn't.

#### Reproducible Steps:

See above.

#### Current Output:

From CmdStan:

[code]

#### Expected Output:

Should have finite posterior mean for `y`.

#### Additional Information:

If you code `y` as a parameter and use a sampling statement in the model, this problem doesn't arise, but there are a ton of diverge

[2017-04-22 03:21] bbbales2 opened #528 "ambiguous fvar template instantiation of ad_promotable with g++ 5.4.0"
#### Summary:
The unit tests are failing with g++ 5.4.0

#### Description:
I'm not sure what's happening, honestly. I'm not familiar with the code that is breaking. This just came up when trying to merge some new code into Stan. (see http://discourse.mc-stan.org/t/stans-runtests-py-src-test-unit-failing-with-g-works-with-clang/351, https://github.com/stan-dev/stan/pull/2285)

#### Reproducible Ste

[2017-04-22 04:30] sakrejda commented on #527
This sounds like one easy issue (look up the right RNG and see where our
generator goes wrong) plus one potentially complicated issue (divergences,
which could just be parameterization or it could be the math functions not
being accurate)

On Fri, Apr 21, 2017, 11:29 AM Bob Carpenter <notifications@github.com>
wrote:

[2017-04-22 14:59] bgoodri commented on #527
I already looked it up. We are just inputing a random standard uniform
variate into the quantile function from Boost's implementation of the skew
normal distribution. But apparently Boost's implementation involves
numerical root-finding.

[2017-04-22 15:34] sakrejda commented on #527
There's an rng for the skew normal that involves 2 X ~ N(0,1) draws and a
short calculation. I'll put a link in here and leave it as a new dev issue
when I find the procedure again.

On Sat, Apr 22, 2017 at 10:59 AM bgoodri <notifications@github.com> wrote:

[2017-04-22 15:45] bgoodri commented on #527
Yeah, that paper is by Mudholkar and Hutson.

On Sat, Apr 22, 2017 at 11:34 AM, Krzysztof Sakrejda <
notifications@github.com> wrote:

[2017-04-22 17:16] sakrejda commented on #527
Here's the thing I ran into---didn't check if they're matching
parameterizations: http://azzalini.stat.unipd.it/SN/faq-r

On Sat, Apr 22, 2017 at 11:45 AM bgoodri <notifications@github.com> wrote:

[2017-04-22 22:05] #524 closed

[2017-04-24 20:05] bob-carpenter commented on #528
I'll take this one.  Should be fast, as in a few hours.

[2017-04-24 20:08] bob-carpenter commented on #528
Also note that edited out mixed mode tests in `stan-dev/math/.travis.yml`

[2017-04-25 16:30] sakrejda commented on #525
Victory!
[d_gamma_p_da.pdf](https://github.com/stan-dev/math/files/955767/d_gamma_p_da.pdf)

[2017-04-25 21:07] bob-carpenter opened #534 "remove redundant fvar constructors"
#### Summary:

Remove unnecessary constructors in `fvar<T>` and bring all the other code up to the point where they're not needed.

#### Description:

Right now, we have constructors like

[code]

They're currently needed because we have bad code in functions like `quad_form_sym` that promote `double` values to the `T` in `fvar<T>` rather than using double arithmetic.

In general, we should only n

[2017-04-26 07:15] wds15 commented on #525
+1

[2017-04-26 14:53] #528 closed

[2017-04-26 18:03] bob-carpenter commented on #514
fixed with #530

[2017-04-26 18:03] #514 closed

[2017-04-26 18:33] bob-carpenter commented on #498
@rtrangucci:  Could you rewrite this issue to clarify the distinction between `mdivide_left_tri` and `mdivide_left_tri_low`?  I don't see a file `rev/mat/fun/mdivide_left_tri_low.hpp`, so I'm not sure what you think should be getting called.

A couple other points:

* there's nothing wrong with the templating in `prim/mat/fun/mdivide_left_tri_low.hpp`.
* argument-dependent lookup just "uses" any d

[2017-04-26 18:41] bob-carpenter commented on #67
I just verified this is no longer an issue as of RStan 2.15.

[2017-04-26 18:41] #67 closed

[2017-04-26 18:50] bob-carpenter commented on #83
`lkj_corr_cholesky_lpdf` no longer does this.  I'm going to close this pending other examples.  But there is a `L.diagonal().tail(Km1).array().log()` operation which will be calling the `log()` from Eigen rather than our vectorized `log(L.diagonal().tail(Km1))`.  I don't know how we manage to autodiff through their implementation or if it calls our `log()` for `var` underneath.

[2017-04-26 18:51] bob-carpenter commented on #88
They also don't need all those `stan::math` qualifications.  I'm a little reluctant to take on some of these issues because they involve massive code reviews.

[2017-04-26 18:59] bob-carpenter commented on #102
This seems like a major issue.  @rtrangucci --- it sounds like you figured out how to fix this --- would you mind putting the fix in the form of a pull request?  Or saying a bit more about what you mean by "change order".  I'm happy to do the mechanical bits, but that's an incredibly complicated fixture.  I'm upping the due date to the next release.

[2017-04-26 19:14] bob-carpenter commented on #203
Ah, because it's a block, the copy still lets you assign.  I'm going to change to a reference anyway as it'll be more efficient.

[2017-04-26 19:33] bob-carpenter commented on #218
Ben's function is no longer included in the file, so you need to track down this:

https://github.com/stan-dev/rstanarm/blob/master/inst/chunks/bernoulli_likelihoods.stan

to find the definition of `ll_bern_lp`:

[code]

But I don't see the relevance---it doesn't call any of our functions.  That's an odd function in that it works through side effects on target (which may already be nonzero when it

[2017-04-26 19:41] bob-carpenter commented on #218
I just ran a bunch of informal tests and everyting's fine with log odds as low as -10000 or as high as 10000.  If there's a specific problem someone has with a reproducible example, please reopen.

[2017-04-26 19:41] #218 closed

[2017-04-26 22:28] rtrangucci commented on #498
@bob-carpenter the original version of the issue had a typo. The `prim/mat/fun/mdivide_left_tri_low.hpp` calls `mdivide_left_tri` internally. There are both `rev` and `prim` versions of `mdivide_left_tri`, but the  `rev` version doesn't get matched when `prim/mat/fun/mdivide_left_tri_low.hpp` is called on a matrix of `var`s

[2017-04-27 17:28] bob-carpenter commented on #498
Thanks.  I'll try to tackle this.

[2017-04-28 19:09] bob-carpenter commented on #426
This is a much bigger issue.  When you're in a namespace, you don't need the namespace qualification.  I'll go through and get rid of all the using statements of the form `using stan::math::X;` and all the qualifications `stan::math::`.

[2017-04-28 19:50] #534 closed

[2017-04-29 02:20] bob-carpenter commented on #498
The problem is that in `rev/mat/fun/mdivide_left_tri.hpp` we have

[code]

whereas in `prim/mat/fun/mdivide_left_tri.hpp` we have:

[code]

The call from `prim/mat/fun/mdivide_left_tri_low.hpp` explicitly specifies the primitive version by calling

[code]

No way to instantiate the reverse mode with that explicit call because it doesn't have the `T1` and `T2` template parameters.  There are two wa

[2017-05-01 20:25] bob-carpenter opened #541 "C++11 alignas instead of our existing hack"
#### Summary:

Now we malloc and check for alignment. C++11 provides an `alignas` mechanism where we can guarantee alignment on `double`.

#### Current Version:
v2.15.0

[2017-05-01 23:53] bob-carpenter opened #542 "Update to Eigen 3.3.3"
#### Summary:

Update to Eigen 3.3.3.

#### Description:

Matches RcppEigen and enables some later code simplifications of blocks in place to support both 3.2.x and 3.3.x.

#### Current Version:
v2.15.0

[2017-05-02 15:52] bob-carpenter opened #543 "tensor product"
#### Summary:

From @betanalpha
C_{ij} = sum{m, n = 1}^{N} A_{imn} B_{jmn}

#### Description:

In Stan code:

[code]

with calling:

[code]

We could write analytic derivatives for `sum(matrix .* matrix)` to cut down on memory usage.  I don't know if we can piggyback on any of the Eigen tensor operations to make it more efficient.  Lots of memory blocking issues here in how to do that sum and elem

[2017-05-03 15:53] joincamp opened #545 "Feature Request: Boost dependencies should be modular"
#### Summary:
The boost super-library is included, but only a few modules appear to be used. This super-library is very large, and makes it hard to deploy stan(pystan in my case) to architectures that have size limitations (AWS lambda in my case). Rather than using the full super-library, only the necessary modules should be included.

#### Description:
It appears that only the following boost mod

[2017-05-03 18:41] bob-carpenter commented on #545
Thanks for the request and tips about Boost.  I didn't even know they'd done that---we've been using it since before it moved to GitHub and I haven't really paid attention to their version control software.

Any recommendations for integrating with the submodule structure that we already have:  CmdStan, RStan, PyStan depend on Stan depend on Math.  Stan uses phoenix as part of the parser, for inst

[2017-05-03 19:03] bgoodri commented on #545
mkdir -p /tmp/boost_1.62.0

cd /path/to/stan_math

find stan -name \*\.\[ch]pp -exec bcp --scan --boost=lib/boost_1.62.0 '{}' /
tmp/boost_1.62.0/ \; &> /tmp/boost_1.62.0/bcp.log

cd /path/to/stan

find src -name \*\.\[ch]pp -exec bcp --scan --boost=/path/to/stan_math/lib/
boost_1.62.0 '{}' /tmp/boost_1.62.0/ \; &> /tmp/boost_1.62.0/bcp.log

On Wed, May 3, 2017 at 2:41 PM, Bob Carpenter <notificati

[2017-05-03 19:32] joincamp commented on #545
@bob-carpenter that's an interesting point about the boost libs getting used in stan as well as math. I didn't realize that would be the case. My own use case must be a corner case that doesn't use that subset of functionality in stan.

@bgoodri since you already ran that, do you mind telling me the /tmp/boost size vs the ./lib/boost size?

[2017-05-03 19:59] ariddell commented on #545
I'm happy with culling parts of boost if it can be done reliably and automatically.

@joincamp the binaries (or Python extension modules) that Stan generates can be rather big. For example,
``_api.cpython-35m-x86_64-linux-gnu.so`` which wraps stanc is 188M. I'm not sure removing parts of boost from the source will make any dent in that. What exactly is the size/memory limit you're hitting?

[2017-05-03 20:21] joincamp commented on #545
@ariddell I'm a few levels removed from this, so I'm trying to make sense of it. I'm using the project https://github.com/facebookincubator/prophet which depends on pystan. I'm trying to make this all fit into a deployable package to run on AWS lambda. There are some strict limitations on uncompressed disk usage, and when I investigated the site-packages directory in my python virtual environment

[2017-05-03 21:01] seantalts opened #546 "Refactor OperandsAndPartials"
#### Summary:
The intention here is to make the resulting class easier to understand and to add multivariate support.

[2017-05-03 21:18] ariddell commented on #545
Boost is certainly a heavy hitter.

[code]
If prophet uses a fixed model you could probably throw away all the source (and _api).

[2017-05-03 21:44] joincamp commented on #545
That should be perfect. It uses pkl files for the models.

[2017-05-04 00:09] bgoodri commented on #545
On Wed, May 3, 2017 at 3:32 PM, joincamp <notifications@github.com> wrote:

66M vs. 139M

[2017-05-04 03:32] randommm commented on #24
@rtrangucci hi, I'm interested in tackling this issue but since you are assigned to it, I better ask if you are not already currently working on this.

[2017-05-04 13:56] bob-carpenter commented on #545
70MB is better than 140MB, but still seems ridiculous given how few functions in
Boost we call!  It's a nest of package-level includes.

- Bob

[2017-05-04 13:58] bob-carpenter commented on #545
We don't need googletest at runtime, just for dev.

- Bob

[2017-05-04 13:59] bob-carpenter commented on #24
You might want to hold off a few days until the new operands and partials is merged.  It's going to change the way we do all these a bit (make it easier, especially for multivariates).

[2017-05-04 14:28] ariddell commented on #545
gtest and cpplint are already excluded from the PyStan distribution.

[2017-05-04 14:37] joincamp commented on #545
Looks like 10M of that is logs too, the actual boost dir is only 55M.
[code]

[2017-05-04 18:02] #542 closed

[2017-05-04 19:19] #498 closed

[2017-05-04 20:04] syclik opened #548 "integrate_ode: bad_alloc in ODE model"
#### Additional information

`integrate_ode_bdf` does not handle errors properly. There are some errors from within the integrator that crashes CmdStan, which will probably crash R through RStan.

_From @virgile-baudrot on April 12, 2017 14:1_

#### Summary:
In functions for ode integration, the following code do not compile but do not return error as it could be expected but a "std::bad_alloc".

[2017-05-04 20:04] syclik commented on #548
_From @bob-carpenter on April 12, 2017 17:3_

Can you run other Stan models?

[2017-05-04 20:04] syclik commented on #548
_From @virgile-baudrot on April 13, 2017 6:59_

Yes. I can run Harmonic Oscillator example (and others also), but without the "error" I introduced here with `nb_eq`.

[2017-05-04 20:04] syclik commented on #548
_From @wds15 on April 13, 2017 12:30_

the Stan model is wrong... the nb_eq is never initialized inside the ODE RHS functor. The model should run ok with declaring

int nb_eq = 2;

inside the ODE RHS functor. Note that the variables in the data block are not globally available. You can use the x_i argument to pass integer data around.

That said, I haven't run the model, so the error message could

[2017-05-04 20:04] syclik commented on #548
_From @virgile-baudrot on April 13, 2017 15:27_

Yes. Actually, I did this mistake in the model, but had some difficulties to find the error because of the message.

[2017-05-04 20:04] syclik commented on #548
_From @sakrejda on April 28, 2017 17:26_

Could we catch stuff when values are not initialized properly to give error messages?

[2017-05-04 20:04] syclik commented on #548
I saw this in the wild not too long ago. Last I saw, it happened when some
of the returned dy_dt were NaN.

We certainly can stop this by adding more checks. We need to think through
how the error handling is propagated, but it can be handled. (I believe on
an earlier implementation there were checks in place. It's one of the
reasons I'm all for putting checks in place. It saves so much more heada

[2017-05-04 20:04] syclik commented on #548
_From @bob-carpenter on April 28, 2017 18:21_

Is this the CVODES or Boost integrator?  Can we file an issue with them not to go bonkers when given NaN values?

We have lots of layers of wrappers where we could brute force the check.  Probably not a big performance overhead.

[2017-05-04 20:04] syclik commented on #548
_From @wds15 on April 30, 2017 9:24_

I don't think that checking every ODE RHS evaluation is a good thing as it gets called really often and should add some performance overhead which all users have to pay always.

A good compromise is to call the ODE RHS in the integrate_* function with the initial state. Then we check if the initial dy_dt at t=t0 has the correct size and is not NaN. This would

[2017-05-04 20:04] syclik commented on #548
That may catch the reported case, but there's also an issue if the array is the correct size, but elements are `NaN`. Given users are defining functions, we should be safe.

What you're suggesting can't work with the current function implementation. That said, nothing is impossible, so if you have a proposal that makes sense, I'm sure we're all willing to hear it out.

I completely disagree. It's

[2017-05-04 20:04] syclik commented on #548
_From @wds15 on May 2, 2017 7:42_

Well, I would be surprised if extra checks are for free (array bound checks are also disabled for a reason in std::vector or Eigen) - in a Stan run you get at the order of 10^6 integrations easily. Each integration sweep can easily again trigger 10^6 calls to the ODE RHS. That's a lot with about 10^12. Let me prepare an example to play with and we check the overh

[2017-05-04 20:04] syclik commented on #548
_From @bob-carpenter on May 3, 2017 3:48_

@wds15  Would you mind creating an issue or discourse thread for discussing your proposed unsafe mode?   It's off topic on this issue.  Thanks.

[2017-05-04 20:04] syclik commented on #548
_From @bob-carpenter on May 3, 2017 3:50_

Back to the original point, we don't want to be throwing uncaught exceptions back to users at runtime or crashing their R sessions (at least until they've signed a waiver and we've given them keys to Ben and Sebastian's unsafe mode).

[2017-05-04 21:05] bob-carpenter commented on #548
Just copying example out of @virgile-baudrot's original tar.gz form:

[code]
and then the driver

[code]

[2017-05-05 12:03] ariddell commented on #545
For the record, here's what PyStan trims during release. Suggestions for additions would be welcome. If there are parts of boost we're certain are not going to be used, we can, at least, stop distributing a copy.

[code]

(from MANIFEST.in)

[2017-05-05 18:26] #203 closed

[2017-05-06 17:56] syclik commented on #548
Here are a few programs that require no data that have really bad behavior. I'm including some of the relevant output.

# Stan program 1

[code]

## Output
Depends on the run. It will either crash or complete, but reject everything with an error pointing to the wrong line.

**CRASH**
[code]

or

[code]

# Stan program 2
[code]

## Output
[code]

# Stan program 3
[code]

# Output
[code]

[2017-05-06 18:02] syclik commented on #548
I think we need to add these to our tests. We should also add these with `integrate_ode_rk45` instead of `integrate_ode_bdf`. I'm not exactly sure where to add them to make most sense. They might belong in `math`.

@wds15, I've just added you to the assignee list. Hopefully you can look at this and figure out a way to trap the error from Sundials so we can report a nicer error message. Errors like

[2017-05-06 18:04] syclik commented on #548
I just realized the original post had an error that should affect all our functions. @bob-carpenter, wouldn't that potentially be a problem everywhere? I wasn't able to trigger the `bad_alloc` exception, but I think it's very possible for this to happen.

[2017-05-07 09:16] wds15 commented on #548
The original post is probably more general than just ODE code.

Wrt to the error message from integrate_ode_bdf I agree that these are not the most informative ones, but they make it clear where the error has to come from. We are using a C library here which reports the errors using codes. These codes are all documented in the user manual of cvodes. I do think that all is fine; maybe we should add

[2017-05-07 16:23] bob-carpenter commented on #548
@syclik --- is there a simple test case?  I can't see what the problem is with functions per se.

[2017-05-07 16:28] bob-carpenter commented on #548
Is it just this causing problems:

[code]

@mitzimorris:  what's up with initialization now?  Can this be fixed by replacing

[code]

with

[code]

in the generated code for types `foo`?

[2017-05-07 20:45] syclik commented on #548
The simple test case is the first one that I highlighted. That one crashes CmdStan. I'm pretty sure it'll crash R through RStan, but not absolutely sure.

[2017-05-07 23:27] bob-carpenter commented on #548
First one where?  This doesn't crash RStan on my Mac:

[code]

[2017-05-07 23:30] bob-carpenter commented on #548
Is there a test case that doesn't involve calling the ODE solver?  I was asking because of the comment by @wds15 https://github.com/stan-dev/math/issues/548#issuecomment-299692435

[2017-05-09 01:36] syclik commented on #548
@bob-carpenter, I'll try to come up with a separate example. I should be able to generate one.

[2017-05-09 02:00] syclik commented on #548
@bob-carpenter, I can't get the `bad_alloc` exception to trigger. I tried to create a function that allocated a really large amount of memory, but it looks like the Mac will allow for it.

@virgile-baudrot, what operating system and what interface are you using?

[2017-05-09 15:52] davidmanheim commented on #123
This should allow using eigen for finding arbitrary eigenvalues, (i.e. for nonsymmetric matrices,) right?

So if/when this project is done, it would be nice to provide that functionality to STAN as well.

[2017-05-09 16:28] bob-carpenter commented on #123
@davidmanheim  We could already implement something that returned the complex and real components.  The complexity comes in from trying to extend derivatives for functions of complex variables.

[2017-05-09 19:19] bob-carpenter opened #551 "thread local option in C++11 for autodiff memory"
#### Summary:

Enable each thread to run its own autodiff for multi-threaded model log density and gradient evaluation.

#### Description

C++11 now has a thread local option, which we can use to allow models to be used in a multi-threaded environment (one model per thread, that is).

We want to do this in a way so that they are ifdef-ed out when not in use as there's a performance overhead (which

[2017-05-09 21:19] syclik opened #552 "integrate_ode_bdf can provide non-sensical results"
#### Summary:
`integrate_ode_bdf()` may produce non-sensical results to the user.

#### Description:
A model with `integrate_ode_bdf()` may complete and return results which may be non-sensical. It may also error, depending on what's in memory.

This is also not reproducible. Run to run with the same seed differs because it's memory dependent.

#### Reproducible Steps:
From CmdStan, if you run thi

[2017-05-10 07:26] wds15 commented on #552
I can work on this. I think the issue is that wrong sizes are not cleanly enough being checked. I suggest to add a check which will once do the check, i.e. for the initial state inside the integrate_ode_bdf.

That would address this issue. Is this strategy OK with everyone?

[2017-05-10 09:06] virgile-baudrot commented on #548
I'm on linux (ubuntu 4.4.0-75-generic - x86_64-pc-linux-gnu) and I use R (now R version 3.4.0 (2017-04-21), but when I posted the message, it's the previous one).

[2017-05-10 11:46] syclik commented on #552
Great. I think that's the right thing to do. We can assume that the ode function won't dynamically allocate size dependent on the iteration.

[2017-05-10 11:51] syclik commented on #548
Thanks! That's helpful. I think we might be able to trigger a memory allocation limit either through R/RStan or maybe through Linux.

Mind running something for me? Can you create a function that declares an int and print that int? It doesn't need to be within an ode. Something like:
real foo() {
  int N;
  print("N = ", N);
  return 0;
}

Thanks.

[2017-05-10 15:48] bob-carpenter commented on #552
I don't think checking the size of an array every step will induce measurable overhead if we're already computing the derivatives and filling them.  So why only test once?  I'd really like to aim for a design that can't crash its environment---that's really unacceptable in my mind for an app.

[2017-05-10 16:19] betanalpha commented on #552
We should test at the beginning of integrate_ode which wraps the
explicit integrator calls.  Inside integrate_ode the sizes should not
change no matter what crazy things the user might do so that should
be safe enough.

[2017-05-10 16:24] syclik commented on #552
Should and can't are different things. I thought about it and realized that someone could have size dependent on parameter values. It would most certainly be an error, but it's possible.

I'd say put in the check and time the difference between every step and just once up front. My guess is that it won't be measurable and if so, we keep it in so we can help users trap errors quicker.

[2017-05-10 16:31] betanalpha commented on #552
Huh?  Are you talking about dynamic allocations within the input functor?

Even then it wouldn’t matter as the integration within integrate_ode is
all conditioned on the given value of theta, x_r, and x_i so one evaluation
of the functor will trigger any problems.

[2017-05-10 17:14] syclik commented on #552
Gotta have some imagination! There is a way to dynamically set the size of the return array that's different from function call to function call. Not easy, but possible. It would definitely be a user error. A single function call won't always pick up on the error.

[2017-05-10 17:21] betanalpha commented on #552
Example?  Non-determinism like this would screw up our entire code base.

[2017-05-10 18:24] bob-carpenter commented on #552
I think what @syclik is imagining is

[code]

So we need to make sure the return of our ODE system function is the right size if it not being the right size will mess up CVODES in an unrecoverable way.

[2017-05-10 18:33] syclik commented on #552
Thanks, Bob! Yes, something like that. It would clearly be an error, but I could see someone making a coding error as we have general includes. Someone (and this is a TERRIBLE idea) might want to have one ODE function that handles 2, 3, 4, 5 compartment models and wants to branch on an input. If this person makes a mistake and branches on the parameter value instead of some data element, this coul

[2017-05-11 07:08] wds15 commented on #552
In the performance tests which I have done, I do show that with enough load on a CPU then these checks start to be visible. Remember that the ODE RHS is call really often... about 10^6 ode solves per Stan run at least and the same order of magnitude per solve for calls to the RHS.

Testing the size correctness in the integrate_ode_bdf function on the inital makes a lot of sense as only then a mean

[2017-05-11 10:31] syclik commented on #552
We can discuss at the meeting, but this decision isn't going to be a democratic one. We are currently behaving really poorly with raw memory buffers that have been passed to an external C library. We're allowing users to inadvertently stomp on memory that doesn't belong to them. Speed is a second order concern. It's still a concern, but one we should address after we find a solution to this issue.

[2017-05-11 15:10] syclik opened #553 "Add top level LICENSE file"
#### Summary:
Move the repo license to the top level.

#### Description:
See: https://help.github.com/articles/adding-a-license-to-a-repository/

This will have GitHub automatically display the license information on the repo website.

[2017-05-11 15:46] sakrejda commented on #552
I'm with Daniel on this one (can't make the meeting).  10^6 size checks is
not much compared to crashing with obscure messages.  People will ditch
software for that reason alone (even if it "looks buggy") and if I had a
dime for every advanced user (me included) who shot themselves in the foot
and wasted hours trying to figure out why I'd be rich.  I don't understand
how it could be a measurable f

[2017-05-17 15:04] virgile-baudrot commented on #548
Not sure about what you exactly wanted, but here is the output:

FOUND AT line 1:
real func() {
  int N;
  print("N = ", N);
  return 0;
}
Error in checkForRemoteErrors(lapply(cl, recvResult))

[2017-05-17 15:39] seantalts opened #555 "Remove fvar<double> and fvar<fvar<double>> tests"
#### Summary:
We don't actually care about forward mode autodiff with doubles under the hood; we only use the forward mode system for higher order autodiff (and reverse mode `var`s under the hood). We discussed in one of the Stan meetings that we should be able to remove all of the fd and ffd probability distribution tests, which I estimate will cut down the distribution test time from ~6 hours to

[2017-05-17 16:00] bob-carpenter commented on #555
We *do* care about `fvar<double>` and `fvar<fvar<double> >` for the math library.

If you're just looking at what's available through the interfaces, that's only reverse mode.

I'm starting a pass through the math lib and will generalize the tests.  I will try to make them configurable so you can turn on/off different instantiations in the tests.

I don't mind testing these more intermittently, bu

[2017-05-17 16:11] seantalts commented on #555
We're planning to one day use forward mode to compute Jacobians? In what context?

[2017-05-17 17:36] betanalpha commented on #555
You mean directional derivatives?  That’s all fvar<double> will give you.

[2017-05-17 18:22] bob-carpenter commented on #555
Inside the ODEs, we use nested reverse mode in a couple
places to compute Jacobians (need them for system w.r.t. parameters
derivatives to compute the coupled solver and for the stiff solver
to compute that and the system Jacobian for controlling steps).

- Bob

[2017-05-17 18:26] bob-carpenter commented on #555
The important thing is that it gives you multivariate directional derivatives.

If you have f:R^N -> R^M, then

* one pass of forward mode gives you d/dx[n] f(x)[m] for a single n in 1:N and all m in 1:M
* N passes of forward mode gives you the entire N x M Jacobian

This can be generalized to give you directional derivatives, but I don't think we ned that in the ODE solver.

In contrast,

* one p

[2017-05-17 18:30] betanalpha commented on #555
Currently the ODE solver uses reverse mode for computing
the system Jacobian.

Are you arguing that you want to preserve fvar<double> in
case we want to compute more Jacobians with M >> N or
even replace the current ODE Jacobian code with forward
mode?

[2017-05-17 18:58] bob-carpenter commented on #555
Not so much arguing as conjecturing that forward mode would be a lot faster.  It's purely compiled, so it has a huge advantage.  I'll test that, of course.

But like I said, I'm OK with option (2), which is turning off all the forward-mode testing on our normal pull requests.  I'm working right now on adding a general forward-mode test framework, but we could isolate it somehow if you think it's w

[2017-05-17 22:39] bob-carpenter opened #557 "fvar testing framework"
#### Summary:

Create a test framework for functions based on legal arguments and values that will test all the derivative combinations.

#### Description:

There's an example already for unary vectorized functions.

Ideally, I'd like functions to look like this:

[code]

I'm hoping that by using the test factory function `tester()` we can set up the tester via type inference;  otherwise we'll hav

[2017-05-18 18:07] seantalts commented on #546
Copying from https://github.com/stan-dev/stan/issues/2252
* The class partials_variin OperandsAndPartials.hpp is redundant and should be replaced by including and using precomputed_gradients.hpp
* reuse d_xN in d_x(N+1) rather than recomputing
* replace all_varis allocation with direct calls to array_alloc rather than roundabout vari::operator new calls

[2017-05-21 08:55] patwangx opened #558 "STAN AutoDiff runs slower and slower."
#### Summary:

The same code runs slower and slower.

#### Description:

I wrote a piece of code to test the AutoDiff of STAN Math Lib.
The code are run in a loop for 1000 times.
The computing time for each loop increases.

#### Reproducible Steps:
[code]
#### Current Output:

Times for first ten loops:
1.5
0.2
0.1
0.2
0.2
0.1
0.1
0.1
0.7
0.2
And for last ten loops:
5.2
5.3
5.3
5.6
5.3
5.3
5.3
5.4

[2017-05-22 07:00] bob-carpenter commented on #558
You are missing a `recover_memory()` call after `grad()`.  To see how the memory works and how to call our autodiff, see one of

* the arXiv paper:  https://arxiv.org/abs/1509.07164

* the implementation of gradients in `stan/math/rev/mat/functor/gradient.hpp`

In fact, we recommend users stick to our functions wherever possible because all the memory and autodiff types are encapsulated.

Given th

[2017-05-22 07:00] #558 closed

[2017-05-22 16:28] davidmanheim commented on #123
If you can already make a change to the current implementation to allow finding eigenvalues to nonsymmetric matrices, that would be helpful for me at least...

[2017-05-22 16:39] bob-carpenter commented on #123
@davidmanheim --- We could probably do that.  Would you mind opening a separate more limited issue for just eigenvalues of non-symmetric matrices?  What do you expect to get as a return (that is, what's the signature as a Stan function in terms of argument and return types) and what do you expect the derivatives to be w.r.t. the inputs.

[2017-05-22 18:29] bgoodri commented on #123
We cannot do that because the eigenvalues of non-symmetric matrices are
generally complex and we cannot autodiff that. Request the
pseudo-eigendecomposition, which is (or could be) done with only real
numbers.

On Mon, May 22, 2017 at 12:39 PM, Bob Carpenter <notifications@github.com>
wrote:

[2017-05-22 18:48] bob-carpenter commented on #123
What's the use case here?  It might help to start with that and work down (I have a blog post on that scheduled for tomorrow!).

I assume the problem with returning complex numbers, even as two separate arrays of components, is that we can't just operate on the imaginary component without bringing in proper complex derivatives, which we don't have.

Are there situations where users are only going

[2017-05-22 18:55] davidmanheim commented on #123
My use case is actually fairly simple. In infectious disease modeling, I'm hoping to generate the largest eigenvalue of the non-symmetric "next generation matrix" - which, under reasonable assumptions, is always real - even if other components are not.

So yes, I only care about the real component. I'm unsure if that's a really unique use case, or if others would find this useful as well.

[2017-05-22 19:11] sakrejda commented on #123
even in those population models the imaginary components of sub-dominant
eigenvalues are related to transient oscillations so I don't know that
there's much of an argument for ignoring them in general.  It's easier to
find the dominant eigenvalue than anything else so I wonder if a good
compromise for David's use-case might be a function that just extracts the
dominant eigenvalue (and throws if it

[2017-05-22 20:14] bgoodri commented on #123
It is difficult to ignore the imaginary component because it causes a
segfault. I think we should static_assert on the var constructor for
complex double once we get to C++11. The pseduo-eigendecomposition suffices
for the "I am only interested in the real eigenvalue(s)" use case and the
"All the eigenvalues are real, I promise" use case.

On Mon, May 22, 2017 at 2:48 PM, Bob Carpenter <notificati

[2017-05-23 03:19] bbbales2 commented on #123
How much of a C++ fan are you David? There's some stuff with cmdstan that
you can hook in some C++ code that interfaces with the autodiff. I've used
it a couple times now and it works pretty slick.

If the parameter here is real, then the derivative of the largest
eigenvalue with respect to this parameter should be possible to get at
analytically (eq. 14 here
http://www.win.tue.nl/analysis/reports

[2017-06-06 12:19] #552 closed

[2017-06-07 00:17] bgoodri opened #560 "lgamma returns NaN when given a negative integer but should return Inf"
#### Summary:

`lgamma(-1)` returns NaN, which is documented and what Boost does but stupid

#### Description:

The limit of the Gamma function as its argument approaches a non-negative integer is + / - infinity depending on whether you approach from the right or the left. The C++11 version of lgamma returns positive infinity, as does R. We should switch to the C++11 version of all these functions

[2017-06-09 14:02] sakrejda opened #561 "Clang 4.0.0 fails tests that _should_ fail already"
#### Summary:
Some tests us `nan` without defining it so (as @bbbales2 noted) the function gets pulled in from somewhere and the tests pass for whatever reason.

#### Description:
Short diff of the fix:

[code]

#### Reproducible Steps:
Use clang++ 4.0.0 for your compiler and run:

[code]

#### Current Output:
Test failures on the above two tests.

#### Expected Output:
Passing tests

#### Additio

[2017-06-13 18:22] bob-carpenter commented on #555
I'm closing because we don't want to do this.

[2017-06-13 18:22] #555 closed

[2017-06-13 18:23] bob-carpenter commented on #546
Done with pull request #547

[2017-06-13 18:23] #546 closed

[2017-06-14 05:50] stephensrmmartin opened #563 "Request: Skew-t, multivariate skew-normal, multivariate skew-t"
The skew-normal distribution is available in Stan.
The skew distributions are generally of the form:
2*f(x; theta)*F(z_x * alpha; theta_z)
where f is a pdf and F is a cdf.

Thus, the [log] skew-t can be implemented as:
log(2) + student_t_lpdf(x | nu, xi, scale) + student_t_lcdf(alpha * (x - xi)/scale | nu, 0, 1)

This is likely inefficient. Moreover, the multivariate skew-normal and skew-t are ava

[2017-06-14 21:02] ahartikainen commented on #434
Hi,

I did some testing with MSVC 14 (2015) / 14.1 (2017).  I could not get this working yet. This is a compiler bug, but I tried to surpass that.

It looks like precompiler on MSVC can not deduce the correct type from functions and custom types. Does it only check one step backwards? The real reason is probably something more complicated.

On Eigen site there is an article:

It says in the page t

[2017-06-15 04:42] bob-carpenter commented on #434
@ahartikainen I couldn't follow the last comment.  What is the table supposed to be and what are teh numbered parts after it?

Before we throw a lot of resources down this rabbit hole, is there a reason we need to compile with MSVC?

[2017-06-15 04:43] bob-carpenter commented on #434
I also believe Eigen itself is having problems with MSVC compatibility.

[2017-06-15 17:24] seantalts commented on #434
@ariddell As far as you know, should PyStan work on Windows with Python3? I think @ahartikainen is having an issue here where he is not able to get it to work and I can't tell if it's because he's using a non-standard installation?

[2017-06-15 18:42] ariddell commented on #434
PyStan works fine on Windows with Python 3.5 and higher. We have CI testing (appveyor) of all commits.

[2017-06-15 18:48] ariddell commented on #434
I can't imagine why something would work in cmdstan on Windows but not on PyStan on Windows. If this is the case it's a bug against PyStan.

One way to debug this would be to create a PR with a test which should fail because of the bug and have appveyor test it. I find this easier than installing windows in a VM.

[2017-06-15 18:56] ahartikainen commented on #434
@bob-carpenter, the table shows if I can compile C++ code generated with `pystan.stanc` and then run with `pystan.StanModel(stanc_ret=...)`. I have changed only the line 245.
This table shows that it is the line 245 that causes the compilation error on Windows. I did test with different components (`matrix`, `vector`) and some will work (example `multiply(A, x)` which uses `Eigen::BaseMatrix<deriv

[2017-06-15 19:11] bob-carpenter commented on #434
Thanks---just what I was asking.

Sounds like more motivation to produce a standalone Stan server based on a more robust C++ toolkit (like the Rtools distribution of g++ for Windows).  But even that C++ toolkit is terrible compared to running on Mac OS or Linux---it's prone to blow out memory during linking, crash during compilation with segfaults on any but a single optimization level, etc. It's

[2017-06-20 21:55] depet commented on #545
@joincamp, I have exactly the same issue. Do you mind to share a list of modules that you removed from the boost library or any other libraries. It seems you somehow managed to reduce the size of `pandas` and `numpy` libraries as well.

[2017-06-21 14:59] joincamp commented on #545
@depet I ran through some general cleaning procedures that I found elsewhere. It basically amounted to removing .pyc files, documentation, and tests.

Here is a gist of the files in my gist distributable. Maybe you can diff it to yours to get an idea of what you might be able to remove.

https://gist.github.com/joincamp/69f32ee84ef1eb9c1dfac2c5b4449739

[2017-06-21 15:06] joincamp commented on #545
@depet https://medium.com/@maebert/machine-learning-on-aws-lambda-5dc57127aee1

[2017-06-21 15:09] depet commented on #545
Thanks a lot @joincamp - much appreciated.

[2017-06-21 17:09] mbrubake opened #564 "von Mises distribution fails for kappa=0"
#### Summary:
The von Mises distribution returns a non-finite value when kappa=0.  This should result in a uniform distribution and likely needs to be special cased.

#### Reproducible Steps:
The following model should produce a uniform distribution of test_var but instead, fails at initialization:

[code]

#### Current Output:
[code]

#### Expected Output:
Should sample easily and produce a unifo

[2017-06-21 19:07] bgoodri commented on #564
I have this reworked on a branch

On Wed, Jun 21, 2017 at 1:09 PM, Marcus Brubaker <notifications@github.com>
wrote:

[2017-06-21 20:23] bob-carpenter commented on #564
@bgoodri Is it a branch that you could turn into a pull request for this issue?  If not, is it a public branch?

[2017-06-21 21:16] bob-carpenter opened #565 "remove var_alloc_stack and associated pointers"
#### Summary:

* [ ] in `stan/math/rev/core/autodiffstackstorage.hpp`remove the member variable `AutodiffStackStorage::var_alloc_stack_`
* [ ] replace all the functions that depend on `var_alloc_stack_` with explicit allocations wrapped in `Map`
* [ ] add doc to the memory classes for reverse-mode autodiff

Also add documentation.

#### Description:

This will make the autodiff infrastructure simp

[2017-06-21 22:15] bgoodri commented on #564
Yeah, I can make push it as a public branch, but I still haven't
implemented your suggestions.

On Wed, Jun 21, 2017 at 4:23 PM, Bob Carpenter <notifications@github.com>
wrote:

[2017-06-23 22:10] wds15 commented on #548
I think this can be closed as we have now a size check of the ode rhs. Right? Or do we think that this issue is still required to keep track of?

[2017-06-24 04:44] syclik commented on #548
@wds15, this is a different error than the size check.

But, we haven't been able to reproduce, so closing the issue.

[2017-06-24 04:44] #548 closed

[2017-06-24 04:46] syclik commented on #548
@virgile-baudrot, thanks! If it occurs again, mind reopening or creating a new issue?

That last error message looked like it's coming from R/RStan, not Stan, but can't be certain remotely.

[2017-06-24 06:44] aaronjg opened #567 "Vectorize fma (fused-multiply-add)"
#### Summary:
Please provide a short couple sentence summary.
Most of the composed functions have been vectorized, however fused-multiply add and some of the others that take two arguments only take reals.

#### Current Version:
v2.16.0

[2017-06-24 17:01] bob-carpenter commented on #567
Thanks for putting this in as an issue.  I thought we had a general issue to vectorize all the scalar binary functions.  But I don't see it, so I'll leave this one here.

If someone wants to take them on one at a time before that, that would also work.  `pow` has been the most requested such function.

[2017-06-25 21:21] aaronjg commented on #567
Just saw a post on discourse about this as well. Is it part of this issue? https://github.com/stan-dev/math/issues/202

[2017-06-25 22:33] bob-carpenter commented on #567
Yes, #202 listed all the scalar functions at one point that might be vectorized.  `fma` has three arguments, so there'll be eight instantiations for each vectorized version in terms of autodiff types.

[2017-06-26 16:58] #346 closed

[2017-06-28 19:23] bob-carpenter opened #568 "test and doc `fwd/core`"
#### Summary:

Create the rest of the tests and docs for operations defined in `fwd/core` (and maybe more).

#### Description:

We need test and doc.

#### Current Version:
v2.16.0

[2017-06-28 22:32] bob-carpenter opened #569 "C++11 build infrastructure"
#### Summary:

As of 2.17, we're going to allow C++11 (and parts of C++14).  For that we need:

* [ ] all the build infrastructure to be updated to C++11/C++14 support

It'd also be nice to have:

* [ ] wiki with list of supported features across compilers we support (or a pointer to versions of compilers we require and some secondary pointers to what they support)

#### Description:

Need to do t

[2017-06-30 03:27] bob-carpenter commented on #45
For example, for the normal distribution, we would want to support these three signatures in Stan:

[code]
with broadcasting of the scalar to a vector.

Then we could also have
[code]
to generate N draws with a single pair of parameters.

[2017-06-30 03:34] stumarcus576 opened #570 "hessian.hpp O(N^2)"
#### Summary:
At the top of C:\msys64\home\stuma\math-develop\stan\math\mix\mat\functor\hessian.hpp, it says the Hessian is computed in O(N^2) time. I had thought that forward-over-reverse AD could construct the Hessian in O(N) time. Is there a Hessian implementation in Stan Math which is O(N)?

#### Current Version:
v2.16.0

[2017-06-30 03:41] bob-carpenter commented on #570
The Hessian can't be O(N) because the output is size N^2.

The algorithm does N reverse-mode nested in forward-mode passes, one for each argument position `n in 1:N`.  In each of those `N` passes, you get a derivative `d/d.x[n] f(x)` out of forward mode using reverse-mode scalars, then you run reverse mode from there to get `d/dx[n] d/dx[i] f(x)` for all `i in 1:N`---essentially a row of the Hessi

[2017-06-30 03:41] #570 closed

[2017-06-30 13:07] seantalts commented on #569
Here's the first draft of a wiki I made during our C++11 meeting: https://github.com/stan-dev/stan/wiki/Supported-C---Compilers-and-Language-Features

[2017-07-04 23:52] bbbales2 commented on #45
I opened a pull req. to get started on this: https://github.com/stan-dev/math/pull/573 . Hopefully I didn't go too far off the beaten path.

[2017-07-05 00:24] bbbales2 opened #574 "length function doesn't work with scalar_seq_views"
#### Summary:
This function:
https://github.com/stan-dev/math/blob/develop/stan/math/prim/scal/meta/length.hpp

Doesn't work with scalar_seq_views:
https://github.com/stan-dev/math/blob/develop/stan/math/prim/scal/meta/scalar_seq_view.hpp

length(a_scalar_seq_view) returns 1, regardless of the length of the actual underlying seq view. I think there needs to be a scalar_seq_view specialization adde

[2017-07-05 15:02] #93 closed

[2017-07-05 19:26] bob-carpenter commented on #45
I didn't realize you were working on this, as I just suggested to someone else that they work on it.  I'll try to fish out your email and respond that way as I don't know the other person's GitHub handle, so I can't call it out here.

[2017-07-05 19:27] bob-carpenter commented on #45
I will take a look when I get a chance, but I'm getting bombarded by people wanting me to look over code these days.

[2017-07-05 20:43] bbbales2 commented on #45
Haha, I wasn't working on it till yesterday -- it's no problem if the pull I made gets replaced. I was just getting annoyed at having to write for loops for things that in the model were nicely vectorized so I figured I'd give it a go.

[2017-07-07 17:37] ariddell commented on #551
This is a blocker for PyStan 3 (stan-dev/httpstan#21).

[2017-07-07 23:54] bbbales2 commented on #481
Appending lists of real, int, vector, row_vector, and matrix types is in place.

Still need to enable appending lists of lists of all these types.

For instance, it should be possible to do:

[code]

This should be possible based on previous discussion:
https://github.com/stan-dev/stan/pull/2343#issuecomment-313536628
https://github.com/stan-dev/stan/pull/2343#issuecomment-313697116

[2017-07-17 18:41] syclik opened #576 "Change makefile to use CXX instead of CC"
#### Summary:
We're not taking advantage of built-in C++ macros in GNU make.

We should fix it by replacing the uses of:
- `CC` with `CXX`
- `CFLAGS` with `CXXFLAGS`

#### Description:
There are built in macros in GNU make for C++. We should switch to using them. It should simplify the make process a bit.

There hasn't been a great time to switch the makefiles around, but I don't think we'll ever

[2017-07-26 17:01] bob-carpenter commented on #574
It helps to tag these things.  This is a new feature, not a bug, right?  That's how I labeled it.  I also put the milestone at future, because nothing currently depends on it.

Having said that, feel free to improve the behavior while making sure not to break any existing code which might depend on current behavior.

[2017-07-26 17:02] bob-carpenter opened #580 "zero length simplex causes std::bad_alloc"
_From @aaronjg on July 25, 2017 22:44_

#### Summary:
Allocating a simplex with 0 elements causes std:bad_alloc

#### Description:
int x = 0;
simplex[x] variable;
results in at run time std::bad_alloc

#### Current Output:
std::bad_alloc

#### Expected Output:
Either a zero length vector "variable," or a more informative error.

#### Current Version:
v2.16.0

_Copied from original issue: stan-dev/

[2017-07-26 17:02] bob-carpenter commented on #580
There aren't any size zero simplexes, because they have to add up to one.

We should catch zero size declarations for simplexes and throw an exception.  This has to be at runtime when we know the size.  I should also update the doc.

[2017-07-26 17:03] bob-carpenter commented on #580
I moved the issue to `stan-dev/math`, because the constraining transform needs to be instrumented to throw an exception.  Then the new line numbering @mitzimorris is putting in for declarations will locate the problem.

[2017-07-27 02:05] syclik opened #581 "Use implicit rules in the makefiles"
#### Summary:
We're currently not using the implicit C++ rules.

#### Current Version:
v2.16.0

[2017-07-27 13:45] mitzimorris commented on #580
verified that the new numbering does locate the problem.
program named `bad_simplex.stan`:

[code]
generates runtime error:
Exception: bad_simplex_model_namespace::bad_simplex_model: variable has size 0, but must have a non-zero size  (in 'bad_simplex.stan' at line 3)

[2017-07-27 14:29] bob-carpenter commented on #580
Awesome.  Nice side effect of the wider scope of the `try`/`catch`.   Closing.

[2017-07-27 14:29] #580 closed

[2017-07-29 00:39] syclik commented on #569
@seantalts, should we close this issue? It looks like we're done.

[2017-07-29 00:40] seantalts commented on #569
I think so too. Closing!

[2017-07-29 00:40] #569 closed

[2017-07-29 01:54] syclik opened #585 "Remove reviewer suggestions from pull request template"
#### Summary:
The pull request template has reviewer suggestions as a field. This is now part of GitHub and can be removed.

#### Current Version:
v2.16.0

[2017-07-29 02:01] syclik commented on #458
@bob-carpenter, from the original bug report, the `x` is the name of the variable. Any suggestions on how we can incorporate the variable name into the message?

[2017-07-29 03:18] syclik opened #587 "Fix messed up spacing"
#### Summary:
There's some weird spacing in the code base.

#### Description:
An example of weird spacing is from pareto:
[code]

We should remove the redundant white space. (There's the other issue that @bob-carpenter [brought up](https://github.com/stan-dev/math/pull/333#issuecomment-237293394) of tighter negations for less nesting, but I'll avoid that while fixing the spacing.)

#### Additional

[2017-07-29 14:16] #585 closed

[2017-07-29 14:50] bob-carpenter opened #589 "factor size zero tests into variadic function"
#### Summary:

There is code duplication in checking if any of the inputs to a probability funciton are size zero.    These should all be replaceable by a single variadic C++11 function.

#### Description:

The non-variadic version for three arguments would replace
[code]
with
[code]
defined in the fixed size case by
[code]
Distributing the negation through the conjunction leads to the simple recu

[2017-07-29 15:41] bob-carpenter opened #590 "convert std::stringstream message use to one-liners"
#### Summary:

We have a lot of code to convert to strings that uses `stringstream` as a builder:
[code]

I'm pretty sure this is OK as a one-liner:

[code]

Whether this is kosher comes down to whether the string produced by the stringstream persists through the statement, or if it could be collected when the expression is evaluated.  If it can be collected after the expression is evaluated, then

[2017-07-29 16:40] bob-carpenter commented on #458
You could either drop it into the generic message, or in the case of size zero entries, it could just say `error indexing empty container x` in the case where the size is zero.

[code]
I think there's some inconsistency throughout the code with whether we have `std::endl` at the end of all of our error messages or if we add them later.

[2017-07-29 17:51] bob-carpenter commented on #569
Great---does this mean we can have at C++ in our code now?

Is there anything in place to check that we don't exceed what's supported cross platform?

[2017-07-29 17:58] seantalts commented on #569
We have had C++ in our code for a long time ;)

Math supports C++11 but the upstream makefiles aren't ready yet, so I wouldn't start adding it. Daniel has another PR in process to start using some implicit targets. Once that's in I'll go ahead and update my PR for the Stan repo makefiles to begin including the relevant parts of the math repo makefiles such that they also begin to support C++11.

T

[2017-07-31 22:13] seantalts opened #592 "Conditionally compile cvodes"
#### Summary:
Most Stan programs don't require the cvodes library but we compile it for every model anyway right now.

#### Description:
I think we should figure out how much time we could save during model compilation by only compiling and linking against cvodes if its needed. I'm assuming specifying the cvodes library as something to include headers from and link against is basically free and th

[2017-07-31 22:14] seantalts commented on #592
@syclik Have you thought about this much at all? Curious what's already been learned in this area.

[2017-08-01 10:14] bob-carpenter commented on #592
Glad you're looking into this --- it needs to be sorted out anyway for dealing with GPU and MPI code in the near future.

[2017-08-01 17:47] syclik commented on #592
I've put a little thought into it. This is in the math repo, but I'm assuming the bigger issue is from the interfaces. I've already started the process for the math repo in the open pull request for implicit rules: #582.

In the math repo, the right way to do it using `make` is to add a dependency on the libraries for the cvodes headers within Stan. That's adding something like:
[code]
You can see

[2017-08-01 18:25] syclik opened #593 "Remove parens around equality checks"
#### Summary:
There are redundant parens around some equality checks. See @bob-carpenter's [comment]( https://github.com/stan-dev/math/pull/588#discussion_r130221745)

This example:
[code]

should be:
[code]

#### Current Version:
v2.16.0

[2017-08-01 21:24] syclik opened #594 "Remove stan:: namespace qualification"
#### Summary:
We don't need the `stan::` namespace qualification within the `stan` namespace (all of the math library) unless there's ambiguity with another namespace.

See @bob-carpenter's [comment](https://github.com/stan-dev/math/pull/588#discussion_r130221763)

#### Current Version:
v2.16.0

[2017-08-01 21:30] syclik opened #595 "Make stan/math/prim/scal/prob/neg_binomial_lccdf.hpp more efficient"
#### Summary:
There are terms that are being computed multiple times and we should be using `inv(x)` instead of `1 / x`.

See @bob-carpenter's [comment](https://github.com/stan-dev/math/pull/588#discussion_r130223121)

#### Current Version:
v2.16.0

[2017-08-01 21:32] syclik opened #596 "a / (b * c) is more efficient than a / b / c"
#### Summary:
See @bob-carpenter's [comment](https://github.com/stan-dev/math/pull/588#discussion_r130223133)

This appears in at least:
- [ ] stan/math/prim/scal/prob/neg_binomial_lccdf.hpp

#### Description:
This will make the math library a little faster.

#### Current Version:
v2.16.0

[2017-08-01 21:34] syclik opened #597 "Fix order of return for normal_cdf"
#### Summary:
See @bob-carpenter's [comment](https://github.com/stan-dev/math/pull/588#discussion_r130223172)

#### Current Version:
v2.16.0

[2017-08-01 21:52] bob-carpenter commented on #594
Thanks much for turning these into issues.

[2017-08-01 22:03] bob-carpenter commented on #592
I'm glad to hear that.

Can't the ode_integrate function just throw an exception if it's not installed.

After that, I think it's just different behavior after branching than the GPU/MPI code.  The GPU and MPI code can fall back to a serial implementation.

But it should look the same from the build process, right?  We'll get some flag down in the code that's on if the thing's installed (or if it'

[2017-08-01 23:46] betanalpha commented on #592
My understanding is that many of the text interrogation
functions were originally implemented for conditional
compile functionality.  So we’d have the parser also
generate a necessary-library file which make could
search to see which compiler options it uses and then
against which shared libraries it tries to link.

[2017-08-06 01:45] syclik opened #598 "Fix code style in stan/math/rev/mat/fun/multiply.hpp"
#### Summary:
Some of the variables are declared on one line while others are not.

See @bob-carpenter's [comment](https://github.com/stan-dev/math/pull/588/files/89d11a3882fb1bc184bd22ae43a64202d9e53b27#r130223204).

#### Description:
Make the code base cleaner.

#### Current Version:
v2.16.0

[2017-08-06 12:27] #587 closed

[2017-08-10 19:53] seantalts commented on #596
On my machine with primitives, these takes exactly the same amount of time and we can do a billion of them in a second. Is this more important with autodiff variables for some reason?

[2017-08-10 22:24] bob-carpenter commented on #596
Two things.  (1) Yes, more important with autodiff.  Follow the chain rule---the expression for the derivatives involves more operations.

(2)  Maybe you're doing the evaluation wrong.  I used this code to make sure the compiler doesn't optimize away anything.  Integer arithmetic in parallel is mainly free, so I wasn't worried about that.  The eval underestimates the difference as there's also add

[2017-08-10 22:31] bob-carpenter commented on #596
I didn't test `a / b / c`---that might get unfolded into `a / (b * c)`.  They're not quite equivalent w.r.t. overflow behavior at the size limits.

[2017-08-10 22:41] seantalts commented on #596
I tested this as well with the following code:
[code]
and it was the same time to two decimal places with -O3. I also checked with a disassembler to make sure that there were two division instructions vs one division and one multiplication. My theory here is that you can actually pipeline two divisions at once for the same cost as one division and one multiplication? Pipelining throws a lot of mic

[2017-08-11 01:15] bbbales2 commented on #596
An issue with this

[code]

is that the compiler could recognize a / (b * c) is a constant
expression across the loop and pull it out. I think the clang++ on my
computer was doing this.

On 8/10/17, seantalts <notifications@github.com> wrote:

[2017-08-11 02:32] bob-carpenter commented on #596
@bbbales2 hit the nail on the head here.  You'll see that my benchmark is careful to use the loop variables and save the result for printing at the end.

[2017-08-11 03:17] seantalts commented on #596
How embarrassing, I must have been looking at the -O0 disassembly - the O3 does in fact do loop-invariant code motion. I feel like so often we have to do little tricks that it seems like the compiler should be able to optimize (like the one for this ticket) that I'd lost some of the respect due to the compiler's optimizer.

I converted Bob's code to a test of the original question (two divisions v

[2017-08-11 13:05] seantalts commented on #596
So I think there's a little weirdness going on in there due to the compiler deciding loop variables should be integers and then converting them to doubles every iteration. So I just took my original test and added `volatile` keywords, which tell the compiler that the variables could change at any time and to basically avoid optimizing those variables:
[code]
I still see the same times observed for

[2017-08-11 13:08] bbbales2 commented on #596
This code might be tricky to read cause I think it's unrolled a little.

[code]

That is incrementing the loop by -3 maybe? At least that's what I saw
when I looked at the assembly produced by Clang.

Maybe just look at the assembly with -O1 to avoid the super duper optimizations.

Also:

[code]

For this loop ```x /  y``` is getting computed and cached outside of
the z loop for me haha, which wou

[2017-08-11 14:19] bob-carpenter commented on #596
Neat.  I'm surprised the code for the multiplication in the denominator is so much worse.  It winds up doing just as many divisions, which I really don't understand.

[2017-08-11 14:50] seantalts commented on #596
@bbbales2 I know that division is slower than multiplication, I would just be surprised that the compiler writers wouldn't know that, you know? It's a very easy peephole optimization, easier even than the loop-invariant code motion we saw above. That said, I need to reason through the autodiff situation... seems like it's probably still a useful optimization in that case. I just want to make sure

[2017-08-11 15:05] seantalts commented on #596
Also interesting - the `(b *c)` would seem to be less numerically stable (more likely to overflow)? I don't have a good grasp of that. And [this](https://stackoverflow.com/questions/35506226/will-the-compiler-optimize-division-into-multiplication) points out that the way intermediate calculations are represented as doubles could affect the calculation differently, though it's not clear that matter

[2017-08-11 16:11] #581 closed

[2017-08-11 16:48] bbbales2 commented on #596
Haha, that's a good point. Hadn't thought of it like that.

Guess it all comes down to the autodiff? The compiler isn't gonna be
able to do the optimizations with stan::var s, and the adjoints are
going to be slightly more annoying with the division.

[2017-08-11 18:53] bob-carpenter commented on #596
@seantalts:  Yes, we definitely want to understand what the compiler's going to do.  The problem with that narrow strategy is that all the compilers do it slightly differently, so it's a moving target.  So, as @bbbales2 says, we really should be doing these tests with autodiff types.

@seantalts Alternatively, `a / b` might overflow when `a / (b * c)` does not.  And of course `b * c` can underflow

[2017-08-11 18:54] bob-carpenter commented on #596
For example, the loop-invariant code motion won't be legal with autodiff.

[2017-08-12 17:34] mitzimorris opened #599 "update lib to Boost 1.64.0"
#### Summary:
lib/stan_math must build with Boost 1.64.0.  currently fails to do so. R is upgrading to use Boost 1.64.0, Stan needs to do the same.  see https://github.com/stan-dev/rstan/issues/441

#### Current Version:
v2.16.0

[2017-08-12 18:30] mitzimorris commented on #599
hit this issue:  https://github.com/dealii/dealii/issues/4302
need to change #includes in certain .hpp files - is this kosher?
e.g.

[code]

[2017-08-12 19:06] syclik commented on #599
I'm a little puzzled. Is there a reason why we need to patch boost? I'd expect we need to fix that in the math headers, but not boost.

[2017-08-13 11:09] mitzimorris commented on #599
you're quite correct  - proper solution is #ifdefs in the math headers.

[2017-08-14 10:43] mitzimorris opened #600 "bad doc on function fmax w/r/t case when 1 arg is nan"
#### Summary:
doc comments don't agree for function `stan/math/fwd/scal/fmax`

#### Description:
[code]

probably should be "if one is not-a-number return the other"
and note that if both values are `nan`, then `fmax` will return `nan`.
check unit tests accordingly.

noticed while upgrading to boost 1.64.0. https://github.com/stan-dev/math/issues/599
won't fix as part of that issue, unless I shoul

[2017-08-15 17:52] rayleigh commented on #430
I've been working on this because I'm curious about how probability distributions are tested and I might want to do some work on issue #493. I've written the code and the test function, but not all tests are passing and I'm still trying to figure out why.

[2017-08-18 22:05] bbbales2 opened #604 "libc++ flag causing problems with Ubuntu 16.04"
#### Summary:

I'm getting errors trying to build the tests with the latest Stan math library

[code]

If I comment out the line:
[code]

From make/detect_cc, Things work. I have the Clang libc++ installed. Clang 3.8, Ubuntu 16.04.

#### Description:

This is the command I run:

[code]

This is a more detailed output:

[code]

#### Current Version:
develop

[2017-08-19 00:04] bgoodri commented on #604
Do you have libc++abi1 and the packages that go with it installed?

On Fri, Aug 18, 2017 at 6:05 PM, Ben Bales <notifications@github.com> wrote:

[2017-08-19 00:09] bbbales2 commented on #604
Yeah, I installed all the stuff that looked mildly interesting on https://launchpad.net/ubuntu/+source/libc%2B%2B

I'd assume it's just my desktop that's messed up (the packages on here are all crazy) but I tried it on my laptop and got the same thing.

[2017-08-19 00:25] bgoodri commented on #604
It works for me on Debian unstable with clang++-3.8. If you have
libc++abi-dev, then maybe Ubuntu just messed up the search path or
something.

On Fri, Aug 18, 2017 at 8:09 PM, Ben Bales <notifications@github.com> wrote:

[2017-08-19 00:31] bbbales2 commented on #604
Yeah, might just be an Ubuntu problem.

From https://stackoverflow.com/a/43769803/3769360 it sounds like the libc++ might just be out of date in the package manager (this is the correct link for 16.04, it says it only has 3.7, whereas clang is at 3.8 https://packages.ubuntu.com/xenial/libc++-dev)

I dunno. If this sounds like an Ubuntu issue that can't be addressed, feel free to close this. I'm ha

[2017-08-19 00:32] #604 closed

[2017-08-19 16:18] rayleigh commented on #574
Working on another issue, I noticed that `normal_lpdf` uses `scalar_seq_view` to wrap the arguments passed in and then uses `max_size` to determine what to loop through:

https://github.com/stan-dev/math/blob/2ab1ea5588637c5e4cce319a08656ad0f1d257cb/stan/math/prim/scal/prob/normal_lpdf.hpp#L74-L88

I'm not sure if it's affecting anything because the tests for `normal_lpdf` passes.

However, if I r

[2017-08-19 21:23] bob-carpenter commented on #574
@rayleigh --- is anything using that `stan::length` function in `normal_lpdf``?

We could probably generalize the `stan::length` function to deal with views.

I'd strongly prefer `size()` to `length()` because of the ambiguity of "length".

[2017-08-19 21:35] bbbales2 commented on #574
This looks weird to me. The scalar_seq_views definitely mess up, but normal_lpdf does max_size (which uses length) on the non-scalar_seq_view versions of the arguments.

With this code:
[code]

I get:
[code]

stan::length should just use size for ```std::vector<T>s``` (https://github.com/stan-dev/math/blob/2ab1ea5588637c5e4cce319a08656ad0f1d257cb/stan/math/prim/arr/meta/length.hpp)

(For anyone wa

[2017-08-20 02:39] rayleigh commented on #574
@bob-carpenter Yes. There is a check early on whether to return 0 using `stan::length`:

https://github.com/stan-dev/math/blob/2ab1ea5588637c5e4cce319a08656ad0f1d257cb/stan/math/prim/scal/prob/normal_lpdf.hpp#L56-L57

@bbbales2 That's interesting. I went back to my test and when I included `<stan/math/mix/mat.hpp>`, the output makes more sense (as you point out, it's still broken for the `scalar_s

[2017-08-23 19:48] VMatthijs commented on #493
Hi all,

I'm currently having a stab at fixing this. I am running into the issue though of dealing with derivatives w.r.t. the matrix argument x. Is this something you've tried before? Is operands and partials set up to deal with matrix arguments?

In particular, I am trying to do the following, which raises an error:

ops_partials.edge1_.partials_[n][n] += theta_derivative * beta_vec;  .

Is ther

[2017-08-23 21:42] bob-carpenter commented on #493
You can look at some of the functions in `rev/mat` to see how we deal with memory allocation for vectors.  The idea is that you want to allocate memory using `memalloc_.allocate_array()` (I think I got that right), then wrap them in `Eigen::Map` to use as matrices.  That way, the memory stays in our arena.  This is described (albeit tersely) in the arXiv paper.  Please *do not* use matrix objects

[2017-08-24 19:00] seantalts commented on #493
@bob-carpenter Is there a reason you're avoiding `operands_and_partials` here? It should support matrices.

Separately, is there a reason you're hardcoding the types in the function signature? Wouldn't we normally template them and try to accept a variety?

[2017-08-24 19:02] seantalts commented on #493
I think I don't fully understand the comments about making sure to allocate memory manually and using Eigen::Map on top... Might need to think about this further, sorry.

[2017-08-24 20:31] bob-carpenter commented on #493
@seantalts:  I wasn't avoiding it so much as it didn't exist in that form when I wrote that example.  If you can do it more easily with `operands_and_partials`, then by all means do it.  There's no extra overhead.

@seantalts:  You can't have member variables in `vari` implementations that allocate memory on the heap, such as `std::vector` or `Eigen::Matrix`, because the destructors aren't called.

[2017-08-24 20:32] VMatthijs commented on #493
My attempt at a solution can be found here:
https://github.com/VMatthijs/math/tree/feature/493-bernoulli_logic_regress_lpmf .

My tests are throws an error, however, which seems to be caused by the line
`		    ops_partials.edge1_.partials_[n] +=   theta_derivative * beta_dbl;` .
The idea here is that argument 1 is an NxM matrix x. Therefore, I would expect ops_partials.edge1_.partials_[n] to a len

[2017-08-24 20:35] bob-carpenter commented on #493
@VMatthijs:  If `x` is a matrix, then `x[m]` is a `row_vector` (for the `m`-th row), not a (column) `vector`.

It helps to actually see the error rather than an interpretation of it.

[2017-08-24 20:42] VMatthijs commented on #493
Thanks, @bob-carpenter ! I wonder if this distinction between row and column vector is relevant here. :-) I hadn't realised that was what happened if you indexed an Eigen Matrix.

For completeness, I'm including the errors thrown by my tests below.

[code]

[2017-08-24 20:50] bob-carpenter commented on #493
I don't think you can just index an Eigen::Matrix with one index and get a row vector---that's a Stan thing.

[2017-08-24 20:51] bob-carpenter commented on #493
I can't follow what's going on here.  There's some very complex type involving an `enable_if` and a `double`.  Looks like `ops_partials.edge1_.partials_[n]` is a scalar and you weren't expecting that.  Hopefully @seantalts can help you figure this one out.

[2017-08-24 21:08] seantalts commented on #493
ops_partials.edge1_.partials_ is an Eigen vector, because the first arg to ops_partials contructor is x, defined as `Matrix<double,Dynamic,1> x(3,2);`. A matrix would be `Matrix<double, Dynamic, Dynamic x(3,2);`.

Also, you can't use `[]` to index into a matrix - you have to use `()`.

See [this](https://eigen.tuxfamily.org/dox/group__TutorialBlockOperations.html) for how to assign to a row or col

[2017-08-24 21:18] VMatthijs commented on #493
Thanks for spotting the typo, @seantalts ! Still, it doesn't fix things. I think I may have found out what is going on, though. I suspect that ops_partials.edge1_.partials_  is a vector even when argument 1 is a matrix, where we traverse the derivatives with respect to the matrix elements left-to-right-top-to-bottom. Could that be? I need to leave for dinner now, but will continue testing this lat

[2017-08-24 21:26] seantalts commented on #493
Can you post the new error and code? When I fixed that on my machine, I got new problems relating to the stuff I sent you in the email before, this section:

I think diving into a problem and struggling through it (with hearty googling and eigen docs and questions to me) is the fastest way that I know of.

[2017-08-25 13:36] seantalts commented on #493
JTBC - Don't feel bad about asking me questions! I love helping people, and I think it's the fastest way to get people up to speed so I'm more than happy to help out. Keep 'em coming :)

[2017-08-25 14:10] VMatthijs commented on #493
Thanks, @seantalts ! I'm currently debugging my code using the very high-tech method of print-statements. Haha. Will definitely ask you when I have a better idea of where the error originates.

[2017-08-25 14:14] bob-carpenter commented on #493
+1 to Sean's comments on our being willing to help.

If you want to collect material as you go that you think other people would find helpful, that'd be great.  But we don't have an overall code tour anywhere.

[2017-08-25 14:15] bob-carpenter commented on #493
In roughly 35 years of coding, I've never found a better way to debug than careful instrumentation with print statements.  Your mileage may vary depending on how good you are with stepwise debuggers---I've usually found them more trouble than they're worth and have only pulled one out a few times when I couldn't solve a problem any other way.

[2017-08-25 14:55] VMatthijs commented on #493
So, my code is now passing the tests I wrote, which check that it returns the answer as the existing logistic regression. However, the tests are only for constant values (doubles) for the arguments and not for the situation where the arguments are parameters. In fact, I am sure that my code for the derivative wrt the data matrix `x` is still wrong. I'm really struggling to debug that. From my curr

[2017-08-25 20:56] VMatthijs commented on #493
Hi @bob-carpenter and @seantalts ,
I've now tested my function and it seems to work fine as long as the data matrix `x` is not a parameter. From browsing through the `operands_and_partials` source code, I get the feeling that it is simply not set up to deal with matrix arguments. Any suggestions on how to proceed?

[2017-08-25 21:02] seantalts commented on #493
What makes you feel that way? It has specializations for matrices in the `/mat/` directories - here is a test for reverse mode with a matrix operand and a matrix `partials_` member: https://github.com/stan-dev/math/blob/develop/test/unit/math/rev/mat/meta/operands_and_partials_test.cpp#L87

[2017-08-25 21:10] VMatthijs commented on #493
I think that's for computing the Jacobian of a vector valued function with vector arguments, rather than a scalar valued function with matrix  arguments. Or am I confused?

One thing that makes me think that is section 15.1 in the arxiv paper on the Stan math library (autodiff) as well as the comment

in https://github.com/stan-dev/math/blob/develop/stan/math/rev/scal/meta/operands_and_partials.hp

[2017-08-25 21:15] seantalts commented on #493
Both of those are old -  since they were published I've updated `operands_and_partials` to support matrix operands, though the tests are fairly basic so let me know if you're having trouble with it (with some code I can run to see the problem if you don't mind). `operands_and_partials` is most often used in the case where the function is scalar-valued - e.g. all of the existing distributions. But

[2017-08-25 21:20] VMatthijs commented on #493
Oh, that's very exciting! Could you perhaps give me some suggested syntax on what to replace this line of code with?
`ops_partials.edge1_.partials_[n] += theta_derivative * beta_dbl.transpose();`
The intended behaviour is that argument 1 is a Eigen(Dynamic,Dynamic) matrix (say NxM). Therefore, I would expect `ops_partials.edge1_.partials_` to be an NxM matrix as well. Now, I would really like to a

[2017-08-25 21:29] seantalts commented on #493
I sent this above: "See [this](https://eigen.tuxfamily.org/dox/group__TutorialBlockOperations.html) for how to assign to a row or column." as an attempt to answer that question :P

You can't use `[n]` to index into matrices - you'd need `(n)` to get out the nth element, but to access the nth row you'd need the syntax at the link: `ops_partials.edge1_.partials_.row(n) += theta_derivative * beta_dbl

[2017-08-25 21:31] VMatthijs commented on #493
Ah, right. I did try this a while back but throws an error:
`
stan/lib/stan_math/stan/math/prim/mat/prob/bernoulli_logit_glm_lpmf.hpp:128:37: error: no member named 'row' in
      'stan::math::internal::empty_broadcast_array<double>'
                    ops_partials.edge1_.partials_.row(n) += theta_derivative * beta_dbl.transpose(); // for som...
[code]

[2017-08-26 17:53] rayleigh opened #607 "check_matching_dims' behavior is inconsistent with its description"
#### Summary:
The behavior of `check_matching_dims` is inconsistent with its description.

#### Description:
In `check_matching_dims`, the function is described as following:

https://github.com/stan-dev/math/blob/82ca96a44358f8f68ed31051a109128a54296090/stan/math/prim/mat/err/check_matching_dims.hpp#L14-L18

However, in `test/unit/math/prim/mat/err/check_matching_dims_test.cpp`,

https://github.c

[2017-08-28 17:49] seantalts commented on #493
I think from an organizational perspective we should switch this conversation to a conversation on a pull request from your branch, probably? Can you make one and just put [WIP] in front of the title?

Meanwhile, the error is showcasing a tricky thing - even in cases where there are no partials to keep track of, the code needs to compile as if it would (i.e. you would need to create a stub method

[2017-08-29 13:49] #481 closed

[2017-09-06 02:30] #599 closed

[2017-09-06 02:31] #576 closed

[2017-09-06 14:21] sakrejda opened #613 "Ubuntu clang++ compilation and spurious negative tests"
#### Summary:
some tests fail because 'nan' used to be a function in the main namespace.

#### Description:
Also two tests pass spuriously (with previous compilers) and fail to compile with this one.

#### Reproducible Steps:
krzysztof@hagrid:~/packages/math-compare$ ./runTests.py test/unit/math
------------------------------------------------------------
make -j1 test/unit/math/rev/core/print_sta

[2017-09-06 18:51] randommm commented on #38
This one was merged on stan-math, but not exposed to stan-dev due to that conceptual problem of whether it should be ok to have `y_mean ~ normal_sufficient(y_squared, n, mu, sigma)` and `normal_sufficient_lpdf(y_mean | y_squared, n, mu, sigma)` despite the fact that `y_squared` is also data.

I saw some time ago that there was some discussions around changing the language of Stan, but lost track o

[2017-09-07 10:06] bob-carpenter commented on #38
What will solve the problem is having tuples.  So what we'd have
is something like replacing:

  y ~ normal(mu, sigma);

with

  (mean(y), sd(y)) ~ normal_sufficient(size(y), mu, sigma);

sum_of_squares(y) is better than sd or variance?  We wouldn't have
to make it the typical sufficient statistics from the exponential family.

- Bob

[2017-09-07 11:55] randommm commented on #38
I preffer sum_of_squares because sd might be ambiguos as to wheter one should divide by n or by (n-1). If I remember well, I also avoids one float point operation. But I don't mind changing it to sd.

The tuple solution is very interesting, it could be reused in the future in case one adds minimal sufficient statistics of other distributions, it's not available in the parser right now, is it? I'll

[2017-09-07 14:57] bob-carpenter commented on #38
Good point about `sd()` being ambiguous.  Sum of squares sounds good then.

No, tuples aren't available yet.  But @mitzimorris is working on it.

[2017-09-08 11:31] sakrejda opened #617 "Sort out CXX and CC, make detect_cc ONLY detect the compiler type."
#### Summary:
Compiler flags can get borked.  It causes compilation errors

#### Description:
Currently `stan-dev/math` uses $(CC) to specify the C++ compiler and `stan-dev/cmdstan` (correctly) uses $(CXX) for the same thing.  This breaks things when `cmdstan` sets $(CXX) from $(CC) but includes `stan-dev/math` detect_cc in its makefile (which ignores $(CXX)).

#### Reproducible Steps:

[code]
edi

[2017-09-08 11:32] sakrejda commented on #617
The solution is to modify `stan-dev/math` makefiles to use CXX and CC correctly, and to move the setting of CXXFLAGS out of `detect_cc`

[2017-09-09 14:43] sakrejda commented on #613
closed by PR #616

[2017-09-09 14:43] #613 closed

[2017-09-10 23:28] bbbales2 opened #618 "skew_normal_rng seems a little too happy to return infs"
#### Summary:
The way skew normals are generated, it's pretty easy to end up generating a pile of infs.

#### Description:

When I was writing the vectorized skew normal tests I kept getting segfaults in one of the unit distribution tests (assert_matches_quantiles in test/unit/math/prim/scal/prob/util.hpp). These segfaults were coming about cause the skew_normal_rng was spitting out infs.

It's po

[2017-09-10 23:58] bgoodri commented on #618
Dup of https://github.com/stan-dev/math/issues/527

[2017-09-10 23:58] #618 closed

[2017-09-11 01:31] bbbales2 commented on #527
I gotta fix this to get the vectorization tests working nicely.

It looks like there are two options, both from Azzalini (both get rid of the infs I was seeing). This is what he uses in his R package (sn):

(mu is location, sigma is scale, alpha is shape)

[code]

This is one of the solutions he gives in his paper (https://arxiv.org/pdf/0911.2342.pdf):

[code]

The first is way simpler, but it com

[2017-09-11 02:07] sakrejda commented on #527
The first one is in the paper too: it's a simulation from a standard bivariate normal with a correlation calculated from the alpha parameter (around equation 8) and then you take the larger of the two.

[2017-09-11 10:20] bob-carpenter commented on #527
Algorithms aren't subject to copyright.  So you can code the algorithm in the paper and it won't fall under copyleft from another implementation.

[2017-09-11 11:44] sakrejda commented on #527
That's the point, no need to lift it from the code.

[2017-09-14 01:35] bgoodri opened #620 "rising_factorial and falling_factorial are defined weirdly"
#### Summary:

The definitions of `(log_)rising_factorial` and `(log_)falling_factorial` in Stan are inconsistent with their mathematical definitions.

#### Description:

Stan restricts `x` to be positive in `rising_factorial` and `falling_factorial` but this restriction is not required.

Also, Stan allows `n` to be a real number but `rising_factorial` and `falling_factorial` are defined for non-n

[2017-09-16 15:41] bob-carpenter opened #621 "make AutodiffStackStorage C++11 singleton"
#### Summary:

Create a singleton using C++11 guarantees to replace static initializers in `AutodiffStackStorage` in `stan/math/rev/core/autodiffstackstorage.hpp`.

#### Description:

The `AutodiffStackStorage` class relies on undefined static initialization behavior. Fix it with C++11 guarantees for singletons.  Also, rename it `AD` for easier referencing and instantiate types since there's only

[2017-09-25 06:52] andrjohns commented on #590
Looks like it's a bit tricky. Using the << operator returns an ostream, which doesn't have an str() member that can be called:

[code]

Looks like the general consensus is that [you need a helper class if you want stringstream one-liners](https://www.thecodingforums.com/threads/how-to-write-a-std-stringstream-one-liner.729269/).

Could use variadic functions to create a generic string builder that

[2017-09-25 07:15] andrjohns commented on #590
Feel free to let me know if I'm completely off-track here, pretty much learning as I go.

[2017-09-25 14:45] sakrejda commented on #590
We hashed some of this out a while ago and I agree variadic template would work.

Discourse thread: http://discourse.mc-stan.org/t/logging-in-stan-services/300/20

[2017-09-25 17:58] bob-carpenter commented on #590
I was thinking everyone missed the obvious template solution until
I got to here:

  https://groups.google.com/d/msg/comp.lang.c++/_GWLGQhbxYE/TnCk6kVnxuMJ

That'd be the right way to produce a string.  That's an independent
issue from logging except insofar as the production is in a call to
logging, where you don't want to do the production if you're not logging
that level.  So it really needs to

[2017-09-25 19:04] sakrejda commented on #590
You lost me Bob.

On Mon, Sep 25, 2017, 1:58 PM Bob Carpenter <notifications@github.com>
wrote:

[2017-09-26 06:45] andrjohns commented on #589
Simplifying the variadic a little gives:
[code]
Which works when tested with:
[code]

How does that look?

[2017-09-26 16:33] bob-carpenter commented on #589
Yes, I think it needs to be a new function.  I'm pretty sure you need `&&` and `std::forward` to pass by reference as I wrote in the issue.

[2017-09-26 16:34] bob-carpenter commented on #589
The point isn't so much the new function as pushing it through all the probability functions.

[2017-09-26 16:57] andrjohns commented on #589
Yep, my mistake, you do need those. I'll make the changes to the probability functions and include those in the pull request.

[2017-09-26 19:57] bob-carpenter commented on #590
That link is the way to write a class that enables << one-liners with an internal stringstream accumulator.  It defines a class with the approprite template operator<< that delegates to the stringstream version.

[2017-09-30 10:52] andrjohns commented on #620
It looks like the restrictions in rising/falling_factorial stem from them returning the exponentiated corresponding log_*_factorial, which doesn't exist when the factorial is negative.

A possible solution could be to use the log_*_factorial when ```x``` is positive (to better handle under/overflow), and to use Boost's *_factorial when ``x``` is negative:
[code]

[2017-09-30 12:35] bgoodri commented on #620
I would say to use Boost's implementation unconditionally.

On Sep 30, 2017 6:52 AM, "Andrew Johnson" <notifications@github.com> wrote:

[2017-09-30 14:13] andrjohns commented on #620
Easy enough. And both rising_ and falling_factorial should throw if ```n``` is a non-negative integer?

[2017-09-30 15:38] bgoodri commented on #620
I think you meant throw if n is not a non-negative integer. In other words,
it should throw with a positive real number. This would require some
backwards incompatible changes to the Stan language though.

On Sat, Sep 30, 2017 at 10:13 AM, Andrew Johnson <notifications@github.com>
wrote:

[2017-09-30 16:24] andrjohns commented on #620
Wouldn't a conditional do the trick? Like:
[code]

[2017-09-30 16:31] bgoodri commented on #620
I think it would be better to fail before runtime by making it be

T
rising_factorial(const T x, const int n) {
  check_nonnegative(n);
  boost::math::rising_factorial(x, n, boost_policy_t());
}

and then change the Stan language definitions so that it does not parse if
someone tries to pass a non-int for n.

On Sat, Sep 30, 2017 at 12:24 PM, Andrew Johnson <notifications@github.com>
wrote:

[2017-10-01 03:58] andrjohns commented on #620
I see what you mean. Should I introduce those as pull requests to the stan and math repos, or leave it since it would break backwards compatibility?

[2017-10-01 04:18] bgoodri commented on #620
I don't think backward compatibility is a priority when the only things
that would get seriously broken are mathematically wrong. But someone else
should opine on this before we do it.

On Sat, Sep 30, 2017 at 11:58 PM, Andrew Johnson <notifications@github.com>
wrote:

[2017-10-01 12:59] syclik commented on #620
I'm with @bgoodri. I see this more as a bug rather than an intentional
behavior that that we had intended to maintain.

Now... there might (possibly) be places that call these functions that
should be doing additional checks.

On Sun, Oct 1, 2017 at 12:18 AM, bgoodri <notifications@github.com> wrote:

[2017-10-01 21:41] bob-carpenter commented on #620
I also agree.  This doesn't break backward compatibility---it fixes a bug.

[2017-10-01 22:13] bbbales2 opened #635 "No quantiles test in the unit tests for exp_mod_normal_rng"
#### Summary:
There aren't any tests that validate exp_mod_normal_rng via assert_matches_quantiles. These tests are there for all the other distributions.

#### Description
Current code: https://github.com/stan-dev/math/blob/develop/test/unit/math/prim/scal/prob/exp_mod_normal_test.cpp

Example _rng with test: https://github.com/stan-dev/math/blob/develop/test/unit/math/prim/scal/prob/normal_test.

[2017-10-01 22:15] bob-carpenter commented on #635
Thanks for filing the issue.  The CDFs are implemented, so it shouldn't be hard to add them.

[2017-10-01 22:16] bob-carpenter commented on #635
P.S.  I assigned to you (@bbbales2), but if you don't want to deal with it, please unassign yourself.

[2017-10-01 23:52] bgoodri commented on #620
OK. @andrjohns if you want to take this, go ahead and change the functions in Stan Math to call Boost's versions unconditionally, and then we will open up an issue to change the Stan language once that gets merged.

[2017-10-07 17:47] bgoodri opened #639 "modified_bessel_first_kind is not that good"
#### Summary:

The Bessel I function is only defined in Stan for integer orders and is prone to overflowing

#### Description:

This causes a variety of issues. See
https://github.com/stan-dev/stan/issues/1939
https://github.com/stan-dev/math/issues/564

#### Reproducible Steps:

Evaluate `log(modified_bessel_function_first_kind(v, z))` for non-integer v (compiler error) or huge z (overflow).

###

[2017-10-07 18:12] bgoodri opened #641 "pow is insufficiently specialized"
#### Summary:

The `pow` function for `var` base and fixed exponent of -1 does not call `inv`. Also, when the base is 2, it does not call `square`.
https://github.com/stan-dev/math/blob/develop/stan/math/rev/scal/fun/pow.hpp#L127

#### Description:

See above

#### Reproducible Steps:

The code works but it is just inefficient.

#### Current Output:

It is correct already.

#### Expected Output:

[2017-10-14 20:49] bob-carpenter opened #646 "log_sum_exp and log_diff_exp boundaries"
#### Summary:

The boundary conditions are off for negative infinite values.  Currently, we have

[code]

and they should all return negative infinity.  For example,

[code]

Now some care is going to have to be taken to manage the derivatives.  We may not be able to chain rule through the resulting negative infinities for an expression like `exp(log_sum_exp(log(0), log(0)))`.  The more doc explai

[2017-10-18 18:22] MatsuuraKentaro commented on #347
Stan manual v2.17 says `pow` is not vectorized yet. Do you have a plan?

[2017-10-18 19:51] bgoodri opened #648 "Lack of function for computing the inverse of a matrix from its Cholesky factor"
#### Summary:

We do not have a function that inputs a Cholesky factor `L` and outputs `(L * L')^(-1)`.

#### Description:

Such a function (for upper triangular Cholesky factors) exists in LAPACK and R under the name `chol2inv`.

#### Expected Output:

`(L')^(-1) * L^(-1)`

#### Additional Information:

I have written such a function.

#### Current Version:
v2.17.0

[2017-10-19 00:35] bob-carpenter commented on #347
Yes, but it's going slowly.  We should just vectorize that function (and the ^ syntax to go with it) rather than trying the general solution which Rayleigh Lei is working on.

[2017-10-19 13:34] charlesm93 opened #651 "Features for Algebraic Solver"
#### Summary:

- Remove requirement that parameter vector should have at least length 1
- Edit error message when function tolerance is not achieved: suggestion should be to decrease relative tolerance, not to increase it.
- Remove requirement that the initial guess is passed as a vector of data (allow for it to be a vector of parameters).

#### Description:
See http://discourse.mc-stan.org/t/the-

[2017-10-20 13:51] syclik commented on #648
@bgoodri, it's gonna be pretty exhausting if you want to call things "stupid" all the time. There are a few things you can do:
- [ ] (easy) remove the section when you create the issue
- [ ] (better) use the section to describe actual tests
- [ ] (best) be constructive and suggest a change to the template that's better than what we have

I'm sure there are other possible things you can do.

If you

[2017-10-21 14:08] bob-carpenter commented on #648
I agree with @syclik here.  Please try to not insult people on GitHub or our forum.

When someone calls something you've done "stupid", it feels like they're calling you "stupid" and it hurts.

[2017-10-21 17:10] bgoodri commented on #648
I am fine with removing sections, which I had assumed were obligatory. I should have said "Having to fill out a section for Reproducible Steps for a missing feature is stupid."

[2017-10-21 22:29] bgoodri opened #652 "choose does not utilize C++11 rounding"
#### Summary:

The `choose` function uses a loose form of rounding because there was no `round` function before C++11

#### Description:

Look at
https://github.com/stan-dev/math/blob/develop/stan/math/prim/scal/fun/choose.hpp#L38

#### Reproducible Steps:

Call `choose` with any sufficiently small arguments to avoid overflow.

#### Current Output:

The current output is probably correct

#### Exp

[2017-10-22 01:09] bob-carpenter commented on #648
I understood that.  I'm pretty thick-skinned myself, but I've worked with a lot of people who take "stupid" as the worst possible insult, so I think we should just avoid the term (and synonyms).   Having said that, I have a hard time following that advice myself, being particularly prone to overuse "idiotic" in relation to what I think are really bad ideas.

[2017-10-22 02:23] syclik commented on #648
I didn't read the original remark as an insult, but as frustration directed at the process / template. I'd rather just find a way to make the process better than have it be a source of frustration. Anyway, feel free to remove when you create an issue when it's not appropriate or suggest something more appropriate to replace it with.

[2017-10-22 03:02] #299 closed

[2017-10-22 03:19] #641 closed

[2017-10-22 03:41] #639 closed

[2017-10-23 15:54] bgoodri opened #656 "M_PI is not always available"
#### Summary:

The new `log_modified_bessel_first_kind` function utilizes `M_PI` and Windows (at least) manages not to find it.

#### Description:

The new `log_modified_bessel_first_kind` function utilizes `M_PI` and Windows (at least) manages not to find it.

#### Reproducible Steps:

Run unit tests
http://d1m1s1b1.stat.columbia.edu:8080/job/Stan/job/develop/11/execution/node/83/log/

#### Curre

[2017-10-24 17:10] #656 closed

[2017-10-25 19:51] #648 closed

[2017-10-26 14:09] olspert opened #660 "Feature request: Implement periodic covariance function"
#### Summary:
Implement a periodic covariance function.
Periodic covariance function is defined as:
k(x, x')=sigma^2\*exp(-2\*sin(pi\*|x-x'|/p)^2/l^2)),

where sigma^2 is the signal variance,p is the period and l is the lengthscale.

#### Description:

1.

Create a new header file stan/math/prim/mat/fun/cov_per.hpp containing two functions named cov_per. Use code from stan/math/prim/mat/fun/cov_ex

[2017-10-26 14:15] betanalpha commented on #660
Please see https://github.com/stan-dev/stan/wiki/Adding-a-Gaussian-Process-Covariance-Function <https://github.com/stan-dev/stan/wiki/Adding-a-Gaussian-Process-Covariance-Function>
for what we are requesting for the addition of new covariance functions.  cov_exp_quad was a
prototypical implementation and hence is still technically incomplete.

[2017-10-27 02:23] bob-carpenter commented on #660
Is that meant to be a minimal set of requirements for a pull request?  Is `cov_exp_quad` not useful because it's incomplete?

[2017-10-27 06:05] olspert commented on #660
Maybe this issue should be put on hold for a while until one example of a covariance function meeting the given requirements has been written by somebody. Periodic covariance function probably wouldn't be the best candidate for this task. I have though implemented all the functionality on the same level as it was for cov_exp_quad, but I guess there is no need to check this implementation in to the

[2017-10-27 15:48] betanalpha commented on #660
Yes, minimal.  The lpdf and Cholesky don’t have to be well implemented — for
example the latter can just be a lightweight function that calls the covariance
matrix function and then returns its Cholesky.  If the covariance matrix is
structured then these implementations can be much more sophisticated to
take advantage of that structure, but they don’t have to especially on the first
iteration of i

[2017-10-27 17:22] seantalts opened #661 "Automate style guidelines"
#### Summary:
cpplint detects some issues, but doesn't fix them. There are automated tools like [clang-format](http://www.labri.fr/perso/fleury/posts/programming/using-clang-tidy-and-clang-format.html) that can be installed as githooks (and editor plugins) to help us write code more consistently in an automated way. There are some good reasons to do this [described here](https://mtlynch.io/human-c

[2017-10-27 19:14] bgoodri commented on #661
I think it is worth considering dumping Google's rules to a file and
editing them to become Stan rules. If this is (which I think it should be)
something that is mostly automated and humans do not necessarily need to
memorize, then the cost of deviating from Google's style is low.

On Fri, Oct 27, 2017 at 1:22 PM, seantalts <notifications@github.com> wrote:

[2017-10-27 19:23] seantalts commented on #661
I'm starting it off with the Google style guide dumped to the file used for this, `.clang-format`. One thing I would love to avoid is trying to arbitrate or otherwise becoming involved in any style discussions. Do you think there are deviations worth a potential bike-shedding flame war?

[2017-10-27 19:30] bgoodri commented on #661
I think most people would not object to the deviations from Google that are
already part of the Stan style guidelines. I hope that most people do not
strongly favor that many additional deviations.

On Fri, Oct 27, 2017 at 3:23 PM, seantalts <notifications@github.com> wrote:

[2017-10-27 20:46] seantalts commented on #661
Which parts do you care about? The major one jumping out at me is that we indent namespaces

[2017-10-27 21:07] seantalts commented on #661
I changed the namespace indentation and the access modifier (public, private, etc) indentation to match our style guide.

[2017-10-27 21:41] bgoodri commented on #661
I don't actually care about much of them. It was mostly @bob-carpenter I think. But I do like putting for loops on a single line when they are less than 80 characters.

[2017-10-29 14:24] bob-carpenter commented on #661
I like the basic idea.

I'm OK not indenting namespaces.

But there are some big conflicts with their style guide that are going to take some work, if not be impossible;  this is from memory, but I'm now going to go through their new style guide item by item to give you a better feel for the scope of making Stan's code bases compliant.  Some biggies:

* exceptions are forbidden;  they want everyth

[2017-10-29 14:27] bob-carpenter commented on #661
If you want to know where our style came from, I tried to follow the standard libary naming conventions, the way Stroustroup wrote code in his book on C++, and the way the code was laid out on cplusplus.com and the way it was done in Java, which Daniel and I were both used to.  About the only deviation from those is that I didn't put a left brace on its own line for function definitions.  I have n

[2017-10-29 15:11] bob-carpenter commented on #660
Is this the issue for fixing our existing not-up-to-spec covariance function?

https://github.com/stan-dev/math/issues/501

If so, it seems sensible to me to fix that first so we have at least one example to show people.

Personally, I'd rather get partial features in if they're useful and then backfill when necessary.  It doesn't seem the full implementation for covariance functions is necessary

[2017-10-29 18:27] seantalts commented on #661
There's also stuff like that Daniel "doesn't like" the way the Google guide says access modifiers should be offset by 1 space instead of 2 from class definition. It just all seems so arbitrary and faced with these things I vastly prefer adopting an existing standard instead of coming up with some hybrid thing that, by definition, no one else could possibly be familiar with when trying to come onbo

[2017-10-29 18:29] seantalts commented on #661
When I brought this up at the meeting, I thought I had the green light from everyone to go ahead and move us closer to the Google style guide (or at least as close as can be automated easily).

[2017-10-29 19:48] syclik commented on #661
Just FYI, the comment in bold was me, the comment before that was Bob. In fact, most of that was discussed on our old google groups and was from Bob. I was the one that collected it and put it up on our wiki. (The reason for the dislike there was a practical one: emacs doesn't indent that way by default.)

And you can see that on a lot of them, both Bob and I aren't that picky. We just preferred i

[2017-10-29 19:53] syclik commented on #661
Yes, you still do. But if there are any conflicts between our style and Google's style (or however it gets automated), unless it's just a matter of opinion, it should still be a discussion.

[2017-10-29 19:57] seantalts commented on #661
Okay, great. I will just go ahead and move us to pure Google in the areas where clang-format can automatically convert us and where that doesn't impact functionality at all, and turn off the import reordering for now while we sort that issue out on the discourse thread. Installing the emacs plugin for Google style as mentioned in the PR should make emacs respect the Google way.

I think the only w

[2017-10-29 20:01] syclik commented on #661
AWESOME!

Should the devs run it locally? Or is this something that's only run
remotely?

On Sun, Oct 29, 2017 at 3:57 PM, seantalts <notifications@github.com> wrote:

[2017-10-29 20:04] seantalts commented on #661
I think the best model is that devs have clang-format and the git pre-commit hook (included) installed, and ideally an editor plugin so they aren't frustrated with it going back and forth.

[2017-10-29 20:21] syclik commented on #661
That makes sense. What do you envision happening with exceptions to clang-format? Will it be auto-formatted for them? Or will the build error?

[2017-10-29 20:39] seantalts commented on #661
The build will error if they disobey the .clang-format file, which will
require someone to not have the hook installed or to bypass it. The only
exception to what clang-format can do automatically for Google style is the
include order sorting.
On Sun, Oct 29, 2017 at 16:21 Daniel Lee <notifications@github.com> wrote:

[2017-10-31 21:52] bob-carpenter commented on #661
I agree with just going with the standard even if I don't like bits of it.  The one change I was asking for on where to break operators isn't described one way or the other by their style guide.  At least if if it is, I can't see it.

What's this going to do for operators?  Their spec's ambiguous and says spaces are required around operators like `=`, `+`, and `-` but are optional around factors (

[2017-10-31 22:11] seantalts commented on #661
With words they say both are fine: "Note that when the code wraps in this example, both of the && logical AND operators are at the end of the line. This is more common in Google code, though wrapping all operators at the beginning of the line is also allowed." We can change it to your style.

re: byte-by-byte matching and doing it automatically - it is automatic, but generally developers have pref

[2017-10-31 22:19] sakrejda commented on #661
I'm not sure I understand this.  If it can change remotely them it becomes
a conflict next time I pull? I can see that being strange but I'm not sure
if that's what you mean.

On Tue, Oct 31, 2017, 6:11 PM seantalts <notifications@github.com> wrote:

[2017-10-31 22:21] seantalts commented on #661
Yes.

[2017-10-31 22:22] seantalts commented on #661
I mean, it doesn't have to become a conflict, but it does become a commit to your branch formatting the files you were working on. It's likely to conflict over time.

[2017-11-02 15:37] syclik opened #667 "Change std::string back to char* (PR #584) for performance reasons"
#### Summary:
We changed from char* to std::string in #584, issue #460.

This was bad for performance. We should
- [ ] revert #584
- [ ] reopen #460 (C++11 should be able to do this without the performance hit)

#### Reproducible Steps:
Run the performance tests. No other behavior changed.

#### Current Version:
v2.17.0

[2017-11-02 19:41] bob-carpenter commented on #460
Re-opened due to performance of initial implementation.

[2017-11-02 22:07] bob-carpenter opened #669 "matrix to array-of-vectors and vice-versa"
#### Summary:

Implement functions that will look like this in Stan:

[code]

#### Additional Info

Also need to add mc-stan/stan.

#### Current Version:
v2.17.0

[2017-11-03 16:32] seantalts opened #671 "Fix warning on neg_binomial_test.hpp"
#### Summary:
http://d1m1s1b1.stat.columbia.edu:8080/job/Math%20-%20Tests%20-%20Distribution/380/warnings10Result/source.3628587390108625363/#73
"control reaches the end of non-void function" here:

[code]
I'd fix it but I'm not sure what it's supposed to do if both of those fail. Git blame calls out Daniel Lee so assigning him for now.

#### Current Version:
v2.17.0

[2017-11-03 18:50] bob-carpenter commented on #671
The current implementation should be OK as long as n + alpha > 1.

You might want to replace this with throwing an exception otherwise just to be clear it's undefined behavior.

[2017-11-03 21:23] #667 closed

[2017-11-05 03:00] #652 closed

[2017-11-08 13:27] olspert commented on #660
As I've been informed by Aki, it is ok if I make the pull request for the current issue without including yet the gp_name_chol and gp_name_lpdf to the implementation.
But later I guess together with issue #501 the corresponding functions for periodic covariance functions should be also added.

[2017-11-08 22:42] bob-carpenter commented on #660
@betanalpha and @syclik:  Are you OK with @olspert's plan:

https://github.com/stan-dev/math/issues/660#issuecomment-342817063

[2017-11-12 21:23] bgoodri opened #675 "ordered_logistic_lpmf.hpp is messed up in C++11"
#### Summary:

It has `>>&` on line 197
https://github.com/stan-dev/math/blob/develop/stan/math/prim/mat/prob/ordered_logistic_lpmf.hpp#L197
which yields from clang++
[code]

#### Description:

This leads to a compiler error.

#### Reproducible Steps:

Compile something with `ordered_logistic_lpmf`

#### Current Output:

Above compiler error

#### Expected Output:

No compiler error

#### Addition

[2017-11-13 21:33] #675 closed

[2017-11-14 14:20] syclik commented on #660
I'm ok with the plan! Thanks!

On a side note, perhaps we should change the language of the wiki: I think "must" should be replaced with "should." It's written in a style of a requirements document, but they weren't requirements before implementing `cov_exp_quad` and we don't actually know the effort level required to finish out what's listed there. (I implemented most of the `cov_exp_quad` functi

[2017-11-15 16:55] wds15 opened #679 "upgrade cvodes to 3.1.0"
#### Summary:
Move to the latest cvodes 3.1.0

#### Description:
Intent to stay aligned with sundials development.

#### Reproducible Steps:

#### Current Output:
Tests for cvodes work.

#### Expected Output:
They should continue to work after the upgrade as is.

#### Additional Information:
Provide any additional information here.

#### Current Version:
v2.17.0

[2017-11-15 16:58] wds15 opened #680 "upgrade to boost 1.65.1"
#### Summary:
MPI support is broken in 1.64.0 and BH is at 1.65

#### Description:
MPI things cannot be build with this.

#### Reproducible Steps:
try to build MPI libs from boost 1.64.0 - it fails

#### Current Output:
NaN

#### Expected Output:
Things should just build.

#### Additional Information:
Provide any additional information here.

#### Current Version:
v2.17.0

[2017-11-15 17:01] wds15 commented on #680
we could consider to use also include the boost serialization and mpi library into stan-math. Currently we only distribute the header-only libs, but not the libraries which need compilation.

The mpi and the serialization library will be a requirement for within-chain parallelization to work.

[2017-11-15 19:16] bob-carpenter opened #681 "log1m error messages should say "log1m" not "log1p""
#### Summary:

Becuase `log1m` delegates to `log1p`, the error messages doesn't match the user experience.

#### Description:

Check input conditions for `log1m` directly before delegating to `log1p`.   If shared code is needed it should be pulled out and invoked after the error checks for both `log1m` and `log1p`.

#### Reproducible Steps:

Provide illegal input for `log1p`.

#### Current Version

[2017-11-15 21:11] bgoodri commented on #680
Do you know what commit fixed MPI in 1.65.1? I can possibly get it into the
next rstan. Having mpi and serialization is not a big deal for R because we
are building a shared object for StanHeaders anyway (to include CVODES).

On Wed, Nov 15, 2017 at 12:01 PM, wds15 <notifications@github.com> wrote:

[2017-11-15 21:50] wds15 commented on #680
to get mpi working the 1.65.0 boost is sufficient (only 1.64.0 has a broken MPI in the released version). I was suggesting 1.65.1 because it was released very shortly after 1.65.0. Hence I don't mind either way. We could ask Dirk about bumping to 1.65.1 or we live with 1.65.0.

[2017-11-16 12:37] andrjohns opened #682 "Vectorised error checking needs additional includes for standalone use"
#### Summary:
Error checking functions (```check_bounded``` , ```check_not_nan```, etc) are not working with vectors unless the headers for ```prim/mat/meta/is_vector```, ```prim/mat/meta/get```, and ```prim/mat/meta/length``` are included

#### Description:
Compilation fails as error functions attempt to check entirety of vector at once, rather than iterating through each value. This is because t

[2017-11-16 12:47] syclik commented on #682
I believe this is correct behavior. You should include stan/math/prim/mat.hpp ahead of including check_not_nan.

There is a way to include headers individually, but it's trickier than I can type on my phone. Please check the math wiki's home page to see if that explains enough.

[2017-11-16 13:13] andrjohns commented on #682
For new ```prim/mat``` functions as well? Seems like that would pull in a lot of unnecessary headers

[2017-11-16 14:21] syclik commented on #682
No. For the implementation in the math library, you only include the minimal header files. And yes, they won't resolve without the correct traits if you included those alone, but that's a feature of modern c++ we are leveraging in order to build the math library. (If we were to include those prim traits in that file, we'd not be able to build it with rev or fwd or mix properly.)

The test code, or

[2017-11-16 14:28] andrjohns commented on #682
That makes sense, thanks for clearing that up for me. Pretty new to c++ so thanks for the patience while I muddle through!

[2017-11-16 14:28] #682 closed

[2017-11-16 14:51] syclik commented on #682
No problem! Our use of C++ leans hard on templating meta programming and is pretty complex. We're happy to help figure things out.

Feel free to open threads on discourse if you're spending more than a few hours on any single problem.

[2017-11-28 00:17] bob-carpenter opened #683 "doc fix for effective_sample_size"
#### Summary:

@avehtari pointed out on our formus that the doc for the ESS code doesn't match its implementation:

http://discourse.mc-stan.org/t/n-eff-bda3-vs-stan/2608/2

Fix so that it matches.

P.S.  It'd also be nice to fix that Eigen Matrix of Eigen Matrix data structure.

#### Current Version:
v2.17.0

[2017-11-29 05:01] bbbales2 opened #684 "Scaled inverse chi squared random number generated isn't right"
#### Summary:
I don't think the scaled inverse chi square random number generator is right.

#### Description:
Offending line here:
https://github.com/stan-dev/math/blob/develop/stan/math/prim/scal/prob/scaled_inv_chi_square_rng.hpp#L39

Instead of
[code]

It should be
[code]

This is going by the formula in the summary at the top of: https://en.wikipedia.org/wiki/Scaled_inverse_chi-squared_distri

[2017-11-30 17:34] wds15 opened #686 "implement serial map_rect"
#### Summary:
New function which implements the non-MPI version of `map_rect`

#### Description:
As a first step towards MPI enabled within-chain parallelism we should start with the serial `map_rect` implementation. The signature in stan language should be

`vector map_rect(mpi_function, vector shared, vector[] job_params, data real[,] X_r, data int[,] X_i)`

and the user provides a function with

[2017-12-01 04:58] bob-carpenter commented on #686
I can do this, but can't start this before 8 December.

[2017-12-01 11:56] wds15 commented on #686
thanks for taking over on this. No worries about Dec 8. Let me know if you have any question and I am happy to help.

[2017-12-05 10:10] avehtari commented on #683
Is there somewhere support for the comment in the doc for the current ESS implementation? If not, then it would be better to change the code to match BDA3 as there is theory behind the Geyer's approach.

[2017-12-05 23:51] bob-carpenter commented on #683
I thought our implementation matched the BDA definition.

I don't mind if matches or not or what the implementation is---@betanalpha and @andrewgelman would be the ones to ask (don't know if Andrew gets GitHub messages).

[2017-12-06 20:19] avehtari commented on #683
I asked @betanalpha, and he was in favor of BDA3 definition. @andrewgelman accepted definition in BDA3, when BDA3 was written.

[2017-12-08 16:50] wds15 opened #688 "Beta Binomial CDF + CCDF give wrong value at boundary"
#### Summary:
The BetaBinomial CDF and CCDF give wrong values at the 0 boundary.

#### Description:
The CDF is defined as Prob(r <= n) such that for n=0 we should get the pmf value for n=0. Right now, the CDF defined in stan::math returns 0 which is not the correct value.

The CCDF has a similar problem. This is defined as Pr(r > n). Therefore, for n=0 we should get 1-Pr(r=0), but we do get 1 at t

[2017-12-10 19:20] avehtari commented on #604
I had today this same problem, and commenting out that line helped.

[2017-12-12 19:59] wds15 commented on #680
as discussed earlier we are going to include the boost mpi and the serialization library into stan-math. Can we simply include those with this issue?

[2017-12-12 20:02] syclik commented on #680
Yes, but can you be more specific? What other things does it need? It
sounds like we need to include Boost Build as well? Is that it?

On Tue, Dec 12, 2017 at 2:59 PM, wds15 <notifications@github.com> wrote:

[2017-12-13 08:33] wds15 commented on #680
it would probably be the easiest way to deploy if we include boost build. The alternative is to figure out what boost build is actually doing in order to build mpi and serialization. It seems to me that there are not any extra-dependencies such that we could well be able to figure out a makefile to build it ourselves without boost build. I am open for either approach - it depends what others think

[2017-12-13 08:45] wds15 commented on #669
would these functions work row / column wise?

so array_of_columns would take the matrix, then slice it by column and make them an array?

... and yes, these functions would be very useful...

[2017-12-13 17:30] bob-carpenter commented on #669
This is the problem with these definition---not clear what they mean by just looking at them.   I'll edit to make the intention clear.

[2017-12-13 17:35] bob-carpenter commented on #680
If Boost build works, it'll be easier in the long run to just call that.

[2017-12-13 23:42] syclik opened #689 "Update README.md"
#### Summary:
Libraries are out of date. Just needs to be updated.

#### Current Version:
v2.17.0

[2017-12-14 03:07] syclik opened #690 ".github/ISSUE_TEMPLATE.md out of date: still says 2.17.0"
#### Summary:
It's useful to know when issues were created.

#### Description:
We have the current version stored in the .github/ISSUE_TEMPLATE.md file.

It's usually updated when we release a new version. It helps us keep track of when the issues were created. If we don't want to track it, we should just remove it from the template altogether.

#### Current Version:
v2.17.1

(the template says v2

[2017-12-14 03:08] syclik commented on #690
Wait... I bet this is because we're branched from v2.17.0? @seantalts, can you confirm?

[2017-12-14 03:13] seantalts commented on #690
It’s because 2.17.1 is on a leaf node that won’t be merged in.
On Wed, Dec 13, 2017 at 22:08 Daniel Lee <notifications@github.com> wrote:

[2017-12-14 03:29] syclik commented on #690
Thanks! Closing the issue.

[2017-12-14 03:29] #690 closed

[2017-12-14 08:31] wds15 commented on #680
could we quickly run this by the bigger stan team today in the meeting if we should consider this as an option to include boost build?

[2017-12-14 22:51] bob-carpenter commented on #680
I try to run user-facing decisions in the language by the larger team, but something like this won't matter to most people as long as it doesn't make installation any harder from their perspective.  I'd rather not reimplement their build system if what they have works for us.

[2017-12-16 03:29] #689 closed

[2017-12-16 04:26] #661 closed

[2017-12-17 17:02] bob-carpenter opened #692 "Container construction utilities"
#### Summary:

Provide functions to construct commonly used containers.

#### Description:

Here are suggested signatures:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

These all need to validate sizes are non-negative and validate other bounds like the index being in ragne for `one_hot_vector`.

We could also have versions for `_row_vector` and `_array`, and `_int_array`.

This lines u

[2017-12-17 21:41] youcefm opened #693 "bug in neg_binomial_2_log_glm_lpmf.hpp is breaking stan/math"
#### Summary:
Trying to run a simple hello_world example from the Readme on a fresh clone of the `develop` branch leads to errors and failure of the program. The errors originate from the file `neg_binomila_2_log_glm_lpmf.hpp`.
By commenting out line 292 in `~/stan-dev/math/stan/math/prim/mat.hpp` like so
`//#include <stan/math/prim/mat/prob/neg_binomial_2_log_glm_lpmf.hpp>`
, the program is able

[2017-12-17 22:01] VMatthijs commented on #693
I'll look into it. Thanks for flagging it up!

[2017-12-17 22:05] VMatthijs commented on #693
What version of clang are you using? At first glance the problem seems to be caused by lambdas which might require a more up to date compiler.

[2017-12-17 22:14] youcefm commented on #693
Not sure how to read this:
[code]
Is there a recommended version? where can I see that?

[2017-12-17 22:49] bob-carpenter commented on #693
You need to use the C++11 flag, `-std=c++11`.  If that's not in the manual, this is a doc issue.

[2017-12-17 23:15] youcefm commented on #693
Sorry, got to accustomed to ignoring warnings :man_facepalming:
I confirm that running the hello world example with this
`clang++ -I ~/stan-dev/math -I ~/stan-dev/math/lib/eigen_3.3.3/ -I ~/stan-dev/math/lib/boost_1.64.0/ -I ~/stan-dev/math/lib/cvodes_2.9.0/include foo.cpp -std=c++11`
 works without warnings or errors of any kind

[2017-12-18 02:01] syclik commented on #693
@youcefm, I just created a pull request to fix the doc. Let us know if anything looks out of place:
https://github.com/stan-dev/math/pull/695

[2017-12-18 21:48] #671 closed

[2017-12-20 15:58] yizhang-cae opened #696 "system_functor missing f_ initiliazation"
#### Summary:
system_functor in algebra_system.hpp missing f in init line

#### Description:

#### Reproducible Steps:
This bug causes failure of torsten library's generalOdeModel_test unit test.

#### Additional Information:
Provide any additional information here.

#### Current Version:
v2.17.0

[2017-12-20 16:09] syclik commented on #696
How do you run the torsten unit test?

On Wed, Dec 20, 2017 at 10:58 AM, Yi Zhang <notifications@github.com> wrote:

[2017-12-20 16:16] yizhang-cae commented on #696
I'll check in a minimal test to reproduce the failure

[2017-12-20 18:05] bob-carpenter commented on #696
Welcome to the project and thanks for reporting.  Feel free to just submit a pull request with a unit test and fix.

[2017-12-21 19:25] #696 closed

[2017-12-21 21:05] bob-carpenter opened #698 "Remove all caps typenames for Solaris compilation"
#### Summary:

Solaris fails to compile Stan with all-caps type names.

#### Description:

From @bgoodri on http://discourse.mc-stan.org/t/stan-broken-on-solaris-need-fix-today/2826:

Stan models don't compile on Solaris

It has something to do with using all capital letters for a typename. For more detail, see

https://www.r-project.org/nosvn/R.check/r-patched-solaris-x86/bayesplot-00check.html
D

[2017-12-22 02:04] #693 closed

[2017-12-22 03:35] bob-carpenter commented on #680
I'm working on adding the basic boost now, but we'll then need to go and add in the rest of 1.65.1 that @wds15 needs.

[2017-12-22 04:29] bgoodri commented on #680
Boost is up to 1.66.0 now anyway. It has a nice metaprogramming library.

On Dec 21, 2017 9:35 PM, "Bob Carpenter" <notifications@github.com> wrote:

[2017-12-22 16:50] bob-carpenter commented on #680
Boost's at 1.66, but BH is still at 1.65.0, so we should stick to 1.65 to not get ahead of BH.  I went with the patch version 1.65.1 which fixes some bugs in 1.65.0 in modules I don't even think we use.

[2017-12-23 00:59] bgoodri commented on #680
I think it is fair to assume that if 1.66.0 were necessary for something,
BH could be upgraded to 1.66.0 in a few weeks. I don't think the MPI stuff
falls in that category. The metaprogramming library would, but that is OT.

On Fri, Dec 22, 2017 at 11:50 AM, Bob Carpenter <notifications@github.com>
wrote:

[2017-12-23 05:01] wds15 commented on #680
65 or 66 should not matter for mpi. If 66 is so much better, then let’s just ask Dirk. He is very quick in responding usually.

[2017-12-23 06:23] bob-carpenter commented on #680
I don't even know what's in 1.66.  I was just saying we need to keep in synch with BH.  It's fine if that happens through both of us keeping up with new Boost releases.

[2017-12-26 20:03] avehtari commented on #683
I added a branch https://github.com/stan-dev/stan/tree/bugfix/issue-683-effective_sample_size
Now it's bit confusing that this issue is is in stan-dev/math, but the chains.hpp is in stan-dev/stan,
and I didn't notice this before pushing the branch. I guess I should make a new issue in stan-dev/stan?

[2017-12-28 15:59] bob-carpenter commented on #683
What you have on the branch linked isn't a documentation fix, so this issue should be updated to reflect what's really going on.

If this requires fixes to math and to stan itself, it'll need two issues.  If it's only doc on stan, then you can just add that to the ongoing doc issue.

[2017-12-28 16:10] bob-carpenter opened #704 "Replace stream pointers with references"
#### Summary:

All over the code we use `std::ostream*` when we should be using `std::ostream&` because there's no null handling in the code.

#### Description:

Remove ability to formulate buggy programs by trying to pass null pointers.

#### Reproducible Steps:

Call functions taking stream pointers with null stream will produce segfaults.

#### Current Output:
The current output. Knowing what i

[2017-12-28 17:22] avehtari commented on #683
Both the code and doc need fixing. I'll add another issue for the code in stan-dev/stan.
I assigned myself to fix the doc, too.

[2017-12-28 21:12] #680 closed

[2017-12-28 21:16] bob-carpenter commented on #683
Functionality changes and doc should go together in one issue and one pull request.

[2017-12-29 09:18] avehtari commented on #683
Ok. I close this issue as the correct issue should be in stan-dev/stan (not in math).

[2017-12-29 09:18] #683 closed

[2018-01-02 15:51] wds15 opened #706 "mdivide_right_tri copies a lot"
#### Summary:
The current mdivide_right_tri functions does lots of copying.

#### Description:
Currently, the mdivide_right_tri function does a lot of copying as it calls the mdivide_left_tri function with each of its inputs being transposed. As each input gets copied this creates a lot of overhead.

So
[code]

currently this is mapped to (A' * b')' and evaluated by creating a copy of A and b. We

[2018-01-02 16:54] wds15 commented on #706
uhm... after digging into this I found another variant (and test for it) in our `fwd` directories (`./test/unit/math/fwd/mat/fun/mdivide_right_tri_test`). That one is  not as easy to fix as for the prim case. Lot's of things are weird (for me)

- most of the fwd mode tests do not compile because of odd Eigen casting errors (things like `YOU_MIXED_DIFFERENT_NUMERIC_TYPES__YOU_NEED_TO_USE_THE_CAST_M

[2018-01-02 19:27] bob-carpenter commented on #706
Reducing copies would be great.  Transposes are *much* worse than copies as one of the matrices is going to be copied without memory locality.

For the first case, you can't perform operations that mix different scalar types.  So no matrix/vector multiplication of `var` and `double` or `fvar<double>` and `double`.  Instead, you can call Stan's functions, which do admit mixing `double` and autodiff

[2018-01-03 08:24] wds15 commented on #706
What I really do not understand is that the `promote` magic works for the `mdivide_left_tri` function, but it fails when you insert some `transponse` calls at the right positions whenever you go to `fwd`. Just compare these:
- [mdivide_left_tri](https://github.com/stan-dev/math/blob/develop/stan/math/prim/mat/fun/mdivide_left_tri.hpp)
- [mdivide_right_tri old](https://github.com/stan-dev/math/blob

[2018-01-03 18:22] wds15 opened #707 "Extend operands_and_partials to work with multi-variate containers"
#### Summary:
The `operands_and_partials` facility has almost complete support for multi-variate containers (arrays of vectors and plain vectors as input).

#### Description:
The `partials_vec_` member is only defined whenever a vector of `vars` is passed in as an edge, but when the edge is to be ignored, then there is no definition of any `partials_vec_` which prevents code to compile.

#### Repr

[2018-01-03 19:10] wds15 opened #708 "add analytic gradients to multi-variate normal cholesky"
#### Summary:
Currently the multi variate normal density does not take advantage of analytic gradients which slows down unnecessarily computations.

#### Description:
Add analytic gradients for more speed.

#### Reproducible Steps:
NA

#### Current Output:
All tests work:

[code]

#### Expected Output:
All tests should still work, but evaluation is faster.

#### Additional Information:
Provide any

[2018-01-03 19:35] bob-carpenter commented on #706
OK, checked out and validated it doesn't work.  The return of a transposition is a different type.

[2018-01-04 17:28] wds15 commented on #707
The idea to introduce a `empty_nested_broadcast_array` seems to solve all issues we have. Now the sizeof operator goes from 5 to 10 (instead to 80 when using broadcast_array on the empty_broadcast_array).

I don't think we can do much better than that, but others (in particular @seantalts ) should check.

[2018-01-04 23:16] bob-carpenter opened #712 "implement math::sqrt(double) and math::sqrt(int)"
#### Summary:

Avoid ambiguous instantiations with some compilers.  `sqrt` should look like `exp` and have its own implementation in `stan::math` for the primtive arithmetic types that show up in Stan.

#### Description:

This is another version of #327 --- the issue that won't die.

#### Reproducible Steps:

It recently cropped up in RStan on Ubuntu:  https://github.com/stan-dev/rstan/issues/477

[2018-01-07 16:30] wds15 opened #713 "avoid shifting with initials in non-stiff ode integrator"
#### Summary:
Currently, the coupled_ode_system shifts the ode states to 0 at t=0 whenever initials vary. The final solution is then calculated by shifting the final system back by the initials. This involves a copy of all states at all solution time points which degrades performance.

#### Description:
The goal of this pull is to simplify and speedup the non-stiff ode integration. The current app

[2018-01-11 22:56] syclik opened #719 "Add discrete uniform rng for stan#2457"
#### Summary:
Add a discrete uniform rng for https://github.com/stan-dev/stan/issues/2457.

#### Additional Information:
Can use boost.

#### Current Version:
v2.17.0

[2018-01-12 07:51] wds15 commented on #707
This has been fixed by pull #711

[2018-01-12 07:51] #707 closed

[2018-01-12 07:52] wds15 commented on #713
fixed in pull #714

[2018-01-12 07:52] #713 closed

[2018-01-12 22:20] bob-carpenter commented on #719
What's the behavior and signature?  Mainly, how are the possible outcomes specified?  I can imagine

* `discrete_uniform_rng(N)`  : generate uniform on `1:N`

* `discrete_uniform_rng(L, U`):  generate uniform on `(L, U)`

* `discrete_uniform({a, b, c})` : uniform on `{a, b, c}`
    - integer only `a`, `b`, `c`
    - real allowed

[2018-01-19 15:04] syclik commented on #719
when I discussed with @lcomm, the behavior and signature was closest to the second option:

`discrete_uniform_rng(L, U)`: generate uniform on `[L, U]` inclusive of the bounds

I think this seems reasonable:
[code]

would randomly generate a number from 1 to 10 inclusive. (I looked at R's `purrr::rdunif` and it's also inclusive.)

[2018-01-19 15:20] lcomm commented on #719
Yes, as @syclik says, that's the behavior that seems most natural to me. We also discussed naming schemes and `discrete_uniform` makes more sense than `uniform_discrete` since the other distributions have set a precedent of `[distribution]_[link]` (like `bernoulli_logit`). The discrete uniform is its own distribution and not a variant of the continuous version.

[2018-01-19 15:47] bob-carpenter commented on #719
How about:

discrete_range_lpmf(y | lb, ub)

It matches our Distribution_Parameterization naming convention.

Definitely inclusive on bounds to match constraints in declarations.

Definitely don't want to confuse with the uniform lpdf.  categorical is also bad in that we've taken categorical to be just over 1:K as currently defined.

[2018-01-20 04:02] syclik opened #727 "warnings in math dependencies"
#### Summary:
The current develop branch has warnings when running:
[code]

#### Description:
We shouldn't have any warnings. (A lot of these go away if we ever merge `scal`, `arr`, `mat`, but while we still have that distinction, we should maintain the separation.)

It looks like Jenkins doesn't check for this on pull requests. @seantalts, mind looking into that?

#### Reproducible Steps:
[code]

[2018-01-22 18:10] mcol commented on #727
Commit 8e83e4f2c98859faa85c8d58ee412d8493c6eb35 introduced them: they appear in the documentation rather than in the code, but the regular expression used to spot them doesn't know about this.

[2018-01-23 13:59] syclik commented on #727
Thanks! That really helps. I'll try to fix it.

[2018-01-23 14:08] seantalts commented on #727
Were you asking me to look into making Jenkins fail if test-dependencies shows warnings? I was just going to squash the directories and remove the test, haha.

[2018-01-23 14:17] syclik commented on #727
Not sure what you're asking. We should have caught this before it got merged. This one's in the doc, so we should be able to fix it easily.

Regarding squashing directories, that's good, but it's not something that we should do lightly. This is something we should have a discussion about on discourse and give it some serious thought. It's not something that can be undone easily. It'll affect any u

[2018-01-23 14:22] seantalts commented on #727
The jobs were set up to let the math dependencies warnings slide by without setting the build to failed. You can see that in the old Math jobs [here.](http://d1m1s1b1.stat.columbia.edu:8080/job/Math%20-%20Warnings%20-%20Dependencies/322/). I copied that behavior into the new pipeline jobs.

Reason for squashing and ignoring the tests until then being that we at one point decided that we didn't hav

[2018-01-23 16:42] syclik commented on #727
Re: old math jobs. I see the current behavior, but it used to fail when there were any warnings. I didn't see any radical changes to the config, so maybe it's an updated Jenkins / plugin? Either way, we want to stop pull requests when it fails that test (even now).

Let's continue the discussion on discourse.

[2018-01-24 17:55] #727 closed

[2018-01-26 22:22] yizhang-cae opened #734 "add Adam-Moulton scheme for higher order integration"
#### Summary:
Add Adams-Moulton ODE integration scheme from CVODES.

#### Description:
CVODES provides BDF (current implicit ode solver implementation) and Adams-Moulton schemes. BDF has the advantage of being highly stable, but this only applies low-order cases(order<5). For achieve higher-order accuracy up to order 12, one needs the Adams scheme.

CVODES imposes same interface for the two scheme

[2018-01-27 10:08] wds15 opened #736 "include MPI boost sources"
#### Summary:
include boost MPI, serialization and boost build sources to prepare MPI inclusion

#### Description:
This issue is the first addition to stan-math preparing MPI inclusion. As a first step this issue is for including additional sources from boost needed to get MPI working.

#### Reproducible Steps:
NA

#### Current Output:
NA

#### Expected Output:
NA

#### Additional Information:
Pro

[2018-01-29 21:23] yizhang-cae opened #741 "Add IDAS package from SUNDIALS for future DAE solution features"
#### Summary:
For future DAE features, we need a DAE solver. Since stan math already adopts CVODES, we can use IDAS from the same SUNDIALS package.

#### Description:
Differential Algebraic Equations(DAE) are more general than ODE, but also more challenging to solve. In application It usually involves an ODE system and an algebraic system. A classical example is the pendulum in Cartesian coordinat

[2018-01-30 22:12] yizhang-cae opened #743 "Update CVODES to 3.1.0"
#### Summary:
Bump cvodes from 2.9 to 3.1

#### Description:
Since 3.0.0 CVODES has been using a new API for matrix & linsol. This facilitates future solver performance tuning and CUDA support.

#### Current Version:
v2.17.0

[2018-02-03 10:17] wds15 opened #746 "clean up multi_normal_cholesky"
#### Summary:
Implement the changes requested by @bob-carpenter

#### Description:
Just some code cleanup.

#### Reproducible Steps:
NA

#### Current Output:
NA

#### Expected Output:
NA

#### Additional Information:
Provide any additional information here.

#### Current Version:
v2.17.0

[2018-02-04 19:45] mcol commented on #681
I think this can be closed now.

[2018-02-06 20:28] #746 closed

[2018-02-06 20:28] wds15 commented on #746
pull was merged

[2018-02-06 20:38] wds15 opened #752 "further speedup multi_normal_cholesky"
#### Summary:
The multi normal cholesky implementation does not use optimally the inverted cholesky factor.

#### Description:
The density calculation can be speed up further by reshuffling the expressions to make better use of the computed inverse of the cholesky factor.

#### Reproducible Steps:
NA

#### Current Output:
NA

#### Expected Output:
NA

#### Additional Information:
Provide any addit

[2018-02-07 14:49] charlesm93 opened #755 "Embedded Laplace approximation"
#### Summary:
Want to create a Laplace approximation for the following distributions:
- Normal
- Poisson
- Binomial
- Negative binomial

#### Description:
Doing a Laplace approximation with the current algebraic solver (which uses a dogleg solver) is prohibitively slow. Instead we could use a Newton line-search method, coupled with some analytical derivatives. This line-search method would be spec

[2018-02-07 17:12] bob-carpenter commented on #755
Is the only use case you anticipate through the Stan language?  Is the idea to have approximate distributions, like poisson_approx or something?

This issue eventually needs to specify what the signatures are of any functions that are being proposed for the math library.

@charlesm93---I assigned to you for v3.0.0 (that's where I'm putting things we definitely want to do but not necessarily for th

[2018-02-08 14:09] drezap opened #756 "deprecate old GP covariance function names"
#### Summary:
"Rename" the old GP covariance function names, such as `cov_exp_quad`, and change to the new naming convention: `gp_exp_quad_cov`.

#### Description:
GP covariance functions from now on will follow the same naming convention. I will:

1) rename the old functions to `gp_[name]_cov.hpp`, replacing all old function names with the new ones.
2) write the deprecated function names as wrapp

[2018-02-08 16:32] wds15 commented on #708
this was merged

[2018-02-08 16:32] #708 closed

[2018-02-08 16:34] wds15 commented on #679
this is a duplicate of issue #743

[2018-02-08 16:34] #679 closed

[2018-02-10 17:25] bob-carpenter opened #757 "improve csr_matrix_times_vector efficiency"
#### Summary:

There are several steps that could be taken to improve memory and speed efficiency of `csr_matrix_times_vector` in reverse mode.

#### Description:

1.  Introduce typedef
[code]
Eigen::Matrix<result_t, Eigen::Dynamic, 1> result(m);
  result.setZero();
[code]
vector_t result = vector_t::Zero(m);
[code]

[2018-02-10 18:25] drezap opened #758 "add dot product covariance function"
#### Summary:
add `gp_dot_prod_cov.hpp`.

#### Description:
Add a dot product covariance function. A `prim` implementation will look something like this:
[code]

#### Current Version:
v2.17.0

[2018-02-11 13:55] avehtari commented on #755
This is part of the path towards INLA speed for Gaussian latent variable models in Stan. Anticipated first use case is compound functions for GLMs with Laplace integration over weights. Issue #493 describes compound function
[code]
where speed-up is obtained with analytic gradients. With Laplace approximation it would be possible to add something like
[code]
which would assume Gaussian prior on be

[2018-02-11 18:30] wds15 opened #760 "refactor cvodes ode system"
#### Summary:
Refactor cvodes ode system to use `coupled_ode_system` facility.

#### Description:
The goal is to abandon two systems which actually do the same thing by now. This refactor routes execution of the cvodes solver through the `coupled_ode_system` facility. This will make it easier to add a possibly varying initial time later.

#### Reproducible Steps:
NA

#### Current Output:
NA

####

[2018-02-11 18:51] wds15 commented on #755
@avehtari this sounds great...shouldn't we have a different sigma for the intercept and all other regressors? I would appreciate that as I don't like that much data-driven priors which you essentially end-up if I can only give a single sigma and hence have to transform my data. Maybe too early for these comments, but relevant from my perspective.

[2018-02-11 19:41] avehtari commented on #755
Sure. I didn't say that sigma would be a scalar. We'll make a more detail proposal soon.

[2018-02-12 13:47] syclik commented on #760
@wds15, if there are any more notes on design, would you please put them here?

Do any of the interfaces change? (even at the C++ level?)

[2018-02-12 13:52] wds15 commented on #760
I have put those notes into the pull or are u looking for other information?

Nothing changes in terms of how the `integrate*` functions are used. We just get rid of a lot of code. The pull net removes ~750 lines of code.

[2018-02-12 13:55] syclik commented on #760
Sorry -- didn't get to the PR yet. I expected to find the design discussion with the issue, not the PR.

[2018-02-12 14:00] syclik commented on #760
@wds15, I just took a quick look. I'll need more time. Things that would help:
- describe what's being refactored. I'm just blindly walking through the diff to understand the extent of the code change. It would seriously help if you told us what you've removed and what you've replaced it (in words instead of just relying on the code diff).
- was there anything you needed to do to make the differen

[2018-02-12 14:03] wds15 commented on #760
Will do the high-level description of whats happened into the pull. Fine with that?

BTW, we also gain ~20% in speed on my little example I tried.

[2018-02-12 14:07] syclik commented on #760
Yup. It just needs to go somewhere. (Preferred on the issue before the PR gets started on, but being somewhere is better than no where.)

How do you determine the ~20% increase in speed? Can we include that test in the PR?

[2018-02-12 14:08] syclik commented on #760
Or at least describe it so we can use it in the future.

[2018-02-12 14:10] wds15 commented on #760
The speed difference is described in the pull. What extra information would you need for that? Do you need as much detail so you would be able to run that performance test yourself?

[2018-02-12 14:14] syclik commented on #760
Yes! We don't just need words, we need code! And some way to determine
whether we're slowing down or speeding up.

On Mon, Feb 12, 2018 at 9:10 AM, wds15 <notifications@github.com> wrote:

[2018-02-12 14:19] wds15 commented on #760
Hmm... I always run my performance tests on the side to ensure I do not mess up things. Can we treat that speed bump as an FYI for this pull? I am happy to put a bit more detail as to what I am doing there exactly... but we do have a lacking performance benchmark framework right now.

[2018-02-12 14:26] syclik commented on #760
Yes. We don't have a general framework for it, so it won't be part of it,
but if you're claiming it, someone should verify it independently, no?

On Mon, Feb 12, 2018 at 9:19 AM, wds15 <notifications@github.com> wrote:

[2018-02-12 14:33] wds15 commented on #760
I don't think it needs to be confirmed by the reviewer, no. That's why I suggest to treat it as an FYI. Otherwise I suggest to remove this statement.

[2018-02-12 14:36] syclik commented on #760
If you know that there is a performance difference, then before merging, it
should be verified by the reviewer. Or you should show it somehow. I really
don't think it's ok to let it slide in either direction. (slower or faster)

On Mon, Feb 12, 2018 at 9:33 AM, wds15 <notifications@github.com> wrote:

[2018-02-12 14:48] wds15 commented on #760
Enabling another reviewer to run the performance test himself would be asking for a lot. How about I file the log file of the run?

[2018-02-12 15:44] bob-carpenter commented on #760
From @syclik:

<blockquote>
If you know that there is a performance difference, then before merging, it should be verified by the reviewer.
</blockquote>

For example, that `mdivide_right` pull request is now going to need a performance review if we follow this review policy, because we know it changes performance as it completely changes the way copying gets carried out.

But I don't think the de

[2018-02-12 15:55] wds15 commented on #752
This has been merged with pull #753

[2018-02-12 15:55] #752 closed

[2018-02-12 16:07] syclik commented on #760
Let's move the general discussion to the forums. Wasn't trying to be
arbitrary. There is some method to the madness.

For this particular pull request:
- calling something a "refactor" and that leading to a 20% speed increase
is shocking; it smells off (am I the only one that thinks so?)
- given that @wds15 has now claimed that it does without explaining how or
why, I believe it, but I think it sh

[2018-02-13 07:43] wds15 commented on #760
Just to clarify: I did not expect a speed bump. It is a bit of a surprise to me as well, but I take it. My hunch is that less copying is taking place and memory locality is improved. So the old version wrote Jy and Jtheta (Jacobian wrt to states and parameters) in dedicated Eigen matrices and then assembled the coupled system on the basis of matrix vector products. The `coupled_ode_system` on the

[2018-02-14 14:49] syclik commented on #698
Any suggestions on how to prevent this from happening in the future? We could add a script to search for this pattern if that helps.

[2018-02-14 14:59] bob-carpenter commented on #698
That's the only way I could see it mattering.  The only complication I see would be distinguishing the int cases from variable declarations.

[2018-02-14 15:18] bob-carpenter opened #763 "testing for mdivide derivatives"
#### Summary:

There are no tests for derivatives for mdivide_right (which is defined in terms of mdivide_left).  There should be tests of both instantiations (vector and matrix), and for the triangular and square versions.  If mdivide_left isn't tested, add symmetric tests for that.

The tests could use the reduction to `mdivide_left` to test derivatives if the tests exist for `mdivide_left`.

##

[2018-02-14 15:50] syclik commented on #32
@charlesm93 implemented the `matrix_exp` function! Closing this issue.

[2018-02-14 15:50] #32 closed

[2018-02-14 16:26] bgoodri opened #765 "Bump Boost to 1.66.0"
#### Summary:

BH is based on Boost 1.66.0 so we should match sometime before the next release

#### Description:

BH is based on Boost 1.66.0 so we should match sometime before the next release. Also, if we want to use the Boost Compute library from 1.66.0, we can.

#### Reproducible Steps:

There is no issue.

#### Current Output:

There is no output.

#### Expected Output:

I do not expect any

[2018-02-14 16:55] bob-carpenter commented on #765
I'll take caref of this.  It's testing on my machine now, so if it works, I should be able to push this afternoon.

[2018-02-14 22:35] yizhang-cae commented on #741
This was address by #742 and merged. Please close.

[2018-02-14 22:42] yizhang-cae opened #767 "DAE solver with forward sensitivity analysis."
Summary:

DAE solver with forward sensitivity analysis.

Description:

Differential Algebraic Equations(DAE) are more general than ODE, but also more challenging to solve. In application It usually involves an ODE system and an algebraic system. A classical example is the pendulum in Cartesian coordinates. In PK/PD applications, an example is one/two-compartment PK model linked to an Emax model, s

[2018-02-15 07:45] wds15 commented on #767
Can you point me to an example of a 2-cmt model linked with an Emax response which needs a DAE?

I don't see the need for a DAE here so I guess I don't get what you mean here.

(I am not objecting at all against this; I am just trying to understand use cases which are relevant to me as well).

[2018-02-15 07:47] #741 closed

[2018-02-15 16:13] yizhang-cae commented on #767
We can always think the simultaneous approach of PK/PD modeling as a DAE model, though it's naturally decoupled. A slightly more complex model would be a pk model with nonlinear equilibrium binding (@billgillespie showed this to me).
dx1(t)/dt = -(CL + CL12) * cu(t) + k21 * x2(t)
dx2(t)/dt = CL12 * cu(t) - k21 * x2(t)
x1(t) = Vu * cu(t) + Vb * cb(t)
cb(t) = Bmax * cu(t) / (Kd + cu(t))

observed va

[2018-02-15 16:27] #698 closed

[2018-02-15 16:36] #706 closed

[2018-02-15 18:11] #765 closed

[2018-02-15 22:43] #553 closed

[2018-02-16 09:15] wds15 commented on #592
Would dynamic linking vs the cvodes library (instead of static linking now) speed up the linking process? This would be another way to speed up compilation and if the answer is yes to that, then I am happy to open another issue for this.

[2018-02-16 16:16] bob-carpenter commented on #592
I don't know.  Would you mind benchmarking?

We need to start thinking about general ways to speed up compiles.  Right now, most of our time's sunk dealing with the header compilation, much of which could be redone.  One of my to-do items as we refactor the underlying language and model class is to introduce enough instantiated virtuals that we can precompile the algorithms.

[2018-02-16 18:09] yizhang-cae commented on #32
@bob-carpenter mentioned [Al-Mohy's paper.](http://epubs.siam.org/doi/abs/10.1137/100788860) Is it on someone's todo list? If not I'm gonna assign it to myself.

[2018-02-16 20:03] yizhang-cae commented on #32
Hi @charlesm93 @syclik, the `matrix_exp` function passes matrix `A` by value, not by reference. Is this intended?

[2018-02-16 22:51] syclik commented on #32
Wow, that was cryptic. Can you either send the file name + line number? Or find it directly in GitHub online, click the line, then send that link?

[2018-02-16 23:11] yizhang-cae commented on #32
Sorry. I was referring this
https://github.com/stan-dev/math/blob/ad01b2cc20f1158eac34d875f7253a42a3fab940/stan/math/prim/mat/fun/matrix_exp.hpp#L21

[2018-02-16 23:26] syclik commented on #32
Thanks. No, I don't think that was intentional. Mind creating a new issue for it?

[2018-02-17 00:10] bob-carpenter commented on #32
I think it's a mistake, as the matrix is only ever passed as const reference.

I recall seeing a pass-by-value that was intentional for a copy, but I think we should avoid doing that and I don't think that's what's going on here.

[2018-02-17 21:07] charlesm93 commented on #32
The not passing by reference looks like a mistake. I can create an issue and a fix.

[2018-02-17 21:15] charlesm93 opened #769 "Passing by reference for 2x2 Matrix exponential"
#### Summary:
Minor error in the code. The argument matrix is passed by value, rather than being passed by reference. See line 21 of math/stan/math/prim/mat/fun/matrix_exp.hpp in ad01b2c

#### Current Version:
v2.17.0

[2018-02-17 21:37] charlesm93 commented on #32
Issue #769 and pull request #770 .
@yizhang-cae There are several ways to optimize the current implementation of the matrix exponential. I can discuss here or create a new issue (on optimizing matrix exp function -- or is that not specific enough)?

[2018-02-19 12:35] drezap commented on #756
Hi - is there a reason no one has responded to this? I would really like to get this done, and add another covariance function this week. @syclik

[2018-02-19 14:12] yizhang-cae commented on #32
Let's discuss in the new issue thread. Thanks.

Regards,
Yi Zhang
metrumrg.com

On Sat, Feb 17, 2018 at 4:38 PM, Charles Margossian <
notifications@github.com> wrote:

[2018-02-19 18:34] syclik commented on #756
sorry -- didn't realize this issue was waiting for a response (there wasn't a question or even an obvious response to make).

For what it's worth, what you wrote makes sense. If you're putting together the PR, I'd request the deprecated function has doxygen doc that says it's deprecated. For example:
https://github.com/stan-dev/math/blob/c36cfa2becfcc2a0673addb1600e9133e822998d/stan/math/prim/scal

[2018-02-20 16:25] qdread commented on #28
I would also appreciate being able to evaluate the zeta function in Stan because I am trying to fit a piecewise distribution and it is needed to ensure smoothness at the breakpoint. Is there any way I can do this?

[2018-02-20 17:17] bgoodri commented on #28
Stan needs to wrap it from Boost
http://www.boost.org/doc/libs/1_66_0/libs/math/doc/html/math_toolkit/zetas/zeta.html

On Tue, Feb 20, 2018 at 11:25 AM, Quentin Read <notifications@github.com>
wrote:

[2018-02-20 17:50] bob-carpenter commented on #28
Looks like someone conveniently worked out the form of the derivative:

https://proofwiki.org/wiki/Derivative_of_Riemann_Zeta_Function

If you try to just use the templated form from Boost, it'll autodiff their iterative definition of `zeta` rather than implementing the approximate autodiff.  The latter's usually more stable, though we've gotten many workable results from the former.

[2018-02-20 19:40] yizhang-cae opened #771 "Matrix exponential action"
#### Summary:
Speed up calculation of `exp(A)*b` where `A` is a matrix and `b` is a vector.

#### Description:
Seeking comments and suggestions.

I've implemented a prototype of [Al-Mohy's paper.](http://epubs.siam.org/doi/abs/10.1137/100788860) The method is designed to speed up matrix exponential action on a vector, which is ubiquitous in linear ODE and PDE solutions. Initial wall time compariso

[2018-02-20 22:00] bob-carpenter commented on #771
Hard to argue with the results.  I'd want to see what things look like for smaller matrices to see if there's some transition point or if the new thing's always better.

Did you compute analytic gradients?  And is the plan to add a new Stan function to match this somewhere?  That'll be easy if the function exists.

[2018-02-20 22:25] yizhang-cae commented on #771
For smaller matrices the speed gain is less obvious. Here's random matrices wall time for N=1-15.
<img width="445" alt="screen shot 2018-02-20 at 5 18 23 pm" src="https://user-images.githubusercontent.com/33104304/36452343-182db354-1662-11e8-8437-0610692f028b.png">

I didn't compute analytic gradients. For function interface I'm thinking about overloading `matrix_exp`, like [Mathematica](http://re

[2018-02-21 00:49] bob-carpenter commented on #771
Yes, we can overload functions.  They just have to have distinct argument signatures, like in C++.

I'm not sure which is which here, but the "action" column seems much more consistent, so that's the one I'd choose from just this data at these sizes.

Analytic gradients, when possible, can come with big speed boosts and even bigger memory savings.

[2018-02-21 03:15] #736 closed

[2018-02-21 07:56] betanalpha commented on #771
At the very least the derivative of the exponential times a vector
will be of the form

d(matrix_exp * vector) = d(matrix_exp) * vector + martix_exp * d(vector)

so you can compute a crude analytic gradient by using the current
code to compute the analytic gradient of the matrix_exponential and
the input vector and then compute the product rule explicitly.  That
should save on significant memory,

[2018-02-22 16:40] charlesm93 commented on #771
In my experience, we often deal in pharmacometrics with systems of less than 10 ODEs, so the low dimension regime remains of interest. That said, I expect semi-analytical gradients will give the action of the matrix exp a major advantage, since as @bob-carpenter  said during the Stan meeting we would only compute the derivatives for a vector.